<h1>Création d'une nouvelle catégorie</h1>

<% form_for@category do |category|%>
  <%= category.error_messages %>
  <%= render :partial => "form", :locals => {:category => category} %>
  <%= category.submit "Ajouter"%> &brvbar; <%= link_to( "Retour", :controller => 'product_reference_manager', :action => 'index' ) %>
<% end %>