<% parcel = process_by_supplier_forms%>
<p>
  <%= label_tag "En traitement par le fournisseur depuis le: " %>
  <%= text_field_tag 'parcel[processing_by_supplier_since]', (parcel.processing_by_supplier_since if parcel)%>
</p>
