<% f = receive_by_forwarder_forms %>
<p>
  <%= f.label :received_by_forwarder_at %>
  <%= f.text_field :received_by_forwarder_at %>
</p>
<p>
  <%= f.label :awaiting_pick_up %>
  <%= f.check_box :awaiting_pick_up %>
</p>
