<% @parcel = receive_by_forwarder_forms || Parcel.new %>
<p>
  <%= label_tag 'Reçu par le transitaire le :' %>
  <%= calendar_date_field_tag :parcel, :received_by_forwarder_on %>
</p>
<p>
  <%= label_tag 'En attente de récupération :' %>
  <%= check_box_tag 'parcel[awaiting_pick_up]', "1", @parcel ? (@parcel.awaiting_pick_up == true ? true : false) : false %>
</p>
