<% content_for :header do -%>
  <%= javascript_include_tag 'purchases/purchases' %>
  <%= stylesheet_link_tag_with_theme_support 'purchases/purchases' %>
<% end -%>
<h1> Creer un nouveau colis </h1>
<div>
<%= render :partial => @parcel, :locals => {:purchase_order => @purchase_order}%>
</div>
<%= generate_contextual_menu_partial %>

