#content_page div.home div.widget_column {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  min-height: 300px;
}

#content_page div.home div.droppable_area {
  height: 5px;
  border: 2px dotted transparent;
  transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

#content_page div.home div.droppable_hover div.droppable_area {
  border: 2px dotted gray;
}

#content_page div.home div.droppable_area.droppable_hover {
  height: 50px;
  border: 2px dotted gray;
}

#content_page div.home div.widget {
  width: auto;
  background-color: #ededed;
  border: 1px solid #999;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  margin: 6px 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
  
  transition: -moz-box-shadow .2s;
  -o-transition: -moz-box-shadow .2s;
  -moz-transition: -moz-box-shadow .2s;
  -webkit-transition: -moz-box-shadow .2s;
}

#content_page div.home div.widget:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

#content_page div.home div.widget h2 {
  position: relative;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 1px rgba(0,0,0,0.4);
  border-bottom: 1px solid #BBB;
  cursor: move;
}

#content_page div.home div.widget h2 img {
  height: 32px;
  width: 32px;
}

#content_page div.home div.widget h2 a {
  position: absolute;
  text-decoration: none;
  font-size: 115%;
  margin-left: 10px;
  margin-top: 4px;
}

#content_page div.home div.widget table,
#content_page div.home div.widget table tr,
#content_page div.home div.widget table tr td {
  background-color: transparent;
  border: none;
}

#content_page div.home div.widget table tr td {
  padding: 4px 2px;
}

#content_page div.home div.widget table tr td.counter {
  width: 0;
  text-align: right;
}

#content_page div.home div.widget table tr td.counter span {
  padding: 1px 7px;
  background-color: #ffd075;
  border: 1px solid #999;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: bold;
}

#content_page div.home div.widget table tr td.link {
  text-align: left;
}

#content_page div.home div.widget table tr td.actions {
  width: 0;
}

#content_page div.home div.widget table tr td.amount {
  width: 0;
}

#content_page div.home div.widget table tr td.amount span {
  padding: 2px 5px;
  border: 1px solid #AAA;
  background-color: white;
  border-radius: 2px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#content_page div.home div.widget table tr.spacer td {
  height: 4px;
}

#content_page div.home div.widget table a {
  color: #555;
}
