<%= order_header %>

<% display_user_spool_in_contextual_menu %>

<%= generate_graphic_items_contextual_menu_partial %>

<%= title "Les maquettes" %>
<div class="resources">
  <% unless @enabled_mockups.empty? %>
    <%= render :partial => 'graphic_items/graphic_item_summary', :collection => @enabled_mockups %>
  <% else %>
    <p>Il n'y a aucune maquette dans ce dossier<p>
  <% end %>
</div>
