<%= order_header %>

<h1>Toutes les maquettes du dossier</h1>
<div>  
  <% add_contextual_menu_item :possible_actions do %>
    <%= new_graphic_item_link(Mockup) %>
  <% end %>
  <% add_contextual_menu_item("Travaux en attente",true) do %>
    <%= display_user_spool %>
  <% end %>
  <% unless @enabled_mockups.empty? %>
    <% @order.mockups.each do |mockup| %>
      <%= render(:partial => "graphic_items/graphic_item_summary", :object => mockup) unless mockup.cancelled %>
      <br/>
    <% end %>
  <% else %>
    <p>Il n'y a aucune maquette dans ce dossier<p>
  <% end %>
</div>
