<%= order_header %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_graphic_item_link(Mockup) %>
<% end %>

<% display_user_spool_in_contextual_menu %>

<h1>Toutes les maquettes du dossier</h1>
<div class="resources">
  <% unless @enabled_mockups.empty? %>
    <%= render :partial => 'graphic_items/graphic_item_summary', :collection => @enabled_mockups %>
  <% else %>
    <p>Il n'y a aucune maquette dans ce dossier<p>
  <% end %>
</div>
