<%= order_header %>

<% add_contextual_menu_item :useful_links do %>
	<%= graphic_items_link(Mockup) %>
<% end %>

<h1>Ajouter une nouvelle maquette au dossier</h1>
<%= render :partial => "graphic_items/graphic_item", :object => @mockup, :locals => {:button_name => "Créer"} %>
