<%
press_proofs ||= nil
products       = press_proofs_list.collect(&:product).uniq
%>

<table id="press_proofs_list">
  <tr>
    <th rowspan="2">Produit</th>
    <th rowspan="2">Qté</th>
    <th rowspan="2">Réf.</th>
    
    <th colspan="3">Maquettes</th>
    
    <th rowspan="2">Contact graphique</th>
    <th rowspan="2">Émis le</th>
    <th rowspan="2">BAT envoyé le</th>
    <th rowspan="2">BAT signé le</th>
    <th rowspan="2">État relance</th>
    <th rowspan="2">Actions</th>
  </tr>
  <tr>
    <th>N°</th>
    <th>Type</th>
    <th>Nom</th>
  </tr>
  <%= render :partial => "press_proofs/product_in_one_line", :collection => products, :locals => { :press_proofs => press_proofs } %>
</table>
