<%
press_proofs ||= nil
end_products   = press_proofs_list.collect(&:end_product).uniq
%>

<div class="autoscroll">
  <table id="press_proofs_list">
    <thead>
      <tr>
        <th>Réf.</th>
        <th>Émis&nbsp;le</th>
        <th>Contact graphique</th>
        <th>Maquettes</th>
        <th>BAT&nbsp;envoyé&nbsp;le</th>
        <th>BAT&nbsp;signé&nbsp;le</th>
        <th>État</th>
        <th>Actions</th>
      </tr>
    </thead>
    <%= render :partial => "press_proofs/end_product_in_one_line", :collection => end_products, :locals => { :press_proofs => press_proofs } %>
  </table>
</div>
