<% version = selected_graphic_item_version 
   method  = (version.graphic_item.current_version.id == version.id)? "remove_selected_mockup(this);" : "remove_selected_mockup_with_warning(this);"
%>

<div id="selected_mockup_<%= version.graphic_item.id %>" class="minimal_mockup">
  
  <%= render :partial => "graphic_items/graphic_item_summary",
             :object  => version.graphic_item,
             :locals  => {:image => version.image.url(:thumb), :without_action => true} %>
  <img class="delete_link" src="/images/delete_16x16.png" onClick="<%= method %>" alt='Supprimer' title='Supprimer'/>
  <input type='hidden' value="0" class='should_destroy'
                       name='press_proof[press_proof_item_attributes][][should_destroy]'
                       id='press_proof_press_proof_item_attributes__should_destroy'/>
  
  <input type='hidden' value="<%= version.id %>"
                       name='press_proof[press_proof_item_attributes][][graphic_item_version_id]'
                       id='press_proof_press_proof_item_attributes__graphic_item_version_id'/>
</div>
