<%= order_header %>

<h1>Création d'un nouveau BAT</h1>
<%= render :partial => 'press_proof', :object => @press_proof, :locals => {:action => :create, :mockups => @mockups} %>

<% add_contextual_menu_item :useful_links do %>
  <%= graphic_items_link(Mockup) %>
  <%= graphic_items_link(GraphicDocument) %>
<% end %>
