<%= order_header %>

<h1>Fiche détaillée du BAT</h1>
<%= render :partial => 'press_proof', :object => @press_proof, :locals => { :mockups => @press_proof.graphic_item_versions.collect(&:graphic_item) } %>
