<%= order_header %>

<h1>Informations concernant le BAT</h1>

<%= render :partial => 'press_proof', :object => @press_proof ,:locals => {:action => :show, :mockups => @press_proof.graphic_item_versions.collect(&:graphic_item)}%>
