<% pinned = cookies[:pin_status]||'not_pinned' %>

<div id="contextual_menu_container" class="<%= pinned %>_menu">
  <div id="contextual_menu_actions">
    <%= link_to_function image_tag( "/images/reduce_button2_16x16.png",:title => 'cacher le menu', :alt => 'cacher' ), 
                                    'toggle_contextual_menu($(contextual_menu_toggle_button));',
                                    :id => 'reduce_button_link' %>
    <%= link_to_function image_tag( "/images/#{pinned}_16x16.png",:title => 'épingler le menu', :alt => 'épingler' ),
                                    'toggle_pin_contextual_menu(this);' %>
  </div>
  <div class="shown_contextual_menu" id="contextual_menu_toggle_button">
    <span id="status_background_contextual_menu">
      <span id="status_text_contextual_menu">Afficher le menu</span>
    </span>
  </div>
  <div id="contextual_menu">
    <div id="contextual_menu_content">
      <%= display_contextual_menu_content %>
    </div>
  </div>
</div>
