<div id="contextual_menu">
  <div class="shown_contextual_menu" id="contextual_menu_toggle_button">
    <span id="status_background_contextual_menu">
      <span id="status_text_contextual_menu">Cacher le menu</span>
    </span>
  </div>
  <div id="contextual_menu_content">
    <%= display_contextual_menu_content %>
  </div>
</div> <!-- contextual_menu : FIN -->
