<div id="contextual_menu">
  <div class="shown_contextual_menu" id="contextual_menu_toggle_button">
    <span id="status_background_contextual_menu">
      <span id="status_text_contextual_menu">Cacher le menu</span>
    </span>
  </div>
  <div id="shadow_contextual_menu">
    <div id="content_contextual_menu">
      <%= display_contextual_menu_content %>
      <div id="footer_contextual_menu">&nbsp;</div>
    </div>
  </div>
</div> <!-- contextual_menu : FIN -->
