<div class="autoscroll">
  <table class="no_nth">
    <thead>
      <tr>
        <th rowspan="2"><%= toggle_selectable_items_link(image_tag('confirm_16x16.png'), 'delivery_note') %></th>
        <th rowspan="2">Réf.</th>
        <th rowspan="2">Émis&nbsp;le</th>
        <th rowspan="2">Mode&nbsp;de livraison</th>
        <th rowspan="2">Qté&nbsp;produits<br/>à&nbsp;livrer&nbsp;/&nbsp;total</th>
        <th colspan="2">Intervention</th>
        <th rowspan="2">Qté&nbsp;produits<br/>livrés&nbsp;/&nbsp;à&nbsp;livrer</th>
        <th rowspan="2">BL&nbsp;signé&nbsp;le</th>
        <th rowspan="2">État</th>
      </tr>
      <tr>
        <th>planifiée&nbsp;le</th>
        <th>réalisée&nbsp;le</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'delivery_notes/delivery_note_in_one_line', :collection => delivery_notes %>
    </tbody>
  </table>
</div>
