<% if delivery_notes_list and !delivery_notes_list.empty? %>
  <table>
    <tr>
      <th>N°</th>
      <th>Créé le</th>
      <th>Créé par</th>
      <th>A l'attention de</th>
      <th>Nb Pièces</th>
      <th>Total TTC (&euro;)</th>
      <th>Livraison prévue le</th>
      <th>Livraison effectuée le</th>
      <th>Actions</th>
    </tr>
    <%= render :partial => 'delivery_notes/delivery_note_in_one_line', :collection => delivery_notes_list %>
  </table>
<% else %>
  <p>Aucun bon de livraison n'a été trouvé</p>
<% end %>
