<%
delivery_note = delivery_note_body
items = ( delivery_note.new_record? || is_form_view? ) ? delivery_note.delivery_note_items : delivery_note.delivery_note_items.reject{ |i| i.quantity.zero? }
%>

<div class="autoscroll">
  <table id="delivery_note_items" class="sales_table no_nth">
    <thead>
      <tr>
        <th>Réf.</th>
        <th>Désignation</th>
        <th>Qté devis</th>
        <th>Qté déjà<br/>livrée (ou planifiée)&#160;*</th>
        <th>Qté à livrer</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'delivery_note_items/delivery_note_item', :collection => items %>
    </tbody>
    <tfoot>
      <tr class="nota">
        <td colspan="5">* hormis la quantité de la colonne <strong>Qté à livrer</strong></td>
      </tr>
    </tfoot>
  </table>
</div>
