<div class="autoscroll">
  <table>
    <tr>
      <th rowspan="2">Réf.</th>
      <th rowspan="2">Émis&nbsp;le</th>
      <th rowspan="2">Mode&nbsp;de livraison</th>
      <th rowspan="2">Nb&nbsp;produits<br/>à&nbsp;livrer&nbsp;/&nbsp;total</th>
      <th colspan="2">Intervention</th>
      <th rowspan="2">Nb&nbsp;produits<br/>livrés&nbsp;/&nbsp;à&nbsp;livrer</th>
      <th rowspan="2">BL&nbsp;signé&nbsp;le</th>
      <th rowspan="2">Actions</th>
    </tr>
    <tr>
      <th>planifiée&nbsp;le</th>
      <th>réalisée&nbsp;le</th>
    </tr>
    <%= render :partial => 'delivery_notes/delivery_note_in_one_line', :collection => delivery_notes %>
  </table>
</div>
