<% require_locals supplies, supply_categories %>

<div>
  <% if supplies.any? %>
    <% form_for inventory, :index => nil do |form| %>
      <%= form.error_messages %>
      
      <div class="autoscroll">
        <table id="inventory">
          <thead>
            <tr>
              <th rowspan="2">Réf.</th>
              <th colspan="4">Désignation</th>
              <th colspan="3">Quantité</th>
            </tr>  
            <tr>
              <th>Famille</th>
              <th>Sous-famille</th>
              <th>Type</th>
              <th>Spécificités&#160;et&#160;conditionnement</th>
              
              <th>au précédent<br/>inventaire</th>
              <th>estimée</th>
              <th>ajustée</th>
            </tr>
          </thead>
          
          <%= render :partial => "inventories/supply_category_in_one_line", :collection => supply_categories, :locals => { :form => form } %>
        </table>
      </div>
      
      <p style="display:none">
        <%= hidden_field_tag "supply_type", params[:supply_type] %>
      </p>
      
      <%= form.form_buttons %>
    <% end %>
  <% else %>
    <p>Aucune fourniture disponible pour effectuer un nouvel inventaire</p>
  <% end %>
</div>
