<h1>Fiche détaillée de l'inventaire de <%= params[:supply_class] == "Commodity" ? "matières premières" : "consommables" %></h1>
<%= render :partial => 'inventories/inventory', :object => @inventory, :locals => { :supplies => @supplies } %>
