.DS_Store
*~
assets
config/database.yml
config/email.yml
config/deploy.rb
config/deploy/*
coverage
db/*.sqlite3
db/development_structure.sql
log/*.log
nbproject
tmp/**/*
.bundle

lib/features/*/import/*.csv
lib/features/*/import/*.ods
!lib/features/*/import/examples/*

vendor/features/*/import/*.csv
vendor/features/*/import/*.ods
!vendor/features/*/import/examples/*
