<% content_for :header do %>
  <%= javascript_include_tag "logistics/supplier_supplies" %>
<% end %>
<h1>Mise à jour de la matière première</h1>
<%= render(:partial => "supplies/supply", :locals => {:button_name => "Mettre à jour"}) %>
