<% add_contextual_menu_item :useful_links do %>
  <%= display_checkings_link(true) %>
  <%= employees_link(:link_text => "Voir tous les employés") %>
<% end %>

<h1>Nouveau pointage</h1>
<%= render :partial => "checking", :locals => {:action => "create"}%>
