<% contextual_menu USEFUL_LINKS do %>
  <%= display_checkings_link(true) %>
<% end %>

<h1>Ajouter un pointage</h1>
<%= render :partial => "checking", :locals => {:action => "create", :button_name => "Ajouter"}%>
