<% title_context "Administration" %>
<%= title "Configurer les permissions par rôle" %>

<div>
  <h2>Les r&ocirc;les</h2>
  <ul>
    <% for role in @roles%>
      <li>
        <%=link_to(role.name, edit_role_permission_path(role)) %>
      </li>
    <%end%>
  </ul>
</div>
