<h1>Gestion des permissions des r&ocirc;les</h1>
<%= display_flash %>
<h3>R&ocirc;les</h3>
<ul>
  <% for role in @roles%>
    <li>
      <%=link_to role.name,{:controller =>"role_permissions", :action =>"edit", :id=>role} , :method => :get%>
    </li>
  <%end%>
</ul>
<p>
  <%=link_to "Retour",permissions_path%>
</p>