<h1>Configurer les permissions</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
  <h2>Les r&ocirc;les</h2>
  <ul>
    <% for role in @roles%>
      <li>
        <%=link_to(role.name, { :controller =>"role_permissions", :action =>"edit", :id => role } , :method => :get) %>
      </li>
    <%end%>
  </ul>
</div>
