<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_computer_link %>
<% end %>


<h1>Liste des ordinateurs</h1>

<div class='presentation_medium'>
  <%= render :partial => 'tools/index', :locals => {:tools => @computers}%>
</div>
