<% add_contextual_menu_item :possible_actions do %>
  <%= new_computer_link(:link_text => "Nouvel ordinateur") %>
<% end %>

<% title_context "Logistique" %>
<% title_context "Équipments" %>
<%= title "Les ordinateurs" %>

<div class='presentation_medium'>
  <%= render :partial => 'tools/index', :locals => {:tools => @computers}%>
</div>
