<% add_contextual_menu_item :useful_links do %>
  <%= computers_link(:link_text => "Voir tous les ordinateurs") %>
<% end %>

<h1>Nouvel ordinateur</h1>
<%= render :partial => "tools/tool" , :locals => {:tool => @computer}%>
