<ul class="activity_sector">
  <% for activity_sector in @activity_sectors do -%>
    <li>
      <div class="activity_sector_id" style="display:none;"><%=activity_sector.id -%></div>
      <div class="activity_sector_name"><%=activity_sector.name -%></div>
    </li>
  <% end -%>
</ul>