<ul class="customers">
  <% for customer in @customers do -%>
    <li>
      <div class="customer_id" style="display:none;"><%=customer.id %></div>
      <div class="customer_value" style="display:none;"><%=customer.name %></div>
      <div class ="customer_name"><%= highlight(customer.name, search_pattern) %></div>
    </li>
  <% end -%>
</ul>