<%= "<table class='#{supplier_supplies_owner.class.name.underscore}'>"%>
  <tr>
    <th rowspan='2'>Fournisseur</th>
    <th rowspan='2'>R&eacute;f&eacute;rence</th>
    <th rowspan='2'>D&eacute;signation</th>
    <th colspan='3'>Informations de base</th>
    <th colspan='5'>Stock actuel par fournisseur</th>
    <th rowspan='2'>D&eacute;lai d'approvisionnement</th>
    <%= "<th rowspan='2'>Actions</th>" if supplier_supplies_owner.enable %>
    <tr>
      <th>FOB/U</th>
      <th>Coeff. Taxe</th>
      <th>Prix/U</th>
      <th>Quantit&eacute;</th>
      <th>Grandeur totale</th>
      <th>Poids total</th>
      <th>Valeur totale</th>      
      <th>Prix/U moyen</th>
    </tr>
  </tr>
  <%= render(:partial => 'supplier_supplies/supplier_supply', :collection => supplier_supplies_owner.supplier_supplies) %>
</table>

