<%
require_locals order
customer = order.customer
%>

<div class='presentation_medium'>
  <h2>Informations concernant le client</h2>
  <% fields_for customer do |form| %>
    <% form.force_show_view = true %>
    <%= render :partial => "customers/customer_main_info", :object => customer, :locals => { :form => form } %>
    <%= render :partial => 'customers/customer_stats', :object => customer %>
  <% end %>
</div>
