<% content_for :secondary_menu do %>
<h1><span class="gray_color">Actions</span> <span class="blue_color">Utiles</span></h1>
<ul>
	<li><%= link_to "Lister les dossiers commerciaux", prospectives_path %></li>
	<li><%= link_to "Créer un nouveau dossier", new_order_path %></li>
</ul>
<% end %>