<div id="steps">
	<div class="selected"> 
		<div class="ring_finish">
			<div id="technical_visit">
				<p>
					<span><strong>[Visite technique]</strong></span>
				</p>
			</div>
			<div class="steps_text">
				<p>
					<a href="">Visite technique</a>
				</p>
			</div>
		</div>
	</div>
	<div class="feet_finish"></div>
	<div>
		<div class="ring_in_progress">
			<div id="survey">
				<p>
					<span><strong>[Survey]</strong></span>
				</p>
			</div>
			<div class="steps_text">
				<p>
					<a href="">Survey</a>
				</p>
			</div>
		</div>
	</div>
	<div class="feet_finish"></div>
	<div>
		<div class="ring_finish">
			<div id="model">
				<p>
					<span><strong>[Maquettes]</strong></span>
				</p>
			</div>
			<div class="steps_text">
				<p>
					<a href="">Maquettes</a>
				</p>
			</div>
		</div>
	</div>
	<div class="feet_finish"></div>
	<div>
		<div class="ring_in_progress">
			<div id="figuring">
				<p>
					<span><strong>[Chiffrage]</strong></span>
				</p>
			</div>
			<div class="steps_text">
				<p>
					<a href="">Chiffrage</a>
				</p>
			</div>
		</div>
	</div>
	<div class="feet_in_progress"></div>
	<div>
		<div class="ring_disable">
			<div id="sending_estimate">
				<p>
					<span><strong>[Envoi de devis]</strong></span>
				</p>
			</div>
			<div class="steps_text">
				<p>
					<a href="">Envoi de devis</a>
				</p>
			</div>
		</div>
	</div>
	<div class="feet_disable"></div>
	<div>
		<div class="ring_in_progress">
			<div id="validation">
				<p>
					<span><strong>[Validation]</strong></span>
				</p>
			</div>
			<div class="steps_text">
				<p>
					<a href="">Validation</a>
				</p>
			</div>
		</div>
	</div>
</div>