<h1>Nouveau dossier</h1>

<div class="frame">
<p>
	Vous êtes sur la page blabla ...
</p>

<p>
<label for="client" >Client existant :</label>
<input id="client" type="text" />
</p>

<%= order_form %>
</div>