<h1>Nouveau dossier</h1>

<div class="frame">
<% unless @customer %>
<p>
	Vous êtes sur la page blabla ...
</p>
<% form_tag new_order_path do %>
<p>
	<label for="client" >Client existant :</label>
 	<%= my_text_field_with_auto_complete(:third, :name, {:name => 'customer', :controller => 'customers'}, {:select => 'contact_first_name', :after_update_element => "function() { document.getElementById('customer_third_name').value = document.getElementsByClassName('customers')[0].getElementsByClassName('selected')[0].childNodes[3].innerHTML; document.getElementById('customer_id').value = document.getElementsByClassName('customers')[0].getElementsByClassName('selected')[0].childNodes[1].innerHTML;}"}) %>
</p>
<%= submit_tag "Envoyer" %>
<% end %>
<p>
	<label>Nouveau client</label>
	<%= hidden_field_tag 'customer_id' %>
	<input type="button" value="Nouveau client">
</p>
<% else %>
<%= order_form %>
<% end %>
</div>