<div>
  <%= content_tag(:h2, 'Que recherchez Vous ?') %>
  <% form_tag({:controller => 'advanced_search', :action => :index}, :method => :get, :id => "page_select_form", :class => 'skip_prevent_close') do %>
    <p>
      <%= page_select(@page_names, @page_name) %>
    </p>
  <% end %>
  
  <% if @query %>
    <%= content_tag(:h2, "Quels sont les critères ?  #{ "- #{title_for_search}" if @query.name }")%>
    <%= table_for_search %>
  <% end %>
</div>
