<span id="pattern_help_link"> <%=link_to_remote "<img src=" + "/images/help_icns_16x16.png "  + " title=\"Aide\" alt=\"Bouton Aide\"/>",:url=>{:action=>"help_up"},:href=>(url_for :action=>"help_up")%></span>
