<span id="pattern_help_link"> <%=link_to_remote "<img src=" + "/images/help_icns2_16x16.png "  + " title=\"Aide\" alt=\"Bouton Aide\"/>",:url=>{:action=>"help_down"},:href=>(url_for :action=>"help_down")%></span>
