<% contextual_menu POSSIBLE_ACTIONS do %>
	<%= link_to( image_tag("edit_16x16.png", :alt => "Modifier la configuration",
	                                         :title => "Modifier la configuration") + " Modifier la configuration",
               edit_password_policies_path) %>
<% end %>

<h1>Politique de s&eacute;curit&eacute;</h1>
<%= render :partial => 'password_policies' %>
