<%
require_locals quote
autocomplete_field_id = "product_reference_for_quote_item"
%>

<tr class="new_quote_item">
  <td colspan="11">
    <%= custom_text_field_with_auto_complete( :product_reference, :reference,
                                              { :value      => "Cherchez un produit ou une prestation dans la base",
                                                :size       => 50,
                                                :onkeydown  => "if (event.keyCode == 13) { return false; }",
                                                :id         => autocomplete_field_id } ) %>
    
    <%= tag :input, :type => :button, :value => "Ajouter", :class => :add_item, 'data-field-id' => autocomplete_field_id, 'data-remote-path' => order_commercial_step_quote_step_new_quote_item_path , 'data-token' => form_authenticity_token %>
    <%= display_add_free_quote_item_for(quote) %>
  </td>
</tr>
