<% add_contextual_menu_item :possible_actions do %>
  <%= leave_requests_link(:link_text => "Voir toutes mes demandes de congés") %>
<% end %>

<div>
  <%= render :partial => "cancelled_leave_requests" %>
</div>
