<% contextual_menu USEFUL_LINKS do%>
	<%= leave_requests_link %>
	<%= employee_leaves_link(current_user.employee, :link_text => "Voir mes congés") if current_user.employee %>
<% end %>

<h1>Demander un cong&eacute;</h1>
<%= render :partial => @leave_request, :locals => { :button_name => "Ajouter" }%>
