<% add_contextual_menu_item :useful_links do %>
	<%= subcontractors_link(:link_text => "Voir tous les sous-traitants") %>
<% end %>

<h1>Nouveau sous-traitant</h1>
<%= render :partial => @subcontractor %>
