<%# contextual_search_for_supplier %>

<% add_contextual_menu_item :useful_links do %>
	<%= subcontractors_link %>
<% end %>

<h1>Nouveau sous-traitant</h1>
<%= render :partial => @subcontractor, :locals => { :submit_button_name => "Ajouter" } %>
