<% content_for :secondary_menu do %>
<h1><span class="blue_color">Options</span></h1>
<a href="/orders/new">Cr&eacute;er un nouveau dossier</a>
<% end %>

<%= order_header %>
<div class="frame tabulation">
	Ceci est un dossier commerciale
</div>