<table>
  <tr>
    <th>Nom</th>
    <th>Type</th>
    <th>Adresse</th>
    <th>Actions</th>
  </tr>

  <% for establishment in @establishments %>
    <tr>
      <td><%= establishment.name %></td>
      <td><%= establishment.establishment_type.name %></td>
      <td><%= establishment.full_address %></td>
      <td></td>
    </tr>
  <% end %>
</table>