<% require_locals owner_type %>

<% fields_for "#{owner_type}[head_office_attributes][]", head_office do |form| %>
  <%= form.error_messages %>
  <div class="presentation_in_columns">
    <%= render :partial => "establishments/establishment_fields", :object => head_office, :locals => {:form => form} %>
  </div>
<% end %>
