<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="cadre tabulation">
<h1>Les services de l'entreprise</h1>
<%= show_structured_services(@edit,@delete) %>
<%= link_to("Nouveau service", :action => "new") if @add %>
</div>