<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
<h1>Les services de l'entreprise</h1>
<%= show_structured_services(controller.can_edit?(current_user),controller.can_delete?(current_user),controller.can_view?(current_user)) %>
<%= link_to("Nouveau service", :action => "new") if @add %>
</div>
