<% secondary_menu USEFUL_LINKS do %>
  <%= link_to "Liste des services", services_path %>
<% end %>

<h1>Configuration des param&egrave;tres de base de l&apos;entreprise</h1>
<%= display_tabulated_menu %>

<% content_for :header do %>
     <%= javascript_include_tag 'shedules' %>
<% end %>

<div class="frame tabulation presentation_medium">

  <%= render :partial => @service , :locals => {:button_name => "Ajouter"}%>

</div>


