<% contextual_menu USEFUL_LINKS do %>
  <%= services_link %>
<% end %>

<h1>Nouveau service</h1>

<% content_for :header do %>
     <%= javascript_include_tag 'shedules' %>
<% end %>

<div class="presentation_medium">
  <%= render :partial => @service , :locals => {:button_name => "Ajouter"}%>
</div>


