<% add_contextual_menu_item :possible_actions do %>
  <%= new_menu_link %>
<% end %>

<% title_context "Administration" %>
<%= title "Les menus" %>

<div>
  <%= show_structured_menus(@menus) %>
</div>
