<% add_contextual_menu_item :useful_links do %>
	<%= menus_link %>
<% end %>

<h1>Nouveau Menu</h1>
<div class="presentation_medium">
<% form_for(@menu) do |form| %>
  <%= render :partial => @menu %>
  <p><%= form.submit "Ajouter" %></p>
<% end %>
</div>
