<h4>Nouveau Menu</h4>


<% form_for(@menu) do |menu| %>
  <%= menu.error_messages %>
  <%= render :partial => "menu", :locals => {:menu => menu} %><br/><br/>
  <%= menu.submit "Ajouter" %>
<% end %>

<%= link_to 'Retour', :action => 'index' %>