<h1>Nouveau Menu</h1>

<div class="cadre">
<% form_for(@menu) do |menu| %>
  <%= menu.error_messages %>
  <%= render :partial => "menu", :locals => {:menu => menu} %><br/><br/>
  <%= menu.submit "Ajouter" %> <%= link_to 'Retour', :action => 'index' %>
<% end %>
</div>