<% add_contextual_menu_item :useful_links do %>
	<%= menus_link %>
<% end %>

<% title_context "Administration" %>
<%= title "Nouveau menu" %>

<div class="presentation_medium">
<% form_for(@menu) do |form| %>
  <%= render :partial => @menu %>
  <%= form.form_buttons %>
<% end %>
</div>
