<h1>Nouveau Menu</h1>

<div class="frame presentation_medium">
<% form_for(@menu) do |menu| %>
  <%= render :partial => 'menu', :locals => {:menu => menu, :submit_button_name => "Ajouter"} %>
<% end %>
</div>