#lertOverlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#lertContainer{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
}

#lertWindow {
	border:1px solid #aaa;
	width:40%;
	margin:0 auto;
	padding:1px;
	background:#FFF url(i/grad.gif) top left repeat-x;
}

#lertMessage {
	font-weight:normal;
	font-size:11px;
	font-family: Tahoma, Verdana, Sans;
	clear:right;
	padding-bottom:15px;
	width:80%;
	text-align:left;
	margin-left:52px;

}

#lertIcon {
	float:left;
	padding:10px;
}

#lertButtons {
	clear:both;
	text-align:right;
	margin-bottom:5px;
}

.lertButton {
	height:20px;
	background:#DDD;
	padding:1px 4px;
	margin: 0px 5px;
	border:2px solid #AAA;
	color:#000;
	text-decoration:none;
	font: normal 11px/10px Verdana, Tahoma, sans;
}

.lertButton:hover {
	background:#FFC;
}

#lertDefaultButton {
	font-weight:bold;
}