<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<%= generate_shared_contextual_menu_partial %>

<% title_context "Ventes" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
