<% contextual_search_for_customer %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_customer_link(:link_text => "Nouveau client") %>
<% end %>

<h1><%= title_for_search %></h1> 

<div>
  <%= table_for_search %>
</div>
