<% supplier = grouped_by_supplier_purchase_request_supplies %>
<% merged_purchase_request_supplies = supplier.merge_purchase_request_supplies %>
<h3>Fournisseur : <%= supplier.name%></h3>
<table>
  <thead>
    <tr>
      <th>Date attendue</th>
      <th>Référence</th>
      <th>Désignation</th>
      <th>Grandeur /U</th>
      <th>Masse /U</th>
      <th>En stock/Seuil</th>
      <th>PU TTC</th>
      <th>Prix au m²</th>
      <th>Total des quantités demandées</th>
      <th>Prix total TTC</th>
      <th>Délai de livraison</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "purchase_request_supplies/grouped_by_supplier_purchase_request_supply", :collection => merged_purchase_request_supplies, :locals => { :supplier => supplier} %>
  </tbody>
  <tfoot>
    <tr class="footer">
      <td colspan = "9"></td>
      <td class="price">Total : <%= display_purchase_request_supplies_total_for_supplier(supplier) %></td>
      <td>D&eacute;lai le plus long :<%= display_longest_lead_time_for_supplier(supplier) %></td>
      <td></td>
    </tr>
  </tfoot>
</table>


