<% purchase_request_supplies = grouped_by_purchase_request_supplies %>
<h3>Liste des demandes d'achat</h3>
<% form_for :quotation_request, :url => { :action => "prepare_for_new", :supplier_choice => true} do |form| %>
  <table>
    <thead>
      <tr>
        <th>Référence</th>
        <th>Désignation</th>
        <th>Grandeur/U</th>
        <th>Masse /U</th>
        <th>En stock/Seuil</th>
        <th>Quantité demandée</th>
        <th>Référence(s) demande(s) d'achat associée(s)</th>
        <th>Date de livraison souhaitée la plus proche</th>
        <th>Priorité</th>
        <th>Sélection de l'article</th>
      </tr>
    </thead>
    <tbody id="purchase_request_supplies">
      <%= render :partial => "purchase_request_supplies/grouped_by_purchase_request_supply", :collection => purchase_request_supplies, :locals => { :purchase_request_supplies_size => purchase_request_supplies.size, :form => form } %>
    </tbody>
  </table>
  <%= form.hidden_field :prs_ids, :value => "", :id => "prs_ids" %>
  <%= form.submit 'Générer une demande de devis à partir de la sélection', :onclick => "update_prs_ids(this)" %>
<% end %>
