<% add_contextual_menu_item :useful_links do %>
  <%= factors_link(:link_text => "Voir tous les factors") %>
<% end %>

<h1>Nouveau factor (société d'affacturage)</h1>
<%= render :partial => @factor %>
