<h3>Statistiques</h3>
<p>
  <label>Nombre de ventes :</label>
  <strong><%= "#{@order.customer.orders.closed.count} / #{@order.customer.orders.count}" %></strong> <span class="help_text">(terminées&nbsp;/&nbsp;total)</span>
</p>
<p>
  <label>Client depuis le :</label>
  <strong><%= l(@order.customer.collaboration_started_at.to_date, :format => :long) %></strong>
</p>
<p>
  <label>Note :</label>
  <strong><%= @order.customer.customer_grade.name %></strong>
</p>

<h3>Historique des dernières ventes</h3>
<table>
  <tr>
    <td>Date de facturation</td>
    <td>Etablissement</td>
    <td>Produits</td>
    <td>Prix total de vente</td>
    <td>Ratio de la marge réalisée</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
