<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<%= generate_shared_contextual_menu_partial %>

<% title_context "Ventes" %>
<%= title title_for_search, {}, content_tag(:span, "CA : #{Order.invoicing_total_counter.to_f.round_to(2).to_s(2)}&nbsp;&euro;", :class => :total_revenues) %>

<div>
  <%= table_for_search %>
</div>
