<h1>Modifier les param&egrave;tres de base de l'entreprise</h1>
<div class="frame">
<% form_tag :action => 'update' do %>
    <%= render :partial => 'form' %>
    <%= submit_tag 'Mettre &agrave; jour' %> &#124; <%= link_to "Retour", :action => 'index' %>
<% end %>
</div>