<h1>Param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
<% form_tag :action => 'update' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Mettre &agrave; jour' %>
<% end %>
</div>
