<% add_contextual_menu_item :possible_actions do %>
  <%= society_identity_configuration_link("Voir les paramètres") %>
<% end %>

<h1>Modifier les param&egrave;tres de base de l'entreprise</h1>
<%= render :partial => 'society_identity_configuration' %>
