<h1>Param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation presentation_medium">
  <%= render :partial => 'form' %>
  <%= link_to("Modifier", :action => 'edit') if @edit  %>
</div>
