<h1>Param&egrave;tres de base de l'entreprise</h1>
<div class="cadre">
  <%= render :partial => 'form' %>
  <%= link_to("Modifier", :action => 'edit')+" &#124;" if @edit == true  %> <%= link_to "Retour", :controller => 'society_configurations', :action => 'index' %>
</div>