<% secondary_menu POSSIBLE_ACTIONS do %>
  <%=  show_edit_button("Modifier la configuration") if !is_form_view?%>
<% end %>

<h1>Param&egrave;tres de base de l&apos;entreprise</h1>
<%= display_tabulated_menu %>
<%= render :partial => 'form' %>
