<% add_contextual_menu_item :possible_actions do %>
  <%= edit_society_identity_configuration_link("Modifier les paramètres") %>
<% end %>

<h1>Param&egrave;tres de base de l'entreprise</h1>
<%= render :partial => 'society_identity_configuration' %>
