<% add_contextual_menu_item :useful_links do %>
  <%= link_to("#{ image_tag('cancel_16x16.png') } Annuler la création de la requête", @return_uri)%>
<% end %>

<h1>Modifier la requ&ecirc;te</h1>

<%= render :partial => 'query', :object => @query %>
