<% add_contextual_menu_item :useful_links do %>
  <%= link_to("#{ image_tag('cancel_16x16.png') } #{ I18n.t("form.query.new.cancel_link") }", @return_uri)%>
<% end %>

<h1><%= I18n.t("form.query.new.h1") %></h1>

<%= render :partial => 'query', :object => @query %>
