<h2>R&eacute;sultats de la recherche</h2>
<% if @rows.size>0%>
<table>
  <tr>
  <% @columns.each do |column| %>
    <th><%= column.last %></th>
  <% end %>
  </tr>
  <%= generate_rows(@rows,@columns) %>
<% else %>
  <p><strong>Aucuns résultats</strong></p>
<% end %>  
  
</table>
