<h2>R&eacute;sultats de la recherche</h2>
<% if @rows.size>0%>
<table>
  <tr>
    <%= result_table_headers(@columns) %>
  </tr>
  <%= generate_rows(@rows,@columns) %>
<% else %>
  <p><strong>Aucuns résultats</strong></p>
<% end %>  
  
</table>
