<h1>Configurer les permissions</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
  <h2>Les documents</h2>
  <ul>
    <% for document in @document_permissions %>
    <li><%= link_to document, edit_document_permission_path(document) %></li>	
    <% end %>
  </ul>

  <%= link_to "Retour", permissions_path %>
</div>