
<%= add_number_line(params[:attribute])%>
<%= remove_link_to((params[:attribute]))%>
<p id='add_link_p'>
  <%="<span id='#{ params[:attribute] }_add_link'>" + add_link_to(params[:attribute]) + "</span>"%> 
</p>
  
