<% content_for :secondary_menu do %>
  <p>
    <%= show_edit_button(@employee) + link_to( 'Modifier le contract de travail', edit_employee_job_contract_path(@employee)) %>
  </p>
<% end %>

<h1>Modifier un employ&eacute;e</h1>

<%= render :partial => @employee, :locals => {:button_name=> "Modifier"}%>

