<% add_contextual_menu_item :possible_actions do %>
  <%= new_employee_link(:link_text => "Nouvel employé") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= actives_employees_link(params[:all_employees]) %>
<% end %>

<h1><%= title_for_search %></h1><!--Tous les employ&eacute;s--> 

<div>
  <%= table_for_search %>
</div>
