<% contextual_search_for_employee %>

<% add_contextual_menu_item :useful_links do %>
	<%= employees_link %>
<% end %>

<h1>Ajouter un employ&eacute;e</h1>
<%= render :partial => @employee, :locals => {:button_name=> "Ajouter"}%>
