<% content_for :secondary_menu do %>
  <h1><span class="gray_color">Actions</span> <span class="blue_color">possibles</span></h1>
  <ul>
    <li><%= show_edit_button(@employee) + link_to( 'Modifier le contract de travail', edit_employee_job_contract_path(@employee)) %></li>
    <li><%= show_edit_button(@employee," Modifier un employée") %></li>
  </ul>
  
<% end %>

<% secondary_menu do%>
  toto
<% end %>

<h1>Informations d&apos;un employ&eacute;</h1>


	<%= render :partial => @employee %>
   
  <!-- Display Documents div -->
  <%= display_documents(@employee, @documents) %> 

