<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_edit_button(@employee) + link_to(' Modifier le contract de travail', edit_employee_job_contract_path(@employee)) %>
  <%= show_edit_button(@employee," Modifier un employée") %>
<% end %>

<h1>Informations d&apos;un employ&eacute;</h1>
<%= render :partial => @employee %>

<!-- Display Documents div -->
<%= display_documents(@employee, @documents) %>