<ul class="countries">
  <% for country in @countries do -%>
    <li>
      <div class="country_id" style="display:none;"><%=country.id-%></div>
      <div class="country_name"><%=country.name-%></div>
    </li>
  <% end -%>
</ul>