<table>
  <caption>Liste de produits</caption>
  <thead>
    <th>Nom</th>
    <th>Categories</th>
    <th>R&eacute;f&eacute;rence</th>
    <th>Client</th>
    <th>Dossier</th>
  </thead>
  <tbody>
    <%= show_products(@products) %>
  </tbody>
</table>
<%= will_paginate @products ,:renderer => 'RemoteLinkRenderer', :remote => {:update => "products_list"}, :prev_label => " << pr&eacute;c&eacute;dent", :next_label => "suivant >>" %>
