<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/products/product_catalog.js"></script>
<% end %>



<h1>Catalogue des produits</h1>

<div class="frame presentation_large">
  <div id='catalog'>
    <span id='show_categories'>
      <% (find_max_level + 1).times do |value|%>
        <%= show_category_column(@categories,value) %>
      <% end %>
    </span>
    <span id='show_references'>
      <%= show_reference_column(@references) %>
    </span>


<div id="products_list">

<%= render :partial => 'products'%>
    
<div id="product_reference_informations"></div>
<div id="product_informations"></div>

</div>

<%= @type == "popup" ? link_to("Mode normal", :controller => 'products_catalog') : link_to("Mode Popup", {:controller => 'products_catalog', :type => 'popup'}, :popup => true) %>
</div>
