
<ul class="first_name">
<% for contact in @contacts do -%>
<li>
  <div class="contact_id" style="display:none;"><%=contact.id%></div>
  <div class ="ul_contact_name" style="display:none;"><%=contact.first_name %></div>
  <div class ="ul_contact_full_name"><%=contact.first_name + " " + contact.last_name%></div>
</li>
<% end -%>
</ul>