<% content_for :header do %>
  <%= javascript_include_tag "logistics/supplier_supplies" %>
<% end %>
<h1>Modifier <%= @supply.name %></h1>
<%= render(:partial => "supplies/supply", :object => @supply) %>
