<% content_for :header do %>
  <%= javascript_include_tag "logistics/supplier_supplies" %>
<% end %>
<h1>Mise &agrave; jour de <%= @supply.name %></h1>
<%= render(:partial => "supplies/supply", :locals => {:button_name => "Mettre à jour"}) %>
