<% content_for :header do %>
  <%= javascript_include_tag 'rh/job_contract' %> 
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <% checked = "" if @job_contract.nil?  %>
  <% unless @job_contract.employee_state.nil?%>
    <% @job_contract.employee_state.active ? checked = "" : checked = "checked='checked'" %>
  <% end %> <%="<input type='checkbox' #{checked} id='employee_departure' onclick='disable_all();' />"%> d&eacute;part employ&eacute; 
<% end %>

<h1>Modifier le contrat de travail</h1>

<%= render :partial => 'employees/employee_summary', :locals => {:employee => @employee}%>

<div class="presentation_medium">
  <%= render :partial => 'job_contract/job_contract', :object => @job_contract%>
</div>
