<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_other_tool_link%>
<% end %>


<h1>Liste des &eacute;quipements non r&eacute;f&eacute;renc&eacute;s</h1>
<%= render :partial => 'tools/index', :locals => {:tools => @other_tools}%>
