<% add_contextual_menu_item :possible_actions do %>
  <%= new_other_tool_link(:link_text => "Nouvel équipement non référencé") %>
<% end %>

<h1>Les &eacute;quipements non r&eacute;f&eacute;renc&eacute;s</h1>
<%= render :partial => 'tools/index', :locals => {:tools => @other_tools}%>
