<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= other_tools_link %>
<% end %>

<h1>Ajouter un &eacute;quipement non r&eacute;f&eacute;renc&eacute;</h1>
<%= render :partial => "tools/tool" , :locals => {:tool => @other_tool, :button_name => "Ajouter"}%>
