<h1>Les notes de services reçus</h1>

<div>
<% unless current_user.employee.nil? or !Memorandum.can_list?(current_user)%>
  <table>
    <thead>
      <th>Titre</th>
      <th>Object</th>
      <th>Re&ccedil;u le</th>
      <th>De</th>
    </thead>
    <tbody>
      <%= show_received_memorandums(@received_memorandums) %>
    </tbody>
  </table>
  <%= will_paginate @received_memorandums, :param_name => :memorandum %>
<% end %>
</div>
