<% unless current_user.employee.nil? or !Memorandum.can_list?(current_user)%>
<div>
  <table>
    <thead>
      <th>Object</th>
      <th>Re&ccedil;u</th>
      <th>De</th>
    </thead>
    <tbody>
      <%= show_received_memorandums(@received_memorandums) %>
    </tbody>
  </table>
  <%= will_paginate @received_memorandums, :param_name => :memorandum %>
</div>
<% end %>
