<% 
  require_locals number_owner, one_or_many, form # 'form' is used to get the label that belongs to to te parent form
  number       = number_lite
  options      = one_or_many == :many ? { :index => nil } : {}  # #FIXME remove this test with one_or_many when the fields_for method could received params like "customer[establishment_attributes][][address_attributes]"
%>
<% fields_for "#{number_owner.class.singularized_table_name}[#{number.has_number_key}_attributes]" , number do |f_form|%>
  <% f_form.force_show_view = true unless is_form_view? %>
  <%= f_form.error_messages %>
  <p>
    <%= form.label number.has_number_key %>
    <%= f_form.form_or_view( f_form.collection_select(:indicative_id, Indicative.find(:all), :id, :indicative, { :include_blank => "" }, options), :indicative, :indicative ) %>
    <%= f_form.form_or_view( f_form.text_field(:number, { :size => 9, :maxlength => 9 }.merge(options)), :formatted) %>
  </p>
<% end %>
