<table>
  <caption>Les produits</caption>
  <thead>
    <th>Nom</th>
    <th>Categories</th>
    <th>R&eacute;f&eacute;rence</th>
    <th>Client</th>
    <th>Dossier</th>
  </thead>
  <tbody>
    <%= show_products(@products) %>
  </tbody>
</table>
<%= will_paginate @products ,:renderer => 'RemoteLinkRenderer', :remote => { :update => "products_list" } %>
