table tbody td.warning{
  color:red;
}

table tfoot tr.footer{
  border-top: 1px solid #CCCCCC;
  font-weight: bold;
}

#head{
  border-bottom: 1px solid #737373;
}

.parcel span {
  display: inline-block;
}

.parcel .parcel_summary {
  padding: 10px;
  background-color: #ffdd60;
  text-align: left;
  border: 1px solid #737373;
  border-top: 10px solid #ffffff;
}

.parcel .parcel_summary .parcel_label {
  font-weight: inherit;
  text-decoration: underline;
}

.parcel .parcel_summary .parcel_reference {
  width: 100px;
}

.parcel .parcel_summary .parcel_status {
  width: 150px;
}

.parcel .parcel_summary .parcel_current_status_date {
  width: 300px;
}

.parcel .parcel_summary .parcel_choose_status {
  float: right;
  margin: 3px 5px 3px -5px;
  width: auto;
  text-decoration: none;
}

.parcel .parcel_summary .parcel_choose_status li {
  list-style-type: none;
  float: left;
}

.parcel .parcel_summary .parcel_choose_status_label {
  text-decoration: none;
}

.parcel .parcel_summary .parcel_conveyance {
  width :150px;
}

td.disabled {
  text-decoration: line-through;
  font-style: italic;
}



/********************** quotation_request ***************************************/

#quotation_request_supplies_body td.name{
  vertical-align: top;
  text-align: left;
}

#quotation_request_supplies_body td.description{
  vertical-align: top;
  text-align: left;
}
