<%
require_locals form
quote = quote_body
%>

<div class="autoscroll">
  <table id="quote_items" class="sales_table no_nth">
    <thead>
      <tr>
        <th>Réf.</th>
        <th>Désignation</th>
        <% if is_form_view? %>
          <th>Côtes</th>
        <% end %>
        <th>P.U.<br/>Brut HT</th>
        <th>Rem.<br/>(%)</th>
        <th>P.U.<br/>Net HT</th>
        <th>Qté</th>
        <th>Total<br/>HT</th>
        <th>TVA</th>
        <th>Total<br/>TTC</th>
        <% if is_form_view? %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody id="quote_items_body">
      <% quote.quote_items.each do |quote_item| %>
        <% if quote_item.free_item? %>
          <%= render :partial => 'quote_items/free_quote_item', :object => quote_item %>
        <% else %>
          <%= render :partial => 'quote_items/quote_item', :object => quote_item %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <%= render :partial => 'quote_items/quote_item', :object => nil, :locals => { :quote => quote } %>
      <%= render :partial => 'quotes/quote_aggregates', :object => quote, :locals => { :form => form } %>
    </tfoot>
  </table>
</div>
