<% require_locals quotes_list %>

<% unless quotes_list.empty? %>
<table>
  <tr>
    <th>Date</th>
    <th>Nb Pièces</th>
    <th>Total TTC</th>
    <th>Créateur du devis</th>
    <th>A l'attention de</th>
    <th>Actions</th>
  </tr>
  <%= render :partial => 'quotes/quote_in_one_line', :collection => quotes_list %>
</table>
<% else %>
<p>Aucun devis n'a été trouvé</p>
<% end %>
