<%= order_header %>

<h1>Modification du devis</h1>

<div class="presentation_medium">
	<% form_for @quote, :url => { :controller => "quotes", :action => "update", :order_id => @order.id }, :method => :put do |form| %>
	  <%= render :partial => 'quote_form', :object => @quote, :locals => { :form => form } %>
  <% end %>
</div>
