<%= order_header %>

<h1>Informations concernant le devis</h1>

<div class="presentation_medium">
	<% fields_for @quote do |form| %>
	  <%= render :partial => 'quote_form', :object => @quote, :locals => { :form => form} %>
  <% end %>
</div>
