<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_supplier_add_button %>
	<%= show_view_button(@supplier,"Voir ce fournisseur")%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
	<%= link_to "Liste des fournisseurs", suppliers_path%>
<% end %>

<h1>Modifier un fournisseur </h1>
<%= render :partial => @supplier, :locals => { :submit_button_name => "Mettre &agrave; jour"} %>
