<% add_contextual_menu_item :possible_actions do %>
  <%= new_supplier_link(:link_text => "Nouveau fournisseur") %>
<% end %>

<% title_context "Tiers" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
