<% add_contextual_menu_item :possible_actions do %>
  <%= new_supplier_link(:link_text => "Nouveau fournisseur") %>
<% end %>

<h1><%= title_for_search %></h1> 

<div>
  <%= table_for_search %>
</div>
