<% add_contextual_menu_item :useful_links do %>
	<%= suppliers_link(:link_text => "Voir tous les fournisseurs") %>
<% end %>

<% content_for :header do %>
     <%= javascript_include_tag 'thirds/thirds' %>
<% end %>

<h1>Nouveau fournisseur</h1>
<%= render :partial => @supplier %>
