table {
border: medium solid #000000;
width: 50%;
/*text-align:center;*/
}
td, th {
border: thin solid #6495ed;
/*width: 50%;*/
}
.admin_features_activated-installed{
  color: green;
  text-decoration: none;
}
.admin_features_non_activated-installed{
  color: red;
  text-decoration: none;
}
.admin_pages_indent{
  width: 10px;
}