table {
border: medium solid #000000;
width: 50%;
}
td, th {
border: thin solid #6495ed;
/*width: 50%;*/
}
#feature_managment{
border: medium solid #000000;
width: 50%;
text-align:center;
}
.admin_features_activated-installed{
  color: green;
  text-decoration: none;
}
.admin_features_non_activated-installed{
  color: red;
  text-decoration: none;
}
.admin_pages_indent{
  width: 10px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
