#calendar {
	text-indent:0;
}

#group_day {
/*	position: relative;	*/
	margin-left: 85px;
	margin-right: 15px;
/*	right: 0px;	*/
	text-indent:0;
}
#group_day .day {
	float :left;
	width: 14.2%;
	text-align: center;
}

.day {
	text-indent:0;
}

.last_day {
	margin-right:-8px;
	margin-left:1px;
}


.day ul {
	padding: 0px;
	margin: 0px -1px 0px 0px;
}
.day li {
	display: inline;
}
.day .e_week_fullday {
	font-size: 10px;
	text-align: center;
	border: 1px solid #333;
	color: white;
	-moz-border-radius: 8px;
	margin-left:3px;
}
.day_fullday {
	margin-left: 86px;
	text-indent:10px;
	margin-right: 15px;
//	text-align: center;
	border-left:solid 1px #808080;
	background:#E8A859;
}
#calendar_content {
	overflow: hidden;
}
#calendar #scroll {
	clear: left;
	margin-left: 16px;
	padding-right: 2px;
	overflow: auto;
	height: 600px;
}
#calendar #scroll #hour_column {
	width: 70px;
	float: left;
	text-align: center;
}
#calendar #scroll .hour {
	height: 60px;
}
#calendar #scroll .day_grid.today {
	background-color: #FBCD95 !important; /*#EAEAEA !important;*/
	color:#394A64;
}
#calendar #scroll #grid_week {
	position: relative;
	margin-left: 70px;
	right: 0px;
	height: 1440px;
}
#calendar #scroll #grid_week .day_grid {
	float: left;
	width: 14.285714285714286%;
	height: 100%;
	z-index: -100;
	background: white url('/images/grid_repeat-x.gif') repeat;
}
#calendar #scroll #grid_week .day_grid .day_grid_border {
	border: 1px solid #c8c8c8;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 100%;
}
#calendar #scroll #grid_day {
	position: relative;
	margin-left: 70px;
	right: 0px;
	height: 1440px;
}
#calendar #scroll #grid_day .day_grid {
	float: left;
	width: 100%;
	height: 100%;
	z-index: -100;
	background: url('/images/grid_repeat-x.gif') repeat;
}
#calendar #scroll #grid_day .day_grid .day_grid_border {
	border-left: 1px solid gray;
	width: 100%;
	height: 100%;
}
#calendar #scroll .day_grid_border ul {
	padding: 0px;
	margin: 0px;
}
#calendar #scroll .day_grid_border li {
	position: absolute;
}
#calendar #scroll #grid_week .day_grid_border li {
	width: 14.10%;
}
#calendar #scroll #grid_day .day_grid_border li {
	width: 99.8%;
}
#calendar #scroll #group_day_month {
	width: 99%;
}
#calendar #scroll #group_day_month .day_month {
	float: left;
	width: 14%;
	text-align: center;
}
#calendar #scroll #grid_month {
	width: 99%;
	height: 600px;
	position:relative;
	left:1px;
	top:1px;
}
#calendar #scroll #grid_month .day_grid {
	float: left;
	width: 14%;
	height: 20%;
	border:solid 1px;
	margin-left:-1px;
	margin-top:-1px;
}

#calendar #scroll #grid_month .day_grid ul {	
	margin:5px 20px 5px 20px;
	padding-left:1px;
}

#calendar #scroll #grid_month .day_grid ul li {
	width:125%;
	margin-bottom:3px;
	text-align:justify;
}

#calendar #scroll .e_month {
	font-size: 10px;
}
#calendar #scroll #grid_month .hover {
	background-color: #BC7757;
}
#calendar #scroll #grid_month .day_number.other_month {
	color: #B4B4B4;
}

#calendar #scroll #grid_month .day_number {
	margin: 0 0 0 10px;
	position:relative;
	top:5px;
}

#calendar #scroll .e_day_or_week {
	position: absolute;
	width: 100%;
	border: 1px solid #333;
	padding: 4px 0px;
	min-height: 20px;
	text-align: center;
	font-size: 10px;
	color: white;
	-moz-border-radius: 8px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=90);
}
#calendar #scroll .event_content {
	height: 100%;
}

.event {

}

#event_box {
	padding:22px 8px 8px 8px;
	font-size: 12px;
	color: black;
	visibility: hidden;
	position: absolute;
	top: 0px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 8px;
	background: #CFCFCF url("/images/event_box_gradient.png") repeat-x;
	z-index: 1;
	width: 310px;
}
.calendar {
	z-index: 2;
}

.frame.presentation_calendar label {
	text-align:right !important;
	width:70px;
	display:inline-block;
	margin-right:10px;
}

.frame.presentation_calendar p {
	padding:1px;
	margin:0;
	height:20px;
}

.participants_area a {
	float:right;
	position:relative;
	bottom:21px;
	right:25px;
}

.participants_area span {
	clear:left;
	margin-top:-10px;
}

#participants_list {
	margin:-22px 5px 2px 86px;
	padding:0;
	width:210px;
	color:#333;
}

#event_box_content {
	margin-top:-23px;
}

#participants_list img {
	position:relative;
	top:2px;
}

.not_working_day {
	background-color:#eaeaea !important;
	opacity:0.8 !important;
	-moz-opacity:0.8 !important;
}

#event_box fieldset {
	border:1px solid #AEAEAE;
	background: #CFCFCF url("/images/event_box_gradient.png") repeat-x;
	margin:8px 0 8px 0;
	padding:5px;
//	white-space:nowrap;
//	width:200px;
}

#event_box fieldset input {
	margin:5px;
	border: #888 1px solid;
}

#event_box fieldset input:focus,
#event_box fieldset input:hover,
#event_box fieldset input:active {
	background:#F5F5F5;
	color:#FF9900;
}

#event_box h1 {
	background:url("/images/background_event_box_title.png");
	color:#333;
	border:solid 1px #888;/*#CFCFCF;*/
	height:20px;
	line-height:20px;
	font-size:1.1em;
	-moz-border-radius:8px;
	width:326px;
	margin: 0 0 8px -9px;
	padding:0;
}

#event_box p {
	white-space:nowrap;
}


.participants_area {
	display:inline;
	line-height:19px;
}

#add_participant_icon {
	float:right;
	position:relative;
	bottom:21px;
	right:13px;
}

#event_box .close {
	position:absolute;
	right:-5px;
	top:-4px;
}

#event_box form {
	margin-top:-23px;
}

#calendar_yield h4 {
	text-align:center;
}

/*CALENDAR'S BUTTONS*/
.calendar-buttons {
	margin: 5px;
	text-align: center;
}

.calendar-buttons div {
	display:inline-block;
}

.cal-prev,
.cal-next {
	background:url("/images/calendar/button_next-previous_calendar.png");
	width:30px;
	height:19px;
	margin-left:-5px;
}

.cal-prev {
	background-position:0 0;
}

.cal-prev:hover {
	background-position:0 -19px;
}

.cal-prev:active,
.cal-prev.selected {
	background-position:0 -38px;
}

.cal-next {
	background-position:-31px 0;
}

.cal-next:hover {
	background-position:-31px -19px;
}

.cal-next:active,
.cal-next.selected {
	background-position:-31px -38px;
}

.cal-buttons {
	background:url("/images/calendar/button_calendar_generic.png") repeat-x;
	width:1px;
	height:19px;
	position:relative;
	bottom:5px;
	border-left:solid 1px #A5A5A5;
	border-right:solid 1px #A5A5A5;
	padding-left:5px;
	padding-right:5px;
	background-position:0 0;
	margin-left:-5px;
}

.cal-buttons:hover {
	background-position:0 -19px;
}

.cal-buttons:active,
.cal-buttons.selected {
	background-position:0 -38px;
	color:black;
}

span.calendar_checkbox,
span.calendar_checkbox.selected {
	line-height:43px;
	text-align:left;
	text-indent:-3px;
	padding:17px;
	vertical-align:top;
}

span.calendar_checkbox span,
span.calendar_checkbox.selected span {
	position:relative;
	bottom:5px;
	right:4px;
}

span.calendar_checkbox {
	background:url("/images/calendar/month.jpg") no-repeat;
}

span.calendar_checkbox.selected {
	background:url("/images/calendar/month_selected.jpg") no-repeat;
}

span.checkbox_text_calendar {
	
}