/*
div {
	border: solid 1px black; 
}
*/
html, body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;*/
	font-family: verdana , Geneva, sans-serif;
	cursor: default;
	min-width:1250px;
}

#all_page { /*Pour étendre le menu principal*/
	background:url("../images/background_menu_principal.jpg") repeat-y bottom left;
}

a {
	color:rgb(234,136,28); /*#698bcd : BLEU*/
}

a:hover {
	color:#698bcd;
}

/*/////////////////////////////////////////////////////
					BANNIERE
////////////////////////////////////////////////////*/
#banniere {
	width: auto;
	height: 56px;
}

#logo {
	background-image: url("../images/logo_banniere.jpg");
	float: left;
	width: 629px;
	height: 56px;
}

#msg_accueil {
	color:white;
	font-size: 95%;
	padding-left: 180px;
	margin-top:20px;
	float: left;
	font-family: arial, sans-serif;
}

#banniere_fond {
	background-image: url("../images/banniere_repeat-x.jpg");
	width: auto;
	height: 56px;
	margin-left: 629px;
}

/*/////////////////////////////////////////////////////
				BANNIERE > BOUTONS
////////////////////////////////////////////////////*/

#boutons {
	float:right;
	margin-top:7px;
	height:20px;
}

a.button_banner {
background: transparent url("../images/bouton-banniere_gauche.png") no-repeat top left;
display: block;
float: left;
font-family: arial, verdana, sans-serif;
font-size:85%;
line-height: 12px;
height: 20px;
padding-left: 8px;
text-decoration: none; 
text-indent:0;
margin-right:10px;
margin-top:20px;
}

a:link.button_banner,
a:visited.button_banner,
a:active.button_banner {
color: white;
}

a.button_banner span {
background: transparent url("../images/bouton-banniere_droit.png") no-repeat top right;
display: block;
padding: 4px 8px 4px 0;
}

a.button_banner:hover {
background-position: bottom left;
color: #c3d1ea;
}

a.button_banner:hover span {
background-position: bottom right;
}

#button_on_banner {
overflow: hidden;
width: 100%;
}

/*/////////////////////////////////////////////////////
					SOUS-BANNIERE
////////////////////////////////////////////////////*/

#sous_banniere {
	clear:both;
	background: url("../images/sous_banniere_repeat-x.jpg") repeat;
	border-bottom:20px solid white;
	width: 100%;
	height: 43px;
	color:#444444;
}

#txt_sous_banniere {
	color: #FFFFFF;
	padding-left: 10px;
	text-align: justify;
	float: left;
	font-size: 85%;
	line-height: 20px;
 	width:86%;
	height:43px;
	min-width: 893px;
	min-height: 43px;
}

#bouton-ban {
	margin-top: 7px;
	float: left;
	width:11%;
	text-align:right;
}

#precedent {
	background: url("../images/fleche_gauche.png") no-repeat;
	width: 25px;
	height: 21px;
	border: none;
}

#precedent:hover {
	background: url("../images/fleche_gauche2.png") no-repeat
}

#suivant {
	background: url("../images/fleche_droite.png") no-repeat;
	width: 25px;
	height: 21px;
	border: none;
}

#suivant:hover {
	background: url("../images/fleche_droite2.png") no-repeat;
}

.number {
	color: white;
	line-height:25px;
}

/*///////////////////////////////////////////////////////
					CORPS DU SITE
///////////////////////////////////////////////////////*/
/*Contient tout le reste sauf BANNIERE et SOUS BANNIERE*/
#corps {
	width:auto;
	height:auto;
	margin: -16px 0 5px 0;
	padding:0;
}

/*/////////////////////////////////////////////////////
			CORPS DU SITE > MENU PRINCIPAL
////////////////////////////////////////////////////*/
#menu {
	display:block;
	width: 201px;
/*	height: auto;	*/
	padding: 0 0 5px 0;	
	float: left;
	background: #d9e4ff;
	border: solid 1px #cecece;
	border-bottom:none !important;
	-moz-border-radius:0 10px 0 0;
}

#menu ul {
	display:block;
	width: 180px;
	list-style-type: none;
	margin: 5px 0px 0px 5px;
	padding:0;
	height:100%;
}

#menu ul li {
	background: url("../images/sous_banniere_repeat-x2.jpg") repeat;
	padding: 10px 7px 10px 7px;
	width: 177px;
/*	height: 100%;	*/
	text-decoration: none;
	border-bottom:1px solid #444444;
	border-top:1px solid #bfd1f5;
}

#menu ul li:hover {
	background: url("../images/menu_hover.jpg") repeat;
	cursor:pointer;
}

#menu ul li.selected {
	background: url("../images/menu_selection_repeat.jpg") repeat;
}

#menu ul li.selected a {
	color:#bdd2fa;
}

#menu ul li a {
		text-decoration: none;
		color: #454545;
		font-size:85%;
}

#menu ul li a:active {
	color:#afc2ea;
}

/*
#menu_champ_vide {
//	position:absolute;	
	background: url("../images/sous_banniere_repeat-x.jpg") repeat;
	height:100%;
	margin-left:5px;
	margin-right: 5px;	
}
*/
/*/////////////////////////////////////////////////////
			CORPS DU SITE > PAGE DU SITE
////////////////////////////////////////////////////*/

#page {
	border: solid 1px #cecece;
	padding-left: 5px;
	padding-right:5px;
	margin-left:208px;
/*	height:100%;*/
	-moz-border-radius: 10px 0 10px 10px;
}

/*/////////////////////////////////////////////////////
	CORPS DU SITE > PAGE DU SITE > MENU SECONDAIRE
////////////////////////////////////////////////////*/

#menu_secondaire {
	float:right;
	margin-left:5px;
	margin-top:10px;
	margin-right:6px;
	border: 1px solid #A8A8A8;
	-moz-border-radius: 10px 0 0 10px;
	background: url("../images/background_menu-secondaire.gif") repeat;
	width: 200px;
	text-indent:0px;
	font-size:0.8em;
}

#ombre {
	position:relative;
	left:8px;
	background: url("../images/ombre.png") no-repeat bottom right;
	height:inherit;
	-moz-border-radius: 0 10px 0 10px;
}

#menu_secondaire_contenu {
	position:relative;
	right:8px;
}

#menu_secondaire ul {
	display:block;
	list-style-type: none;
	padding:0;
	height: 100%;
}


#menu_secondaire ul li {
	padding: 10px 0px 10px 0px;
	text-decoration: none;
}

#menu_secondaire ul li a {
	color: #444;
}

#menu_secondaire a:hover {
	color: rgb(234,136,28);
}

#menu_secondaire h4 {
	background: url("../images/fond_h4_menu_secondaire.jpg") repeat-x;
	height:36px;
	line-height: 36px;
	text-indent: 0;
	text-align: center;
	margin-top:0;
	margin-bottom:0;
	font-family: verdana, sans-serif;
	font-weight:lighter;
	font-size:1.1em;
}

#menu_secondaire_header {
	-moz-border-radius: 10px 0 0 0;
}

#recherche {
	text-indent:0px;
	margin-left: 5px;
}

#lien {
	text-indent:0px;
	margin-left:10px;
}

#view {
	background: url("../images/view.png") no-repeat;
	background-position: center left;
	margin-left: 10px;
	width: 28px;
	height: 29px;
	line-height:22px;
}

#view a {
	margin-left: 30px;
}

#add {
	background: url("../images/add.png") no-repeat;
	background-position: center left;
	margin-left: 10px;
	width: 28px;
	height: 29px;
	line-height:22px;
}

#add a {
	margin-left: 30px;
}

#modif {
	background: url("../images/modif.png") no-repeat;
	background-position: center left;
	margin-left: 10px;
	width: 28px;
	height: 29px;
	line-height:22px;
}

#modif a {
	margin-left: 30px;
}

#del {
	background: url("../images/del.png") no-repeat;
	background-position: center left;
	margin-left: 10px;
	width: 28px;
	height: 29px;
	line-height:22px;
	margin-bottom:-21px;
}

#del a {
	margin-left: 30px;
}

#menu_secondaire input[type=text] {
	margin: 5px;
	padding-right:5px;
	line-height:22px;
}

.help {
	font-size:0.8em;
	color:#444;
}

.gris {
/*	color: #b1b1b1; */
	color: rgb(120,120,120);
}

.bleu {
	color: #8ea4cf;
}
/*////////////////////////////////////////////////////////*/
/*::::::::::::::::::Bouton Par Defaut:::::::::::::::::::::*/
input[type=button],                                     /**/
input[type=submit],                                     /**/
input[type=reset] {                                     /**/
	margin-left: 5px;                                   /**/
	padding-bottom:6px;                                 /**/
	padding-left:2px;                                   /**/
}                                                       /**/
                                                        /**/
input[type=button]:hover,                               /**/
input[type=submit]:hover,                               /**/
input[type=reset]:hover {                               /**/
	cursor:pointer;                                     /**/
	background: url("../images/bouton_hover3.png");     /**/
}                                                       /**/
                                                        /**/
.bouton_defaut {                                        /**/
	background: url("../images/bouton.png") no-repeat;  /**/
	width: 74px;                                        /**/
	height: 26px;                                       /**/
	border: none;                                       /**/
}                                                       /**/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*//////////////////////////////////////////////////////////
CORPS DU SITE > PAGE DU SITE > CONTENU DE LA PAGE
//////////////////////////////////////////////////////////*/

#page_contenu {
	text-indent:20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:1px;
	padding-bottom:1px;
	margin-top:5px;
	margin-bottom:5px;
	text-align: justify;
	background: url("../images/background.jpg") repeat;
	color: #343434;
	font-size:0.87em;
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
	min-height:564px;
}

/*//////////////////////////////////////////////////////////////////
CORPS DU SITE > PAGE DU SITE > CONTENU DE LA PAGE > MENU HORIZONTAL
//////////////////////////////////////////////////////////////////*/

#menu_horizontal {
	overflow: hidden;
	float:left;
}

#menu_horizontal a {
	float: right;
	font-family: arial, verdana, sans-serif;
	font-size:85%;
	line-height: 19px;
/*	height: 28px;	*/
	text-decoration: none; 
	text-indent:0;
	margin-left:-20px;
	margin-top:10px;
	margin-bottom:10px;
}

#menu_horizontal a span {
	background: transparent url("../images/menu_horizontal_fond.png") no-repeat top right;
	display: block;
	padding: 4px 20px 4px 27px;
	height:20px;
	color:white;
}

#menu_horizontal_first {
	padding-left: 5px !important;
	border-left:1px solid #444;
}

#menu_horizontal a:hover span {
	background: transparent url("../images/menu_horizontal_hover.png") no-repeat top right;
}

#menu_horizontal a span.selected {
	background:url("../images/menu_horizontal_selected.png") no-repeat top right;
	color: #444
}

/*/////////////////////////////
			TITRE
/////////////////////////////*/

h1 {
	margin-top:50px; /*à cause du float left du menu horizontal*/
	text-indent:0px;		/*	sert à correctement	*/
	text-align:center;		/*	centrer le titre	*/
	background: #7e98cb repeat;
	border:solid 1px #e5e5e5;
	height:26px;
/*	color: #afc2ea;	*/
	color:white;
	font-size:1.6em;
	line-height:23px;
	font-weight:lighter;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-variant: small-caps;
}

h2 {
	text-indent: 10px;
	background: #afc2ea;
	border:solid 1px #e5e5e5;
	font-size:1.4em;
	color: rgb(117,141,189);
	margin-top:0px;
	margin-bottom:0px;
	height:30px;
	line-height:30px;
/*	font-weight:lighter;	*/
}

h3 {
	text-indent:20px;
	background: url("../images/h3_background.jpg") repeat-x;
	border:solid 1px #e5e5e5;
	height:30px;
	line-height:30px;
	color:white;
	font-weight:lighter;
	padding-top:0px;
	margin-top:-1px;
}

h3:before {
	content:" - ";
}

h6 {
	text-decoration: underline;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\		::::::MESSAGE INFORMATIF:::::::			  /!\
/!\		::::::::[ERREUR/SIGNAL]::::::::			  /!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/

/*/!\/!\/!\/!\/!\::::::::ERROR:::::::/!\/!\/!\/!\/!\*/
#message_error {
background: url("../images/cross.png") no-repeat;
}

#error_container {
	color: red;
}

/*/!\/!\/!\/!\/!\:::::::SIGNAL:::::::/!\/!\/!\/!\/!\*/
#exclamation_container {
	color: green;
}

#exclamation_error {
	background: url("../images/tick.png") no-repeat;
}
/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\		Config en commun : ERROR & SIGNAL		  /!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
#error_container,
#exclamation_container {
	background:#C7C7C7;
	border: solid 1px #E4E4E4;
	text-align:center;
	line-height:10px;
	height:auto;
	padding:10px 20px 10px 20px;
	width:auto;
	text-indent:0px;
	font-family: "courier new", sans-serif;
}

#error_container span span,
#exclamation_container span span {
	margin-left:20px;
	line-height:20px;
}

#message_error,
#exclamation_error {
	background-position:center left;
	width:9px;
	height:9px;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\				erreurs générales				  /!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.fieldWithErrors {
	color:red;
	font-weight:bold;
}

.fieldWithErrors input,
.fieldWithErrors select {
	border:solid 2px red !important;
	color:red;
	margin-left: 1%;
	width: 40%;
}

.fieldWithErrors:after {
	content: " * " !important;
}

/*/////////////////////////////
	CADRE et CONTENU
/////////////////////////////*/


.matable {
	border-collapse: collapse !important;
	text-align:left !important;
	margin-bottom:20px !important;
	margin-left:15px !important;
}

.matable a {
	color: #698bcd !important;
}

.cadre {
	margin-top:10px;
	margin-bottom:10px;
	background: #ffffff;
	border: solid 1px #989898;
}

.cadre form p{
	padding-left:0px;
	padding-right: 0px;
	text-indent:0;
	text-align:left;
}

.cadre p {
	padding-left:10px;
	padding-right: 10px;
}

strong {
	color: #698bcd;
	font-weight:lighter;
}

/*/////////////////////////////
		FORMULAIRE
/////////////////////////////*/


#monForm
{
	width: auto;
	margin-left:2px;
	margin-right:5px;
}

#monForm p
{
	margin: 7px 0;
}

/*///////////////////////*/
/*// fieldset & legend //*/

#monForm fieldset
{
	margin-bottom: 10px;
	background: #eaeff8;
	border: 1px solid #444444;
	margin-left:5px;
}

#monForm fieldset legend
{
	margin-left:0px;
	padding: 0 10px;
	text-indent:0;
	border: 1px solid #444444;
	font-size: 1.2em;
	color: #454545;
	background:white;
	color:rgb(234,136,28);
}

/*///////////////////////*/
/*//////// Label ////////*/

#monForm label
{
	display: block;
	width: 40%;
	float: left;
	padding-right: 1%;
	text-align: right;
}

#monForm label:hover
{
/*	font-weight: bold;	*/
/*	font-style:italic;	*/
	text-decoration:underline;
	color: rgb(234,136,28);
}

#monForm .form_label_nostyle
{
	background: none;
}

.under_form {
	font-size:0.85em;
	color: gray;
	font-style:italic;
	text-decoration: underline;
}

/*///////////////////////*/
/*//////// Input ////////*/

#monForm input[type="text"],
#monForm input[type="password"],
#monForm select {
	margin-left: 1%;
	width: 40%;
	border: #CCC 1px solid;
}

#monForm input[type="text"]:hover,
#monForm input[type="password"]:hover,
#monForm select:hover {
	border: #aeaeae 1px solid;
	background: #f5f5f5;
}

#monForm input[type="text"]:focus,
#monForm input[type="password"]:focus,
#monForm select:focus {
	background: #f5c384;
}


#birth input[type="text"] {
	white-space:nowrap; /*Pas de retour chariot*/
	width:7%;
}

select {
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
}

/*///////////////////////*/
/*/////// TABLEAU ///////*/
/*:::::::::TAB 1:::::::::*/
/*#tab1 caption {
	background: url("../images/fond_raye_noir-blanc.jpg");
	color:white;
	width:100%;
}

#tab1 table {
	background:url("../images/tab_border-top.jpg") repeat-x;
	text-align:center;
	width:100%;
}

#tab1 table th{
	border-right: #a5a09d 1px solid;
}

#tab1 table td{
	border-right: #a5a09d 1px solid;
}

#tab1 .pair {
	background: #f9f9f9;
}

#tab1 .impair {
	background: url("../images/fond_h4_menu_secondaire.jpg") repeat;
	color:#444444;
}

#tab1 tr:hover>td {
	background: url("../images/fond_menu_secondaire.jpg");
	color:white;
}
*/
/*:::::::::TAB 2:::::::::*/
/*#tab2 caption {
	background:rgb(117,141,189);
	color: rgb(64,68,93);
	width:100%;
	font-weight:bold;
	border-bottom: solid 1px rgb(64,68,93);
	margin-top:20px;
}

#tab2 table {
	border-collapse: collapse;
	border:solid 1px rgb(64,68,93);
	background: #afc2ea;
	text-align:center;
	width:100%;
	margin-bottom:20px;
}

#tab2 table th{
	border:solid 1px rgb(64,68,93);
}

#tab2 table td{
	border:solid 1px rgb(64,68,93);
}

#tab2 tr:hover > td.impair{
	background:rgb(117,141,189);
	color:white;
}

#tab2 tr:hover > td.pair{
	background: rgb(234,136,28);
	color:white;
}
*/
/*:::::::::TAB EMR:::::::::*/
caption {
	background: #afc2ea;
	color: rgb(64,68,93);
	font-weight:bold;
	border-bottom: solid 1px rgb(64,68,93);
}

table {
	border-collapse: collapse;
	border:solid 1px rgb(64,68,93);
	background: #eaeff8;
	text-align:center;
	min-width:70%;
	margin-bottom:20px;
}

table a {
	text-decoration: none;
	color:gray;
}

table a:hover {
	text-decoration: underline;
	color:white !important;
}

table th{
	border:solid 1px rgb(64,68,93);
	background: #dedede;
}

table td{
	border:solid 1px rgb(64,68,93);
}

tr:hover > td{
	background: #f5c384; /* rgb(234,136,28); */
/*	color:white;	*/
}

tr:hover > td > a {
	text-decoration:underline;
}

/*/////////////////////////////////////////////////////
					FOOTER
////////////////////////////////////////////////////*/

#menu_principal_bottom {
	position:relative;
	bottom:36px;
	right:1px;
	background: url("../images/background_menu_principal-bottom.jpg") no-repeat;
}

#pied_de_page {
	clear:both;
	border-top: solid 5px white;
}

#footer {
	text-align:center;
	background: url("../images/menu_selection_repeat.jpg") repeat;
	border: solid 1px #444444;
	width:auto;
	color:#FFFFFF;
	font-size:0.6em;
}
#footer_containt {
	position:relative;
	top:35px;
	left:1px;
}
#pied_de_page span {
	font-variant: small-caps;
}

.bottom_icons {
	margin-top:5px;
	margin-bottom:-5px;
	border:none;
}