line, circle, path {
  stroke-width: 1;
}

.circles {
  fill: white;
}

#external_circle {
  stroke: black;
}

#internal_circle {
  stroke: #CCCCCC;
}

.lines {}

#external_line {
  stroke: black;
}

#internal_line {
  stroke: #CCCCCC;
}

.portions {}

#external_portion {
  stroke: black;
}

#external_portion.step_commercial {
  fill: #9CB5DC;
}

#external_portion.step_invoicing {
  fill: yellow;
}

#internal_portion {
  fill: #FFAE24;
  stroke: #536B90;
}
