/*/////////////////////////////////////////////////////
					BANNIERE
////////////////////////////////////////////////////*/
#banner {
	width: auto;
	height: 75px;
}

#logo {
	background-image: url("/images/osirails/logo_osirails_banner.jpg");
	float: left;
	width: 350px;
	height: 75px;
}

#under_banner {
	background-image: url("/images/osirails/banner_repeat-x_osirails.jpg");
	width: auto;
	height: 75px;
	margin-left: 350px;
}

/*/////////////////////////////////////////////////////
					Login
////////////////////////////////////////////////////*/
h1,
a {
	color:#CC6666;
}

a:hover {
	color:#993333;
}

input[type=text],
input[type=password] {
	color:#AD7278;
}