<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= vehicules_link %>
<% end %>

<h1>Ajouter un v&eacute;hicule</h1>
<%= render :partial => "tools/tool" , :locals => {:tool => @vehicule, :button_name => "Ajouter"}%>
