<p><label for="page_title_link">Titre</label><br/>
<%= text_field 'page', 'title_link'  %></p>

<p><label for="page_description_link">Description</label><br/>
<%= text_field 'page', 'description_link'  %></p>

<p><label for="page_parent_id">Parent</label><br/>
<%= collection_select(:page, :parent_id, @pages, :id, :title_link,options = {:prompt => '– Select a Property –'})%>
