<h4>Edit a page</h4>

 <% form_tag :action => 'confirm_edit', :id => @page do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Editer' %>
<%end%> 

<%= link_to 'Retour au menu', :action => 'index' %>
