<h4>Edit a page</h4>

<% form_tag :action => 'confirm_edit', :id => @pages do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Retour au menu', :action => 'index' %>
