<h1>Liste des pages</h1>
<div >
  <ul id="list1">
    <% tab = return_list(@pages,["",1]) %>
    <%= tab[0] %>
  </ul>
  
</div>
<%= link_to 'Add a page', :action => 'new' %>

<%cpt = tab[1]%>
<% tab[1].times do %>
    <%= sortable_element 'list'+cpt.to_s,   
      :complete => visual_effect(:highlight, 'list'+cpt.to_s), 
      :url => { :action => "change_position", :list_name => 'list'+cpt.to_s} %>
  <%cpt -= 1%>
 <%end%>

    
