<h4>Nouvelle Page</h4>


<% form_for(@page) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= f.submit "Add" %>
<% end %>

<%= link_to 'Home', :action => 'index' %>