
    <table>
      <thead>
        <th>Nom</th>
        <th>Categories</th>
        <th>R&eacute;f&eacute;rence</th>
        <th>Client</th>
        <th>Dossier</th>
      </thead>
      <tbody>
      <% for product in @products %>
        <% reference = ProductReference.find(product.product_reference_id) %>
        <% category = ProductReferenceCategory.find(reference.product_reference_category_id)%>
        <tr>
          <td><%= link_to_remote("#{product.name}", :update => "product_informations", :url => product_path(product.id), :method => :get) %></td>
          <td><%= category.name %></td>
          <td><%= reference.name %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>

