<% contextual_menu USEFUL_LINKS do %>
  <%= employee_link(@employee) %>
  <%= employees_link %>
<% end %>

<h1>Historique des cong&eacute;s</h1>

<div class='presentation_medium'>

  <% form_remote_tag :url => employee_leaves_path,:method => "get", :html => {:id => "leave_year_change"},  :update => "leaves_list" do%> 
   <p>
      <strong> Liste des cong&eacute;s </strong>
      <%= get_leave_years_select(@employee, 1) %>
      <input type="submit" value="voir"/>
   </p>
  </form> 
  <% end %>
  
  <div id='leaves_list'>
    <%= render :partial => "leaves"%>
  </div>
  
</div>
