<p class="message"><strong>Entrer votre nom d'utilisateur pour demander &agrave; l'administrateur un nouveau mot de passe.</strong></p>
<% form_tag :action => 'lost_password' do %>
<p>
	<%= label_tag 'username', "Nom d'utilisateur :" %><br />
	<%= text_field_tag 'username' %>
</p>
<div>
  <button type="submit" class="input-button"><span>Envoyer</span></button><br />
  <%= link_to "Retourner &agrave; la page de connexion", login_path %>
</div>
<% end %>