#thirds_logo_container {
  margin-left: 50px;
  padding: 10px 0 10px 0;
}

#thirds_logo_container img {
  padding:2px;
  border: 1px dashed #989898;
}

.activated{
  color: green;
}

.deactivated{
  color: red;
}
