<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/invoice' %>
<% end %>

<% title_context "Ventes" %>
<% title_context "Gestion" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
