<%
require_locals keywords
products ||= []
services ||= []
%>

<%
if products.any? or services.any?
  items = (products + services).map do |item|
    render :partial => 'shared/search_product_reference_auto_complete_entry', :object => item, :locals => { :keywords => keywords }
  end
else
  items = "<li>Aucun résultat</li>"
end
%>

<%= content_tag('ul', items) %>
