<%
require_locals fields, keywords
entries = search_product_reference_auto_complete
%>

<%
if entries.any?
  items = entries.map do |entry|
    render :partial => 'shared/search_product_reference_auto_complete_entry', :object => entry, :locals => { :fields => fields.split(" "), :keywords => keywords }
  end
else
  items = "<li>Aucun résultat</li>"
end
%>

<%= content_tag('ul', items) %>
