<% content_for :header do -%>
  <%= javascript_include_tag 'purchases/purchases' %>
  <%= stylesheet_link_tag_with_theme_support 'purchases/purchases' %>
<% end -%>

<%= generate_contextual_menu_partial %>

<h1>Nouvelle demande d'achat</h1>
<%= render :partial => @purchase_request%>
