<% owner_type = conveyances_owner.class.name.downcase %>
<% conveyances = conveyances_owner.conveyances %>
<% actives_conveyances = Conveyance.actives %>
<% conveyances_owner_ids = conveyances_owner.send("#{owner_type}_conveyances").collect{ |owner_conveyance| owner_conveyance.conveyance_id } %>

<div> 
  <% fields_for "#{owner_type}[#{owner_type}_conveyances_attributes][]", conveyances_owner, :index => nil do |f| %>
    <p>Veuillez choisir dans la liste les diff&eacute;rents transports que vous souhaitez attribuer &agrave; ce transporteur. </p>
    <p>Vous pouvez choisir plusieurs transport en maintenant la touche CTRL enfoncé et en cliquant sur les transports</p>
    <% if is_form_view? %>
      <%= f.collection_select("#{owner_type}_conveyance_ids".to_sym, actives_conveyances, :id, :name, {}, { :index => nil, :multiple => true } ) %>
    <% end %>
  <% end %>
</div>
<br />
