<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_society_activity_sector_link %>
	<%= delete_society_activity_sector_link(@society_activity_sector)%>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
	<%= society_activity_sectors_link %>
<% end %>

<h1>Modifier un secteur d'activit&eacute;</h1>

<div>
<%= render :partial => @society_activity_sector, :locals => {:submit_button_name => "Mettre &agrave; jour"} %>
</div>
