<% add_contextual_menu_item :possible_actions do %>
  <%= new_society_activity_sector_link %>
	<%= delete_society_activity_sector_link(@society_activity_sector)%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= society_activity_sectors_link %>
<% end %>

<h1>Modifier un secteur d'activit&eacute;</h1>

<div>
<%= render :partial => @society_activity_sector %>
</div>
