<% add_contextual_menu_item :useful_links do %>
	<%= society_activity_sectors_link %>
<% end %>

<h1>Nouveau secteur d'activit&eacute;</h1>

<div>
<%= render :partial => @society_activity_sector, :locals => {:submit_button_name => "Créer"} %>
</div>
