.resource.contact {
  background-color: #f5f5f5;
  width: 410px;
}

.resource.contact .thumb {
  border: 1px solid #CCC;
  border-bottom: 2px solid #CCC;
  border-right: 2px solid #CCC;
  background-color: #fff;
}

.resource.contact .details {
  min-height: 78px; /* thumb height + 3px thumb borders */
  width: 300px;
}

form .resource.contact label {
  width: 140px !important;
}

/* CONTACTS PICKER */
.contact_picker {
  min-height: 105px;
}

#preview_contacts {
  text-align: left;
}

.preview_contact {
  display: inline-block;
  position: relative;
}

.contact_input {
  display: none;
}

a.contact_actions {
  display: none;
  position: absolute;
  top: 13px;
  right: 13px;
}
/* END CONTACTS PICKER */
