#contextual_menu_actions{
  background: url("/themes/emr/images/background_contextual_menu.gif") repeat;
  border-right: 1px solid #A8A8A8;
  border-left: 1px solid #A8A8A8;
  border-top: 1px solid #A8A8A8;
  -moz-border-radius: 10px 10px 0 0;
  position:absolute;
  top:-26px;
  right:0px;
  text-align:center;
  padding: 4px 5px 0 5px ;
}

#content_page.with_pinned_menu{
  margin-right:255px;
}

#contextual_menu_container{
  position: absolute;
}

#contextual_menu_container.pinned_menu{
  top: 12px;
  right: 15px;
}

#contextual_menu_container.not_pinned_menu{
  top: 33px;
  right: 15px;
}

#contextual_menu {
	right: 0px;
	top: 0px;
	border: 1px solid #A8A8A8;
	-moz-border-radius: 10px 0 0 10px;
	-moz-box-shadow: 6px 4px 8px rgba(0,0,0,0.3);
	background: url("/themes/emr/images/background_contextual_menu.gif") repeat;
	width: 230px;
	text-indent: 0px;
	font-size: 0.8em;
}

.hidden_contextual_menu,
.shown_contextual_menu {
	text-align: right;
	white-space: nowrap;
	text-indent: 0px;
	font-size: 0.8em;
}

.hidden_contextual_menu #status_background_contextual_menu,
.shown_contextual_menu #status_background_contextual_menu {
	background:url("/themes/emr/images/background_hidden-shown_contextual_menu.png") no-repeat top left;
	height: 29px;
	width: 20px;
	line-height: 26px !important;
	position:relative;
	right:0px
	color: #6481AE;
	max-width: 800px;
	padding-left: 6px;
	overflow: hidden;
	float: right;
}

.hidden_contextual_menu #status_background_contextual_menu:hover,
.shown_contextual_menu #status_background_contextual_menu:hover {
	width: auto;
	cursor: pointer;
}


.shown_contextual_menu span,
.hidden_contextual_menu span {
  padding: 3px 2px 1px 22px;
}

.hidden_contextual_menu span {
	background:url("/themes/emr/images/arrow_status_contextual_menu.jpg") no-repeat bottom left;
}

.shown_contextual_menu span {
	background:url("/themes/emr/images/arrow_status_contextual_menu.jpg") no-repeat top left;
}

#contextual_menu_content {
}

#contextual_menu_content h1 {
  position: relative;
	background-color: #e99727;
	font-family: verdana, sans-serif;
	font-size:1.1em;
	font-weight: bold;
	color: black;
	-moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.2), 0px -3px 4px rgba(0,0,0,0.2);
	border: none;
	height: auto;
	line-height: 2.4em;
	margin: 0;
	padding: 0;
}

#contextual_menu_content h1:first-child {
	-moz-border-radius: 10px 0 0 0;
	-moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.2) !important;
}

#contextual_menu_content ul {
	list-style-type: none;
	padding: 0 6px 0 6px;
	margin: 8px 0 12px 0;
}

#contextual_menu_content ul li {
	text-decoration: none;
	text-indent:0px;
	margin-bottom: 4px;
}

#contextual_menu_content a {
	text-decoration: none;
	color: black;//#CA7E21;
	padding: 2px 4px 2px 4px;
}

#contextual_menu_content a:hover {
	background-color: #ecc48b;
}

#contextual_menu_content a img {
	position:relative;
	top:2px;
}

#contextual_menu_content p {
	margin-left:10px;
	margin-right:10px;
	text-align:justify;
}

#contextual_menu input[type=text] {
	margin: 5px;
	padding-right:5px;
	line-height:22px;
	border: #444 1px solid;
}

button.contextual_search_button {button in the input type text [contextual_menu]
	background:url("/themes/emr/images/view_12x12.png");
	position:relative;
	right:20px;
	bottom:3px;
	border:none;
	width:12px;
	height:12px;
}

#contextual_search {
  padding-right: 15px !important;
  width: 170px !important;
  color: grey !important;
  font-style: italic !important;
}

#contextual_search:focus {
  color: black !important;
  font-style: normal !important;
}

#contextual_menu a.default-button {
	margin:0 5px 0px 5px;
}

button.contextual_search_button:hover {
	cursor:pointer;
}


ul.center_list {
	text-align:center;
	text-indent:0;
}

ul.center_list li {
	padding-left:6px;
}

.contextual_menu_statistic {
	color:#CA7E21;
}
*/

.help {
	font-size:0.7em;
	color:#444;
	margin-right:5px;
	margin-left:5px;
}
