.hascontextmenu { cursor: context-menu; }

#context-menu {
  position: absolute;
  z-index: 40;
  font-size: 0.8em;
}

#context-menu ul, #context-menu li, #context-menu a {
  display:block;
  margin:0;
  padding:0;
  border:0;
}

#context-menu ul {
  width:150px;
  border: 1px solid #777;
  background:white;
  list-style:none;
  -moz-box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
}

#context-menu li {
  position:relative;
  padding:1px;
  z-index:39;
}

#context-menu li.title {
  border-bottom: 1px solid #777;
  background-color: #ddd;
  color: #2A5685;
  font-weight: bold;
  text-align: center;
}

#context-menu li.folder ul { position:absolute; left:168px; /* IE6 */ top:-2px; }
#context-menu li.folder>ul { left:148px; }

#context-menu.reverse-y li.folder>ul { top:auto; bottom:0; }
#context-menu.reverse-x li.folder ul { left:auto; right:168px; /* IE6 */ }
#context-menu.reverse-x li.folder>ul { right:148px; }

#context-menu a {
	border:1px solid white;
	text-decoration:none !important;
	padding: 1px;
	width:100%; /* IE */
}

#context-menu li>a { width:auto; } /* others */
#context-menu a.disabled, #context-menu a.disabled:hover {color: #ccc;}
#context-menu li a.submenu { background:url("../images/arrow_right_context_menu.png") right no-repeat; }
#context-menu a:hover { border-color:gray; background-color:#eee; color:#2A5685; }
#context-menu li.folder a:hover { background-color:#eee; }	
#context-menu li.folder:hover { z-index:40; }		
#context-menu ul ul, #context-menu  li:hover ul ul { display:none; }
#context-menu li:hover ul, #context-menu li:hover li:hover ul {	display:block; }

/* selected element */
.context-menu-selection { background-color:#507AAA !important; color:#f8f8f8 !important; }
.context-menu-selection a, .context-menu-selection a:hover { color:#f8f8f8 !important; }
.context-menu-selection:hover { background-color:#507AAA !important; color:#f8f8f8  !important; }
