/*	default.css------------------------------------------------------
	----------	..::Par Oxydium::.

Création : Juillet/Octobre 2008
---------
Description : feuille de style de la page d'index contenant la mise
en forme du site (menus, en-têtes, pied de page...).
---------------------------------------------------------------------
				..::Powered by Oxydium::..
creation : July/October 2008
---------
Description: stylesheet of the index page containing the layout's site 
(menus, headers, footers ...).
--------------------------------------------------------------------*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-size: 92%;
	cursor: default;
	min-width: 1024px;
}

a {
	color:rgb(234,136,28); /*#698bcd : BLUE*/
}

strong {
  color:rgb(234,136,28); /*#698bcd : BLUE*/
  font-weight:lighter;
}

strong.highlight {
  color:inherit;
  background-color:yellow;
}

a:hover {
	color:#698bcd;
}

a>img {
	border:none;
}

/* TABLE */
caption {
	font-weight:bold;
	margin-top:10px;
}

table {
	border-collapse: collapse;
	border: solid 1px #CCC;
	background-color: #FCFCFC;
	text-align: center;
	margin: 8px 0 8px 0;
	width: 100%;
}

table a {
	text-decoration: none;
	color:gray;
}

table a:hover {
	text-decoration: underline;
}

table > tr > th,
table thead > tr > th,
table tbody > tr > th,
table tbody > tr > td.thead {
	background-color: #DFDFDF;
	border: 1px solid #CCC;
	padding: 4px 8px 4px 8px;
	font-weight: bold;
}

table tbody > tr > th,
table tbody > tr > td.thead {
  text-align: right;
}

table tr > td,
table tbody > tr > td {
	border-right: solid 1px #CCC;
	border-left: solid 1px #CCC;
	border-bottom: none;
	border-top: none;
	padding: 3px 7px 3px 7px;
}

table:not(.no_nth) tbody > tr:not(.nested):nth-child(even),
table tbody > tr.even {
  background-color: #EAEAEA;
}

table.no_nth tbody > tr {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

table tr.nested {
  border-top: 1px solid #CCC;
}

table tr.nested.even {
  background-color: #EAEAEA;
}

table tr.disabled td:not(.actions) {
	text-decoration: line-through;
	font-style: italic;
}

table tr.group {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #EAEAEA; /* same color as even lines */
}

table tr.group td:not(.actions) {
  padding: 0.8em;
  text-align: left;
  font-size: 0.96em;
  font-weight: bold;
}

table tr > td.selector {
  width: 0px;
}

table tr > td.text,
table tr > td.text input[type=text] {
  text-align: left !important;
}

table tr > td.amount,
table tr > td.amount input[type=text] {
  text-align: right !important;
}

table tfoot > tr.nota > td {
  text-align: left;
  font-style: italic;
  font-size: 0.9em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

table tfoot > tr.nota > td strong {
  color: inherit;
  font-weight: bold;
}

table td span.fieldWithErrors {
  display: inline-block;
}

table td span.fieldWithErrors:after {
  color: red;
  vertical-align: top;
  content: " *"
}

object {
  margin: 0;
  padding: 0;
}

hr {
  border-color: #DDD;
  margin: 12px 0px 12px 0;
  -moz-box-shadow: 0px 1px 7px rgba(0,0,0,0.4), 0px -1px 7px rgba(0,0,0,0.4);
}

/* IMAGES */
a[data-icon] {
  background-repeat: no-repeat;
  background-position: 1px 50%;
  padding-left: 16px !important;
}

a[data-icon=new]    { background-image: url("/themes/emr/images/new.png"); }
a[data-icon=show]   { background-image: url("/themes/emr/images/show.png"); }
a[data-icon=edit]   { background-image: url("/themes/emr/images/edit.png"); }
a[data-icon=delete] { background-image: url("/themes/emr/images/delete.png"); }
a[data-icon=index]  { background-image: url("/themes/emr/images/index.png"); }

a[data-icon=confirm]  { background-image: url("/themes/emr/images/confirm.png"); }
a[data-icon=cancel]   { background-image: url("/themes/emr/images/cancel.png"); }

a[data-icon=watching]   { background-image: url("/themes/emr/images/watching.png"); }   /* for acts_as_watchable plugin */
a[data-icon=unwatching] { background-image: url("/themes/emr/images/unwatching.png"); }
/* END IMAGES */

/* FIELDSET & LEGEND */
fieldset:not(no-style) {
	margin-top: 0.8em;
	background-color: #F5F5F5;
	border: 1px solid #AAA;
}

fieldset:not(no-style) > legend {
	border: 1px solid #AAA;
	background-color: #F5F5F5;
	padding: 0.3em 0.7em;
	font-weight: bold;
}

textarea.autoresize_text_area {
  overflow: hidden;
}

/*/////////////END OF GENERICS TAGS////////////////////*/

/*/////////////////////////////////////////////////////
					BANNER
////////////////////////////////////////////////////*/
#banner {
	width: auto;
	height: 56px;
}

#logo {
	background-image: url("/themes/emr/images/banner_logo.jpg");
	float: left;
	width: 629px;
	height: 56px;
}

#welcome_message {
	color:white;
	font-size: 95%;
	padding-left: 180px;
	margin-top:20px;
	float: left;
}

#background_banner {
	background-image: url("/themes/emr/images/banner_repeat-x.jpg");
	width: auto;
	height: 56px;
	margin-left: 629px;
}

/*/////////////////////////////////////////////////////
				BANNER > BUTTONS
////////////////////////////////////////////////////*/

#block_button_banner {
	text-align: right;
	margin: 0 11px 0 0;
	height: 20px;
	padding-top: 5px;
}

#block_button_banner a.button_banner {
  background-color: #434e6d;
  padding: 2px 8px 2px 8px;
  margin-left: 6px;
  font-family: arial, verdana, sans-serif;
	font-size: 85%;
	line-height: 12px;
	text-decoration: none;
  color: white;
  border: 1px solid gray;
  -moz-border-radius: 8px;
  -moz-box-shadow: 0.3px 0.3px 1px rgba(255,255,255,0.3), inset -2px -1.6px 1px rgba(0,0,0,0.5), inset 1px 1px 2px rgba(255,255,255,0.7), inset 0px 8px 3px rgba(0,0,0,0.3);
}

#block_button_banner a.button_banner:hover {
  background-color: #4f4f50;
  color: #c3d1ea;
}

#block_button_banner a.button_banner:active {
  -moz-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3), inset 0px 4px 20px rgba(0,0,0,0.5);
}

#banner_datetime {
  text-align: right;
	line-height: 0px;
	padding-top: 5px;
	margin: 0 11px 0 0;
	font-size: 0.9em;
	color: #EA972D;
}

/*/////////////////////////////////////////////////////
					UNDER-BANNER
////////////////////////////////////////////////////*/

#under_banner {
	clear:both;
	background: url("/themes/emr/images/background_under_banner_repeat-x.jpg") repeat;
	width: 100%;
	height: 43px;
	color:#444444;
}

#text_under_banner {
	color: #FFFFFF;
	padding-left: 10px;
	text-align: justify;
	float: left;
	font-size: 85%;
	line-height: 20px;
 	width:86%;
	height:43px;
	min-width: 893px;
	min-height: 43px;
	cursor:pointer;
}

#block_button_under_banner {
	margin-top: 7px;
	float: left;
	width:11%;
	text-align:right;
}

#previous_memorandum,
#previous_memorandum:hover,
#next_memorandum,
#next_memorandum:hover {
	background: url("/themes/emr/images/button_under_banner_arrow.png") no-repeat;
	width:24px;
	height:21px;
	border:none;
}

#previous_memorandum {
	background-position:0 0;
	
}

#previous_memorandum:hover {
	background-position:0 -21px;
	cursor:pointer;
}

#next_memorandum {
	background-position:-24px 0;
}

#next_memorandum:hover {
	background-position: -24px -21px;
	cursor:pointer;
}

/*
.number {
	color: white;
	line-height:25px;
}
*/

.memorandum_date{
	font-weight:bold;
}

.memorandum_title {
	text-decoration:underline;
}

#under_banner strong {
	color:#333;
	font-weight:bold;
}

#not_employee_reference {
	font-size:1em;
	color:#333;
	position:relative;
	top:10px;
	margin:0 0 0 27%;
}

/*////////////////////////////////////////////////////////
					BODY OF THE WEBSITE
////////////////////////////////////////////////////////*/
/*REGROUPS THE WHOLE OF THE WEBSITE WITH THE EXCEPTION 
					OF BANNERS							*/
#block_body {
  clear: both;
	width: auto;
	height: auto;
	margin: -16px 0 5px 0;
	padding: 5px 0 0 0;
}

/*/////////////////////////////////////////////////////
			BODY OF THE WEBSITE > MENU NAVIGATION
////////////////////////////////////////////////////*/
#nav h4 {
  /* 1px offset to 'remove' the UL's border just below the selected menu */
  position: relative;
  top: 1px;
  /* end of the tip */
  
  font-size: 0.8em;
  display: inline-block;
  background-color: #a2b3d7;
  padding: 6px 29px 6px 17px;
  margin: 0px 7px 0 0;
  border-top: 1px solid #737373;
  border-right: 1px solid #737373;
  border-left: 1px solid #737373;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3), inset 0px -2px 8px rgba(0,0,0,0.3);
}

#nav h4.nav_current {
  background-color: #e99727;
  -moz-border-radius: 0 10px 0 0;
  -moz-box-shadow: none;
  padding: 6px 17px 6px 17px;
  
  /* 1px offset to 'remove' the UL's border just below the selected menu */
  z-index: 2;
  /* end of the tip */
}

#nav h4:first-child {
  margin-left: 15px;
}

#nav h4 a {
  text-decoration: none;
  color: black;
}

#nav h4 a:hover {
  text-decoration: underline;
}

#nav a.nav_more {
  margin-left: 4px;
  position: absolute;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url('/themes/emr/images/arrow_down_16x16.png') no-repeat;
}

#nav a.nav_more em {
  display: none;
}

#nav ul {
  /* 1px offset to 'remove' the UL's border just below the selected menu */
  position: relative;
  /* end of the tip */
  
	list-style-type: none;
	background-color: #e99727;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
	padding: 0 0 0 6px;
	margin: 0;
}

#nav ul li {
  font-size: 0.73em;
  display: inline-block;
	text-decoration: none;
	padding: 5px 0 5px 0;
}

#nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 5px 8px 5px 8px;
}

#nav ul li.selected > a {
  background-color: #ecc48b;
  font-weight: bold;
  -moz-border-radius: 3px;
  margin-right: 9px;
}

#nav ul li a:hover {
  text-decoration: underline;
}

#nav ul li.before_separator {
  margin-left: 14px;
  /* border-left: 1px solid #737373; */
}

#nav ul li.after_separator {
  margin-right: 14px;
  /* border-right: 1px solid #737373; */
}

#nav ul.nav_top {
  display: none;
  position: absolute;
  z-index: 3;
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
  border-left: 1px solid #737373;
  border-right: 1px solid #737373;
  background-color: #a2b3d7;
  left: 15px;
  padding: 0;
  margin: 0;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#nav ul.nav_top li {
  display: block;
	padding: 0;
	margin: 0;
	min-width: 160px;
}

#nav ul.nav_top li.selected > a {
  -moz-border-radius: 0;
  background-color: #e99727;
}

#nav ul.nav_top li a {
  display: block;
	text-decoration: none;
	padding: 4px 10px 4px 10px;
	margin: 0;
}

#nav ul.nav_top li a:hover {
  background-color: #ecc48b;
}

#nav ul.nav_top li.before_separator {
  border-top: 1px solid #737373;
}

#nav ul.nav_top li.after_separator {
  border-bottom: 1px solid #737373;
}

/*/////////////////////////////////////////////////////
			BODY OF THE WEBSITE > PAGE OF WEBSITE
////////////////////////////////////////////////////*/
#page {
  position: relative;
	border: solid 1px #cecece;
	background: url("/themes/emr/images/background_content_page.jpg") repeat;
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*::::::::::::::::::::::::::::::::DEFAULT BUTTONS:::::::::::::::::::::::::::::::::::::::::*/
a.default-button { 																		/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;
	display: block;                                                                    	/**/
	float: left;                                                                        /**/
	font-family: arial, verdana, sans-serif;                                       		/**/
	font-size:85%;                                                                		/**/
	line-height: 18px;                                                            		/**/
	height: 26px;                                                                  		/**/
	padding-left: 8px;                                                            		/**/
	text-decoration: none;                                                         		/**/
	text-indent:0;                                                                 		/**/
	margin:5px 5px 5px 0;                                             		 			/**/
	color:black;                                                                   		/**/
}																				   		/**/
																						/**/
a.default-button span { 																/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;
	display: block;																		/**/
	padding: 2px 12px 6px 0;															/**/
}																						/**/
																						/**/
a.default-button:hover { 																/**/
	background-position: bottom left;													/**/
}																						/**/
																						/**/
a.default-button:hover span {															/**/
	background-position: bottom right;													/**/
	color:black;																		/**/
}	 																					/**/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
button.input-button { 																	/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;
	font-family: arial, verdana, sans-serif;											/**/
	font-size:85%;																		/**/
	height: 26px;																		/**/
	padding-left: 5px;																	/**/
	margin:5px 0px 5px 0px;																/**/
	color:black;																		/**/
	border:none;																		/**/
	min-width:70px;																		/**/
}																						/**/
																						/**/
button.input-button span { 																/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;
	display: block;																		/**/
	padding: 2px 12px 6px 0;                                                            /**/
	margin-top:-2px;                                                                    /**/
	border:none;                                                                        /**/
	line-height:18px;                                                                   /**/
}																					    /**/
																					    /**/
button.input-button:hover { 															/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat bottom left;
}																					    /**/
																					   	/**/
button.input-button:hover span {													   	/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat 100% -26px;
	color:black;                                                                       	/**/
}																						/**/
/*:::::::::::::::::::::::::::::::BUTTON PREVIOUS-NEXT:::::::::::::::::::::::::::::::::::::*/
a.next-button,
a.previous-button {
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;
	font-family: arial, verdana, sans-serif;
	font-size:85%;
	height: 26px;
	padding-left: 8px;
	padding-bottom:12px;
	color:black;
	border:none;
	text-decoration:none;
	margin:5px;
}

a.next-button span,
a.previous-button span {
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;
	padding: 3px 12px 8px 0; 
	border:none;
	line-height:18px;
	position:relative;
	top:3px;
}

a.next-button span:after {
	content:" >";
}

a.previous-button span:before {
	content:"< ";
}

a.next-button:hover,
a.previous-button:hover { 															 
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat bottom left;
}

a.next-button:hover span,
a.previous-button:hover span {						
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat 100% -26px;
	color:black;
}	 		

/*//////////////////////////////////////////////////////////
BODY OF WEBSITE > PAGE OF WEBSITE > CONTENT OF THE PAGE
//////////////////////////////////////////////////////////*/
#content_page {
  background: url("/themes/emr/images/background_content_page.jpg") repeat;
	padding: 0px 5px 8px 5px;
	margin: 4px 0px 2px 0px;
	text-align: justify;
	color: #343434;
	font-size:0.87em;
	min-height:564px;
}

#content_page > h1 {
	text-align: left;
	background: #7E98CB;/*#EBA04E repeat*/
	border:solid 1px #e5e5e5;
	color: white;
	font-size: 1.6em;
	line-height: 23px;
	font-weight: lighter;
	font-variant: small-caps;
	margin: 0 0 8px 0;
	padding: 3px 5px 8px 5px;
}

#content_page > h1:before {
  content: '➛ '
}

#content_page > div > h2,
#content_page > div > form > h2,
#content_page > div > form > div:not(.errorExplanation) > h2 {
	text-indent: 10px;
	background: url("/themes/emr/images/background_content_page_second_header.jpg") repeat-x;
	border-bottom:solid 1px #e5e5e5;
	font-size: 1.4em;
	color: white;
	margin: 0 -13px 0 -13px;
	padding-top: 1px;
	height: 29px;
	line-height: 29px;
	font-weight: lighter;
	letter-spacing: 2px;
}

#content_page > div > h2:first-child,
#content_page > div > form > h2:first-child,
#content_page > div > form > div:not(.errorExplanation) > h2:first-child {
  margin-top: -5px;
}

#content_page > div > h2.warning,
#content_page > div > form > h2.warning,
#content_page > div > form > div:not(.errorExplanation) > h2.warning {
  background: url("/themes/emr/images/warning_14x14.png") no-repeat 7px;
	background-color: #e99727;
	border: 1px solid #737373;
	text-indent: 27px;
}

#content_page h3 {
	text-indent: 25px;
	background: #afc2ea;
	border: 1px solid #bbb;
	height: 20px;
	line-height: 20px;
	color: rgb(70,94,142);
	padding-top: 0px;
	margin: 0 -5px 0 -5px;
	font-size: 1.05em;
}

#content_page h6 {
	text-decoration: underline;
}

.link_back {
  display: inline;
  background-color: white;
  padding: 3px 10px 3px 10px;
  border: solid 1px #989898;
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  font-size:80%;
}

.link_back a {
  text-decoration: none;
}

#ajax_holder {
  position: absolute;
  top: 55px;
  left: 10px;
  min-height: 100px;
  width: 80%;
  -moz-box-shadow: 6px 4px 8px rgba(0,0,0,0.3) !important;
  padding: 0 4px 0 4px !important;
}

#ajax_holder_waiting {
  position: absolute;
  top: 5px;
  left: 10px;
}

#ajax_holder_content {
  padding: 0 1px 2px 1px;
}

#ajax_holder_command {
  position: absolute;
  top: -4px;
  right: 0px;
  float: right;
}

#ajax_indicator {
  position: fixed;
  z-index: 5;
  top: 10px;
  width: 100%;
}

#ajax_indicator div {
  position: relative;
  margin: 0 auto;
  width: 500px;
  background-color: #CCC;
  border: 1px solid #AAA;
  -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

#ajax_indicator span {
  position: relative;
  display: block;
  padding: 0.6em 6em;
  margin: 0;
  font-weight: bold;
  color: #777;
  background: #EFEFEF url("/themes/emr/images/loading_16x16.gif") no-repeat 4em 50%;
}
/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\::::::: FLASH MESSAGES :::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.flash_container {
	padding: 0 !important;
	margin: 0 0 5px 0 !important;
	background: inherit !important;
	border: inherit !important;
	-moz-box-shadow: inherit !important;
}

.flash_container ul {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.flash_container ul li {
	text-align:left;
}

.flash_container div span {
	margin-left:20px;
}

.flash_container strong {
  font-weight: bold;
}

.flash_container div {
	padding: 5px;
	background-position: 5px 6px;
  background-repeat: no-repeat;
}

.flash_container div.flash_error {
	background-image: url("/themes/emr/images/cross_16x16.png");
	color: #880000;
	background-color: #FFE3E3;
	border: 2px solid #DD0000;
}

.flash_container div.flash_notice {
	background-image: url("/themes/emr/images/tick_16x16.png");
	color: #005F00;
	background-color: #DFFFDF;
	border: 2px solid #9FCF9F;
}

.flash_warning {
  background: url("/themes/emr/images/warning_14x14.png") no-repeat;
	color: #ce8300;
	background-color: #fff4df;
	border: 2px solid #ff9600;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\::::::::::::::::GENERAL ERRORS:::::::::::::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.fieldWithErrors input,
.fieldWithErrors select,
.fieldWithErrors label,
.fieldWithErrors textarea {
  color:#B0383D;
}

#errorExplanation {
  position: relative;
  display: inline-block;
	border: solid 1px #F1BD73;
	background: #F6E8CF;
	margin-top: 5px;
	//width: 530px;
	margin-bottom: 8px;
}

#errorExplanation ul,
.errorExplanation ul {
  position: relative;
  padding-left: 25px;
}

#errorExplanation ul li,
.errorExplanation ul li {
	background: url("/themes/emr/images/warning_14x14.png") no-repeat;
	list-style-type:none;
	text-indent:21px;
	margin:3px 3px 7px 0px;
	color:#EA7805;
}


#errorExplanation h2,
.errorExplanation h2 {
  background: #F1BD73;
  margin-top: 0px;
  padding: 3px 10px;
	color: #B0383D;
	text-align: center;
	font-size: 1em;
}

#errorExplanation p,
.errorExplanation p {
	padding-left: 8px;
}

#errorExplanation strong,
.errorExplanation strong {
  color: inherit;
  font-weight: bold;
}

.fieldErrorExplanation {
  border: solid 1px #F1BD73;
	background: #F6E8CF url("/themes/emr/images/warning_14x14.png") no-repeat 4px 50%;
	color: #EA7805;
	padding: 3px;
	padding-left: 22px;
	text-align: left;
}

/*/////////////////////////////
		FRAME & CONTENT
/////////////////////////////*/
table.presentation {
	border-collapse: collapse;
	text-align:left;
	margin-bottom:20px;
	margin-left:15px;
	border:none;
	background:white;
	width: auto;
}

table.presentation a {
	color: #698bcd;
	text-decoration:underline;
}

table.presentation a:hover {
	color:#698bcd;
}

table.presentation tr td{
	border:none;
	vertical-align:top;
}

table.presentation td.left_cell {
	width:110px;
}

table.presentation td.right_cell {
	width:800px;
	padding-bottom:10px;
}

table.presentation tr:hover > td{
	background: none;
}

/*::::::::::::TABLE "COMMODITY"::::::::::::*/
table.commodity {
	font-weight:lighter;
}

table.commodity th {
	text-align:center;
}


table.commodity td {
	text-align:center;
} 

table.commodity img[title="Enrouler"] + span,
table.commodity img[title="Dérouler"] + span {
	text-align:left;
}

.commodity td.sub_commodity_category {
	color:#888;
}

.commodity td.commodity_category {
	font-weight:bold;
}

tr.current_inventory {
	color:#CA7E21;
}

/**/
/*:::::::::TABLE WITHOUT STYLE:::::::::*/
caption.no-style {
	background: none;
	color: inherit;
	font-weight:none;
	border-bottom: none;
}

table.no-style {
	border-collapse: collapse;
	border:solid 1px #333;
	background: none;
	text-align:center;
	width:inherit;
	margin: 10px 0 10px 10px;
}

table.no-style a {
	text-decoration: none;
	color:gray;
}

table.no-style a:hover {
	text-decoration: none;
	color:white !important;
}

table.no-style th{
	border:solid 1px #333;
	background: none;
}

table.no-style td{
	border:solid 1px #333;
}

table.no-style tr:hover > td{
	background: none;
}

table.no-style tr:hover > td > a {
	text-decoration:underline;
}

/*/////////////////////////////
		IN_PLACE_EDITOR
/////////////////////////////*/
.inplaceeditor-form input {
width: 50px ! important;
}

/* SUBMIT BUTTON */
.editor_ok_button {
  display: none;
}

/* a (LINKS) */
.editor_cancel {
	background:url("/themes/emr/images/cross_16x16.png") no-repeat;
}

.editor_cancel span {
	display:none;
}

#content_page > div {
  margin-top: -3px;
	margin-bottom: 10px;
	padding: 5px 13px 5px 13px;
	background: #ffffff;
	border: solid 1px #989898;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#content_page > div p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/*/////////////////////////////
			FORM
/////////////////////////////*/
/*///////////////////////*/
#content_page > div div.autoscroll {
  overflow: auto;
}

.alignment {
	padding:5px 10px 5px 10px;
}

.date_days {
	margin:0px 20px 0px -15px ;
}

/*LAYOUTS' FORM*/

div.presentation_small label {
	width:100px;
}

div.presentation_medium label {
	width:200px;
}

div.presentation_large label {
	width:350px;
}

div label.skip_presentation {
  width: inherit !important;
}

#content_page > div label {
	text-align:right;
	display:inline-block;
	min-height: 22px;
}

#content_page > div form p input[type=text],
#content_page > div form p input[type=password],
#content_page > div form p input[type=checkbox],
#content_page > div form p textarea,
#content_page > div form p select {
  vertical-align:top;
}

#content_page > div form p input[type=submit],
#content_page > div form p input[type=reset] {
  margin-right: 10px;
}

#content_page > div form p.form_buttons {
  background: #e99727;
  border: 1px solid #737373;
  padding: 8px 10px 8px 10px;
  margin: 10px -13px -5px -13px;
}

.calendar_container {
  position: relative;
  vertical-align: top;
}

.calendar_displayed_field {
	padding-right: 16px; /* space for calendar_cleaner */
	margin-right: 25px; /* space for calendar_trigger */
}

.calendar_cleaner {
	position: absolute;
	background: url("/themes/emr/images/eraser_12x12.png") ;
	top: 7px;
	right: 30px;
	border: none;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.calendar_trigger {
  position: absolute;
  top: 4px;
  right: 6px;
  cursor: pointer;
}

/* FORM WITH MULTIPLE ENTRIES */

#content_page > div .form_multiple_entries {
  margin: 0;
  padding: 0;
}

#content_page > div .form_multiple_entries label:first-child {
  text-align: right;
	display: inline-block;
}

#content_page > div .form_multiple_entries .collection {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  text-indent: 0px;
  border: 1px solid grey;
  -moz-border-radius: 2px;
  -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  width: 200px;
  min-height: 15px;
  max-height: 200px;
  overflow: auto;
}

#content_page > div .form_multiple_entries .object {
  display: block;
  margin-bottom: 4px;
}

#content_page > div .form_multiple_entries .object .object_details {
  display: block;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  -moz-border-radius: 0 0 6px 6px ;
  margin: 0 5px 5px 5px;
  padding: 0;
}

#content_page > div .form_multiple_entries .object .object_details p {
  margin: 0;
  padding: 3px 5px 3px 5px;
}

#content_page > div.presentation_large .form_multiple_entries label {
	width:350px;
}

#content_page > div.presentation_medium .form_multiple_entries label {
	width:200px;
}

#content_page > div.presentation_small .form_multiple_entries label {
	width:100px;
}

#content_page > div .form_multiple_entries .object label {
  width: auto;
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

#content_page > div span.help_text {
  font-style: italic;
  font-size: small;
  color: grey;
}

#content_page > div span.help_text strong {
  color: inherit;
  font-weight: bold;
}

#content_page > div div.notification {
  border: 1px solid #F1BD73;
  -moz-border-radius: 5px;
  text-align: left;
  background-color: #F6E8CF;
  padding: 3px 5px 3px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#content_page > div div.notification ul {
  margin: 0;
}

#content_page > div div.notification ul li {
  padding: 0;
  margin: 0;
}

#content_page > div div.notification strong {
  color: inherit;
  font-weight: bold;
}

#content_page > div span.warning {
  border: 1px solid #F1BD73;
  -moz-border-radius: 5px;
  background: #F6E8CF url("/themes/emr/images/warning_14x14.png") no-repeat 5px center;
  padding: 4px 8px 4px 25px;
  margin-left: 10px;
  margin-right: 10px;
}
 
#content_page > div span.warning strong {
  color: inherit;
  font-weight: bold;
}

/*::::::::::Presentation in columns::::::::::::*/

.presentation_in_columns {
  text-align: left;
}

.presentation_in_columns > div:not(.errorExplanation):first-child {
  margin-left: inherit;
}

.presentation_in_columns > div:not(.errorExplanation) {
  display:inline-block;
  //max-width:800px;
  min-width:100px;
  vertical-align: top;
}

.presentation_in_columns > div.errorExplanation {
  display: block !important;
}

.presentation_in_columns.large label,
.presentation_in_columns div.large label {
	width:350px !important;
}

.presentation_in_columns.medium label,
.presentation_in_columns div.medium label {
	width:200px !important;
}

.presentation_in_columns.small label,
.presentation_in_columns div.small label {
	width:100px !important;
}

/* /////////// */

/*
.scroll_checkboxes { 
	margin:15px 15px 15px 20px;
	//width:200px;
	height: 100px;
	padding: 5px;
	overflow: auto;
	border: 1px solid #ccc
}

.scroll_checkboxes p {
	width:100%;
	padding:0;
	margin:0;
	text-indent:0;
	height:20px;
}

.scroll_checkboxes p:hover {
	background-color: #f5c384;
}

.scroll_checkboxes ul {
	width:100%;
	padding:0;
	margin:0;
}

.scroll_checkboxes ul li {
	text-indent:0;
	height:20px;
}
*/

/*/////////////////////////////////////////////////////
					AUTOCOMPLETE FIELD
////////////////////////////////////////////////////*/
div.auto_complete {
  width: 350px !important;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border:1px solid #888;
  position: relative;
  z-index: 100;
}

div.auto_complete ul {
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
  cursor: pointer;
  font-size: 0.9em;
}

div.auto_complete ul li:nth-child(even) {
  background-color: #eaf1ff;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul li em {
  font-size: smaller;
}

div.auto_complete ul strong.highlight {
  margin:0;
  padding:0;
  background-color: inherit;
  font-weight: bold;
}

div.auto_complete_container {
  position: relative;
  display: inline;
}

div.auto_complete_container input {
  padding-right: 20px;
}

div.auto_complete_container div.auto_complete_indicator {
  position: absolute;
  float: left;
  top: 0;
  right: 5px;
  width: 16px;
  height: 16px;
  background: url('/themes/emr/images/not_loading.png') no-repeat;
}

div.auto_complete_container div.auto_complete_indicator.loading {
  background: url('/themes/emr/images/loading_16x16.gif') no-repeat;
}

p.contain_auto_completer {
  position: relative;
  display: inline;
}
/*/////////////////////////////////////////////////////
					AUTOCOMPLETE FIELD
////////////////////////////////////////////////////*/
div.local_auto_complete {
  width: 350px;
  background: #fff;
}
div.local_auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.local_auto_complete ul li {
  margin:0;
  padding:3px;
  text-align: left;
}
div.local_auto_complete ul li.selected {
  background-color: #ffb;
}
div.local_auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}

/*/////////////////LIST:HIERARCHICAL/////////////////*/
.hierarchic {
	margin-left:10px;
}

li.category_enable {
	color:#40445D !important;
}

li.category_disable {
	color:#aeaeae !important;
	font-style:italic;
}

li.reference_enable {
	color:#7E98CB !important;
}

li.reference_disable {
	font-style:italic;
	color:#A2B5D9 !important;
}

.hierarchic ul {
	border-left:1px solid gray;
	line-height:28px;
}

.hierarchic ul.parent {
	border-left:none;
}

.hierarchic ul.parent>li {
	list-style-image:none !important;
	list-style-type:none;
}

.hierarchic ul li {
  position: relative;
	color:black;
	border-left:solid 1px black;
	border-bottom:solid 1px black;
	margin-bottom:-1px;
	height:25px;
	text-indent:5px;
	background-position:0 0;
	margin-left:-20px;
	list-style-image:url("/themes/emr/images/hierarchical_bullet.gif");	
}

.hierarchic ul li:hover {
	background-color: #ffe6c6;
}

.hierarchic ul li span{
	position: absolute;
	right: 10px;
}

.hierarchic ul li a {
	color:#444;
	text-decoration:none;
}

.hierarchic ul li a:hover {
	text-decoration: underline;
	color:#EA972D;
}

.hierarchic ul li a>img {
	position:relative;
	top:2px;
}

.hierarchic ul li span>img {
	position:relative;
	top:2px;
}

.hierarchic ul li label.unchecked {
  color: grey;
}

#catalog {
	margin:10px;
	text-indent:-1px;
	width:79.59%;
}

#catalog table {
	width:98.59%;
	margin:0 0 10px 0;
}

#catalog h2 {
	background:inherit;
	color:inherit;
	border:none;
	margin:5px 0 0 0;
	padding:0;
	text-indent:0;
	width:auto;
	border:1px solid #888;
	text-align:center;
	background:#eaeaea;
	width:98.59%;
}

select.select_catalog {
	background: #f1f1f1;
	border:1px solid #888;
	margin-top:-1px;
	margin-bottom:-1px;
}

select.catalog_3_columns {
	width:32.6%;
	padding:0;
	margin:0;
}

/*////////////BROWSING PAGE////////////*/
.browsing_page {
	text-align:center;
}

.browsing_page a.disable,
.browsing_page a.disable:hover {
	color:#888;
	cursor:default;
}

.browsing_page a.selected {
	color:#000;
}

.browsing_page a {
	text-decoration:none;
}

.browsing_page span a {
	text-decoration:none;
	color:#343434;
}

.browsing_page span a:hover {
	color:#747474;
}

.browsing_page p {
	display:inline;
	text-indent:0;
	margin-left:-20px;
	margin-right:30px;
	text-align:center;

}
/*/////////////////TIMELINE/////////////////*/
#timeline {
	margin:10px 0 10px 10px;
	text-align:center;
	padding:0;
	text-indent:0;
	width:700px;
	padding-bottom:1px;
	padding-right:2px;
	line-height:26px;
}

#timeline_head,
.timeline_body,
#timeline_footer {
	height:26px;
	width:inherit;
	margin-top:-1px;
	position:relative;
	top:1px;
}

.timeline_body.good,
#timeline_head.good {
	background:url("/themes/emr/images/timeline_framework_good.png") repeat-x;
	border-left:1px solid #63975E;
	border-right:1px solid #63975E;
}

#timeline_head.good .timeline_notice {
	background:url("/themes/emr/images/tick_16x16.png") no-repeat 0 6px;
}

.timeline_body.good .timeline_notice {
	background:url("/themes/emr/images/tick_16x16.png") no-repeat 0 6px;
}

.timeline_body.bad .timeline_notice {
	background:url("/themes/emr/images/warning_14x14.png") no-repeat 0 6px;
}

#timeline_head .timeline_date {
	background:url("/themes/emr/images/timeline_head.png") no-repeat 143px 6px;
}

.timeline_body.bad {
	background:url("/themes/emr/images/timeline_framework_bad.png") repeat-x;
	border-left:1px solid #FF7F7F;
	border-right:1px solid #FF7F7F;
}

.timeline_date {
	text-align:right;
	width:130px;
	padding-right:40px;
	float:left;
	overflow:hidden;
	height:26px;
}

.timeline_notice {
	text-align:left;
	width:510px;
	overflow:hidden;
	float:right;
	padding-left:18px;
	height:26px;
}

.timeline_body .timeline_date {
	background: url("/themes/emr/images/timeline_line.gif") repeat-y 152px 0;
}

.timeline_body {
	background: url("/themes/emr/images/timeline_line.gif") repeat-y 153px 0;
}

#timeline_footer {
	background:url("/themes/emr/images/timeline_footer_arrow.png") no-repeat 144px 0;
}

/*/////////////////HUMAN RESSOURCES/////////////////*/
td[title="Détails"] img,
td[title="Modifier"] img {
	position:relative;
	top:2px;
}

//#content_page > div table + p a img {
//	margin-top:-10px;
//	margin-left:-20px;
//	position:relative;
//	top:4px;
//}

/*/////////////////OTHER/////////////////*/

.link_to_closed {
	background:url("/themes/emr/images/lock_off_24x24.png") no-repeat 0px -1px;
	margin-left:10px;
	padding:5px 0 0px 28px;
	text-decoration:none !important;
}

.link_to_closed:hover {
	background:url("/themes/emr/images/lock_24x24.png") no-repeat 0px -1px;
}

#test {
	background:black;
}

.formated_content * {
	background:inherit;
	color:inherit;
	border:none;
}

.formated_content hr {
	background:#666;
	height:1px;
}

.formated_content strong {
	color:rgb(234,136,28);
}

table .new_memorandum {
	color:rgb(234,136,28);
}

table .old_memorandum {
	color:#aeaeae;
}

table .not_published_memorandum {
	color:#B0383D;
}

.indent {
	margin-left:40px;
}

table.mceEditor {
	background:white;
}

#new_memorandum td[align=center] {
	background:white;
}

#new_memorandum td[align=center] {
	cursor:text;
}

.mceEditorIframe * {
	cursor:text;
}

ul#home_links {
  list-style-type: none;
  text-align: center;
}

ul#home_links li {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul#home_links li a {
  display: block;
}

ul#home_links li a img {
  display: block;
  padding: 2px;
  border: 1px dashed #CCC;
  margin-right: auto;
  margin-left: auto;
}

/*/////////////////////////////////////////////////////
					FOOTER
////////////////////////////////////////////////////*/

#footer {
  position: relative;
	text-align:center;
	background: url("/themes/emr/images/background_dark_stripe.jpg") repeat;
	border: solid 1px #444;
	width:auto;
	color:#FFFFFF;
	font-size:0.6em;
}

#footer span {
	font-variant: small-caps;
}

.bottom_icons {
	margin-top:5px;
	margin-bottom:-5px;
	border:none;
}

#footer span.version {
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 11px;
  border: 1px solid yellow;
  -moz-transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  -moz-box-shadow: 8px 8px 5px rgba(0,0,0,0.4), inset 0 0px 8px rgba(255,255,0,1);
}

#footer span.version:hover {
  -moz-box-shadow: 8px 8px 5px rgba(0,0,0,0.4), inset 0 0px 30px rgba(255,255,0,1);
}

/*/////////////////////////////////////////////////////
					PAGINATION
////////////////////////////////////////////////////*/

div.pagination {
	padding: 3px 3px 3px 0;
	margin-top: 3px;
	margin-bottom: 10px;
	text-align:left;
	color:black;
	font-size:80%;
}

div.pagination a {
	border: 1px solid #737373;
	margin-right:3px;
	padding:5px 7px;

	background-color:#7e98cb;
	background-position:bottom;
	text-decoration: none;

	color: white;		
}
div.pagination a:hover {
	border: 1px solid #737373;
	background-image:none;
	background-color:#e4bd86;
	
	color: black;
}
div.pagination span.current {
	margin-right:3px;
	padding:5px 7px;
	border: 1px solid black;
	
	font-weight: bold;
	background-color: #e99727;
	color: black;
}

div.pagination span.disabled {
	margin-right:3px;
	padding:5px 7px;
	border: 1px solid #CFCFCF;
	background-color: #E5DBDB;

	color: #BFBFBF;
}

div.pagination span.gap {
	margin-right:3px;
	padding:1px 1px;
	border: 0px solid black;
	
	font-weight: bold;
	color: black;
}
