/*	default.css------------------------------------------------------
	----------	..::Par Oxydium::.

Création : Juillet/Octobre 2008
---------
Description : feuille de style de la page d'index contenant la mise
en forme du site (menus, en-têtes, pied de page...).
---------------------------------------------------------------------
				..::Powered by Oxydium::..
creation : July/October 2008
---------
Description: stylesheet of the index page containing the layout's site 
(menus, headers, footers ...).
--------------------------------------------------------------------*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: verdana , Geneva, sans-serif;
	cursor: default;
	min-width: 1250px;
}

a {
	color:rgb(234,136,28); /*#698bcd : BLUE*/
}

strong {
  color:rgb(234,136,28); /*#698bcd : BLUE*/
  font-weight:lighter;
}

strong.highlight {
  color:inherit;
  background-color:yellow;
}

a:hover {
	color:#698bcd;
}

a>img {
	border:none;
}

/*:::::::::TABLE:::::::::*/
caption {
	background: #afc2ea;
	color: rgb(64,68,93);
	font-weight:bold;
	border: solid 1px rgb(64,68,93);
	margin-left:-1px;
	margin-top:10px;
}

table {
	border-collapse: collapse;
	border:solid 1px rgb(64,68,93);
	background:#F8F8F8;
	text-align:center;
	min-width:70%;
	margin: 10px 0 10px 10px;
}

table a {
	text-decoration: none;
	color:gray;
}

table a:hover {
	text-decoration: underline;
	color:white !important;
}

table th{
	border:solid 1px rgb(64,68,93);
	background: #dedede;
}

table td{
	border:solid 1px rgb(64,68,93);
}

/*
table img {
  position: relative;
	top: 2px;
}
*/

tr:hover > td{
	background: #f5c384;
}

tr:hover > td > a {
	text-decoration:underline;
}

/*/////////////////////////////
			TITLE
/////////////////////////////*/

h1 {
	text-align:center;
	background: #7E98CB;/*#EBA04E repeat*/
	border:solid 1px #e5e5e5;
	height:26px;
	color: white;/*#444;*/
	font-size:1.6em;
	line-height:23px;
	font-weight:lighter;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-variant: small-caps;
	margin: 0 0 10px 0;
}

h2 {
	text-indent: 10px;
	background: url("/themes/emr/images/background_content_page_second_header.jpg") repeat-x;
	border-bottom:solid 1px #e5e5e5;
	font-size:1.4em;
	color:white;
	margin-top:-1px;
	margin-bottom:0px;
	height:29px;
	line-height:29px;
	font-weight:lighter;
	letter-spacing:2px;
	padding-top:1px;
}

h3 {
	text-indent:25px;
	background: #afc2ea;
	border:solid 1px #bbb;
	height:20px;
	line-height:20px;
	color: rgb(70,94,142);
	padding-top:0px;
	margin-top:-1px;
	font-size:1.05em;
}

h6 {
	text-decoration: underline;
}

/*/////////////END OF GENERICS TAGS////////////////////*/
/*/////////////////////////////////////////////////////
					BANNER
////////////////////////////////////////////////////*/
#banner {
	width: auto;
	height: 56px;
}

#logo {
	background-image: url("/themes/emr/images/banner_logo.jpg");
	float: left;
	width: 629px;
	height: 56px;
}

#welcome_message {
	color:white;
	font-size: 95%;
	padding-left: 180px;
	margin-top:20px;
	float: left;
	font-family: arial, sans-serif;
}

#background_banner {
	background-image: url("/themes/emr/images/banner_repeat-x.jpg");
	width: auto;
	height: 56px;
	margin-left: 629px;
}

/*/////////////////////////////////////////////////////
				BANNER > BUTTONS
////////////////////////////////////////////////////*/

#block_button_banner {
	float:right;
	margin-top:-4px;
	height:20px;
}

#banner_datetime {
	float:right;
	line-height:0px;
	margin:0 11px -7px 0;
	font-family: "Trebuchet MS" , Helvetica, Arial, sans-serif;
	font-size:0.9em;
	color:#EA972D;
	text-align:right;
}

a.button_banner {
	background: transparent url("/themes/emr/images/button_banner_left_side.png") no-repeat top left;
	display: block;
	float: left;
	font-family: arial, verdana, sans-serif;
	font-size:85%;
	line-height: 12px;
	height: 20px;
	padding-left: 8px;
	text-decoration: none; 
	text-indent:0;
	margin-right:10px;
	margin-top:11px;
}

a:link.button_banner,
a:visited.button_banner,
a:active.button_banner {
	color: white;
}

a.button_banner span {
	background: transparent url("/themes/emr/images/button_banner_right_side.png") no-repeat top right;
	display: block;
	padding: 4px 8px 4px 0;
}

a.button_banner:hover {
	background-position: bottom left;
	color: #c3d1ea;
}

a.button_banner:hover span {
	background-position: bottom right;
}

#button_on_banner {
	overflow: hidden;
	width: 100%;
}

/*/////////////////////////////////////////////////////
					UNDER-BANNER
////////////////////////////////////////////////////*/

#under_banner {
	clear:both;
	background: url("/themes/emr/images/background_under_banner_repeat-x.jpg") repeat;
	border-bottom:20px solid white;
	width: 100%;
	height: 43px;
	color:#444444;
}

#text_under_banner {
	color: #FFFFFF;
	padding-left: 10px;
	text-align: justify;
	float: left;
	font-size: 85%;
	line-height: 20px;
 	width:86%;
	height:43px;
	min-width: 893px;
	min-height: 43px;
	cursor:pointer;
}

#block_button_under_banner {
	margin-top: 7px;
	float: left;
	width:11%;
	text-align:right;
}

#previous,
#previous:hover,
#next,
#next:hover {
	background: url("/themes/emr/images/button_under_banner_arrow.png") no-repeat;
	width:24px;
	height:21px;
	border:none;
}

#previous {
	background-position:0 0;
	
}

#previous:hover {
	background-position:0 -21px;
	cursor:pointer;
}

#next {
	background-position:-24px 0;
}

#next:hover {
	background-position: -24px -21px;
	cursor:pointer;
}

/*
.number {
	color: white;
	line-height:25px;
}
*/

.memorandum_date{
	font-weight:bold;
}

.memorandum_title {
	text-decoration:underline;
}

#under_banner strong {
	color:#333;
	font-weight:bold;
}

#not_employee_reference {
	font-size:1em;
	color:#333;
	position:relative;
	top:10px;
	margin:0 0 0 27%;
}

/*////////////////////////////////////////////////////////
					BODY OF THE WEBSITE
////////////////////////////////////////////////////////*/
/*REGROUPS THE WHOLE OF THE WEBSITE WITH THE EXCEPTION 
					OF BANNERS							*/
#block_body {
	width:auto;
	height:auto;
	margin: -16px 0 5px 0;
	padding:0;
}

/*/////////////////////////////////////////////////////
			BODY OF THE WEBSITE > MENU NAVIGATION
////////////////////////////////////////////////////*/
#nav h4 {
  /* 1px offset to 'remove' the UL's border just below the selected menu */
  position: relative;
  top: 1px;
  /* end of the tip */
  
  font-size: 0.8em;
  display: inline-block;
  background-color: #a2b3d7;
  padding: 6px 17px 6px 17px;
  margin: 0 7px 0 0;
  border-top: 1px solid #737373;
  border-right: 1px solid #737373;
  border-left: 1px solid #737373;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#nav h4.nav_current {
  background-color: #e99727;
  -moz-border-radius: 0 10px 0 0;
  -moz-box-shadow: none;
  padding: 6px 17px 6px 17px;
  
  /* 1px offset to 'remove' the UL's border just below the selected menu */
  z-index: 2;
  /* end of the tip */
}

#nav h4:first-child {
  margin-left: 15px;
  padding-right: 29px;
}

#nav h4 a {
  text-decoration: none;
  color: black;
}

#nav h4 a:hover {
  text-decoration: underline;
}

#nav a.nav_more {
  margin-left: 4px;
  position: absolute;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url('/images/arrow_down_16x16.png') no-repeat;
}

#nav a.nav_more em {
  display: none;
}

#nav ul {
  /* 1px offset to 'remove' the UL's border just below the selected menu */
  position: relative;
  /* end of the tip */
  
	list-style-type: none;
	background-color: #e99727;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
	padding: 5px;
	margin: 0px;
}

#nav ul li {
  font-size: 0.8em;
  display: inline-block;
	text-decoration: none;
	padding: 4px 6px 4px 6px;
	margin: 0px 5px 0px 5px;
}

#nav ul li a {
  text-decoration: none;
  color: black;
}

#nav ul li.selected {
  background-color: #ecc48b;
  font-weight: bold;
  -moz-border-radius: 3px;
}

#nav ul li a:hover {
  text-decoration: underline;
}

#nav ul.nav_top {
  display: none;
  position: absolute;
  z-index: 3;
  border-top: none;
  border-bottom: 1px solid #737373;
  border-left: 1px solid #737373;
  border-right: 1px solid #737373;
  background-color: #a2b3d7;
  left: 15px;
  padding: 0;
  margin: 0;
}

#nav ul.nav_top li {
  display: block;
	border-top: 1px solid #737373;
	padding: 0;
	margin: 0;
}

#nav ul.nav_top li.selected {
  -moz-border-radius: 0;
  background-color: #e99727;
}

#nav ul.nav_top li a {
  display: block;
	text-decoration: none;
	padding: 4px 10px 4px 10px;
	margin: 0;
}

#nav ul.nav_top li a:hover {
  background-color: #ecc48b;
}

/*/////////////////////////////////////////////////////
			BODY OF THE WEBSITE > PAGE OF WEBSITE
////////////////////////////////////////////////////*/
#page {
  position: relative;
	border: solid 1px #cecece;
}

/*/////////////////////////////////////////////////////////
	BODY OF THE WEBSITE > PAGE OF WEBSITE > CONTEXTUAL-MENU
/////////////////////////////////////////////////////////*/
#contextual_menu {
  position: absolute;
	float: right;
	right: 16px;
	top: 8px;
	border: 1px solid #A8A8A8;
	-moz-border-radius: 10px 0 0 10px;
	-moz-box-shadow: 6px 4px 8px rgba(0,0,0,0.3);
	background: url("/themes/emr/images/background_contextual_menu.gif") repeat;
	width: 200px;
	text-indent: 0px;
	font-size: 0.8em;
}

.hidden_contextual_menu,
.shown_contextual_menu {
	text-align: right;
	white-space: nowrap;
}

.hidden_contextual_menu #status_background_contextual_menu,
.shown_contextual_menu #status_background_contextual_menu {
	position: absolute;
	background: url("/themes/emr/images/background_hidden-shown_contextual_menu.png") no-repeat top left;
	line-height: 26px !important;
	color: #6481AE;
	height: 29px;
	width: 20px;
	right: 200px;
	top: 6px;
	max-width: 800px;
	padding-left: 6px;
}

.hidden_contextual_menu #status_background_contextual_menu:hover,
.shown_contextual_menu #status_background_contextual_menu:hover {
	width:auto;
	cursor:pointer;
}

.shown_contextual_menu span,
.hidden_contextual_menu span {
  padding: 3px 2px 1px 22px;
}

.hidden_contextual_menu span {
	background:url("/themes/emr/images/arrow_status_contextual_menu.jpg") no-repeat bottom left;
}

.shown_contextual_menu span {
	background:url("/themes/emr/images/arrow_status_contextual_menu.jpg") no-repeat top left;
}

#contextual_menu_content {
}

#contextual_menu_content h1 {
  position: relative;
	background-color: #e99727;
	font-family: verdana, sans-serif;
	font-size:1.1em;
	font-weight: bold;
	color: black;
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	border: none;
	height: auto;
	line-height: 2.4em;
	margin: 0;
	padding: 0;
}

#contextual_menu_content h1:first-child {
	-moz-border-radius: 10px 0 0 0;
}

#contextual_menu_content ul {
	list-style-type: none;
	padding: 0 6px 0 6px;
	margin: 8px 0 12px 0;
}

#contextual_menu_content ul li {
	text-decoration: none;
	text-indent:0px;
	margin-bottom: 4px;
}

#contextual_menu_content a {
	text-decoration: none;
	color: black;//#CA7E21;
	padding: 2px 4px 2px 4px;
}

#contextual_menu_content a:hover {
	background-color: #ecc48b;
}

#contextual_menu_content a img {
	position:relative;
	top:2px;
}

#contextual_menu_content p {
	margin-left:10px;
	margin-right:10px;
	text-align:justify;
}

#contextual_menu input[type=text] {
	margin: 5px;
	padding-right:5px;
	line-height:22px;
	border: #444 1px solid;
}

button.contextual_search_button {/*button in the input type text [contextual_menu]*/
	background:url("/themes/emr/images/view_12x12.png");
	position:relative;
	right:20px;
	bottom:3px;
	border:none;
	width:12px;
	height:12px;
}

#contextual_search {
  padding-right: 15px !important;
  width: 141px !important;
  color: grey !important;
  font-style: italic !important;
}

#contextual_search:focus {
  color: black !important;
  font-style: normal !important;
}

#contextual_menu a.default-button {
	margin:0 5px 0px 5px;
}

button.contextual_search_button:hover {
	cursor:pointer;
}

/*
ul.center_list {
	text-align:center;
	text-indent:0;
}

ul.center_list li {
	padding-left:6px;
}

.contextual_menu_statistic {
	color:#CA7E21;
}
*/

.help {
	font-size:0.7em;
	color:#444;
	margin-right:5px;
	margin-left:5px;
}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*::::::::::::::::::::::::::::::::DEFAULT BUTTONS:::::::::::::::::::::::::::::::::::::::::*/
a.default-button { 																		/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;
	display: block;                                                                    	/**/
	float: left;                                                                        /**/
	font-family: arial, verdana, sans-serif;                                       		/**/
	font-size:85%;                                                                		/**/
	line-height: 18px;                                                            		/**/
	height: 26px;                                                                  		/**/
	padding-left: 8px;                                                            		/**/
	text-decoration: none;                                                         		/**/
	text-indent:0;                                                                 		/**/
	margin:5px 5px 5px 0;                                             		 			/**/
	color:black;                                                                   		/**/
}																				   		/**/
																						/**/
a.default-button span { 																/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;
	display: block;																		/**/
	padding: 2px 12px 6px 0;															/**/
}																						/**/
																						/**/
a.default-button:hover { 																/**/
	background-position: bottom left;													/**/
}																						/**/
																						/**/
a.default-button:hover span {															/**/
	background-position: bottom right;													/**/
	color:black;																		/**/
}	 																					/**/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
button.input-button { 																	/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;
	font-family: arial, verdana, sans-serif;											/**/
	font-size:85%;																		/**/
	height: 26px;																		/**/
	padding-left: 5px;																	/**/
	margin:5px 0px 5px 0px;																/**/
	color:black;																		/**/
	border:none;																		/**/
	min-width:70px;																		/**/
}																						/**/
																						/**/
button.input-button span { 																/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;
	display: block;																		/**/
	padding: 2px 12px 6px 0;                                                            /**/
	margin-top:-2px;                                                                    /**/
	border:none;                                                                        /**/
	line-height:18px;                                                                   /**/
}																					    /**/
																					    /**/
button.input-button:hover { 															/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat bottom left;
}																					    /**/
																					   	/**/
button.input-button:hover span {													   	/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat 100% -26px;
	color:black;                                                                       	/**/
}																						/**/
/*:::::::::::::::::::::::::::::::BUTTON PREVIOUS-NEXT:::::::::::::::::::::::::::::::::::::*/
a.next-button,
a.previous-button {
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;
	font-family: arial, verdana, sans-serif;
	font-size:85%;
	height: 26px;
	padding-left: 8px;
	padding-bottom:12px;
	color:black;
	border:none;
	text-decoration:none;
	margin:5px;
}

a.next-button span,
a.previous-button span {
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;
	padding: 3px 12px 8px 0; 
	border:none;
	line-height:18px;
	position:relative;
	top:3px;
}

a.next-button span:after {
	content:" >";
}

a.previous-button span:before {
	content:"< ";
}

a.next-button:hover,
a.previous-button:hover { 															 
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat bottom left;
}

a.next-button:hover span,
a.previous-button:hover span {						
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat 100% -26px;
	color:black;
}	 		

/*//////////////////////////////////////////////////////////
BODY OF WEBSITE > PAGE OF WEBSITE > CONTENT OF THE PAGE
//////////////////////////////////////////////////////////*/
#content_page {
	padding: 10px 8px 5px 8px;
	margin: 2px 0 2px 0;
	text-align: justify;
	background: url("/themes/emr/images/background_content_page.jpg") repeat;
	color: #343434;
	font-size:0.87em;
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
	min-height:564px;
}

#ajax_holder {
  position: absolute;
  top: 60px;
  left: 18px;
  min-height: 100px;
  width: 80%;
  -moz-box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
}

#ajax_holder_waiting {
  position: absolute;
  top: 5px;
  left: 10px;
}

#ajax_holder_content {
}

#ajax_holder_command {
  position: absolute;
  top: -4px;
  right: 0px;
  float: right;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\::::::: FLASH MESSAGES :::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.flash_container {
	text-align:center;
	font-family: "courier new", sans-serif;
	padding: 5px 5px 0 5px;
}

.flash_container ul {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.flash_container ul li {
	text-align:left;
}

.flash_container div span {
	margin-left:20px;
	line-height:20px;
}

.flash_container div {
  display: inline-block;
	padding: 8px;
	margin: 0 0 5px 0;
	background-position: 7px 10px;
  background-repeat: no-repeat;
  -moz-border-radius: 8px;
}

.flash_container div.flash_error {
	background-image: url("/images/cross_16x16.png");
	color: red;
	-moz-box-shadow: inset 0 0 4px rgba(255,0,0,0.8);
}

.flash_container div.flash_notice {
	background-image: url("/images/tick_16x16.png");
	color: green;
	-moz-box-shadow: inset 0 0 4px rgba(0,255,0,0.8);
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\::::::::::::::::GENERAL ERRORS:::::::::::::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.fieldWithErrors input,
.fieldWithErrors select {
  color:#B0383D;
}

.fieldWithErrors label {
	color:#B0383D;
}

#errorExplanation {
	border:solid 1px #F1BD73;
	background:#F6E8CF;
	margin:10px;
	width:530px;
}

#errorExplanation ul li,
.errorExplanation ul li {
	background: url("/themes/emr/images/warning_14x14.png") no-repeat;
	list-style-type:none;
	text-indent:21px;
	margin:3px 3px 7px 0px;
	color:#EA7805;
}

#errorExplanation ul,
.errorExplanation ul {
  padding-left: 30px;
}


#errorExplanation h2,
.errorExplanation h2 {
	border:none;
	color:#B0383D;
	text-align:left;
	text-indent:0;
	background:#F1BD73;
	padding-left:5px;
	padding-right:5px;
	overflow:hidden;
	text-align:center;
}

#errorExplanation p,
.errorExplanation p {
	padding-left: 0px;
}

/*/////////////////////////////
		FRAME & CONTENT
/////////////////////////////*/
table.presentation {
	border-collapse: collapse;
	text-align:left;
	margin-bottom:20px;
	margin-left:15px;
	border:none;
	background:white;
}

table.presentation a {
	color: #698bcd;
	text-decoration:underline;
}

table.presentation a:hover {
	color:#698bcd;
}

table.presentation tr td{
	border:none;
	vertical-align:top;
}

td.left_cell {
	width:110px;
}

td.right_cell {
	width:800px;
	padding-bottom:10px;
}

table.presentation tr:hover > td{
	background: none;
}

/*::::::::::::TABLE "COMMODITY"::::::::::::*/
table.commodity {
	font-weight:lighter;
}

table.commodity th {
	text-align:center;
}


table.commodity td {
	text-align:center;
} 

table.commodity img[title="Enrouler"] + span,
table.commodity img[title="Dérouler"] + span {
	text-align:left;
}

.commodity tr.disable > td {
	color:#888;
	font-style:italic;
}

.commodity td.sub_commodity_category {
	color:#888;
}

.commodity td.commodity_category {
	font-weight:bold;
}

tr.current_inventory {
	color:#CA7E21;
}

/**/
/*:::::::::TABLE WITHOUT STYLE:::::::::*/
caption.no-style {
	background: none;
	color: inherit;
	font-weight:none;
	border-bottom: none;
}

table.no-style {
	border-collapse: collapse;
	border:solid 1px #333;
	background: none;
	text-align:center;
	width:inherit;
	margin: 10px 0 10px 10px;
}

table.no-style a {
	text-decoration: none;
	color:gray;
}

table.no-style a:hover {
	text-decoration: none;
	color:white !important;
}

table.no-style th{
	border:solid 1px #333;
	background: none;
}

table.no-style td{
	border:solid 1px #333;
}

table.no-style tr:hover > td{
	background: none;
}

table.no-style tr:hover > td > a {
	text-decoration:underline;
}

/*/////////////////////////////
		IN_PLACE_EDITOR
/////////////////////////////*/
.inplaceeditor-form input {
width: 50px ! important;
}

/* SUBMIT BUTTON */
.editor_ok_button {
  display: none;
}

/* a (LINKS) */
.editor_cancel {
	background:url("/images/cross_16x16.png") no-repeat;
}

.editor_cancel span {
	display:none;
}

#content_page > div {
  margin-top:-3px;
	margin-bottom:10px;
	background: #ffffff;
	border: solid 1px #989898;
}

#content_page > div p {
  padding-left:10px;
	padding-right: 10px;
}

/*/////////////////////////////
			FORM
/////////////////////////////*/
/*///////////////////////*/
/*// FIELDSET & LEGEND //*/
#content_page > div fieldset {
	background: #eaeff8;
	border: 1px solid #444444;
	margin-left:5px;
	margin-bottom: 10px;
}

#content_page > div fieldset legend {
	margin-left:0px;
	padding: 0 10px;
	text-indent:0;
	border: 1px solid #444444;
	font-size: 1.2em;
	color: #454545;
	background:white;
}

.alignment {
	padding:5px 10px 5px 10px;
}

.date_days {
	margin:0px 20px 0px -15px ;
}

/*LAYOUTS' FORM*/

#content_page > div.presentation_large label {
	width:350px;
}

#content_page > div.presentation_medium label {
	width:200px;
}

#content_page > div.presentation_small label {
	width:100px;
}

#content_page > div label {
	text-align:right;
	display:inline-block;
}

#content_page > div form p input[type=text],
#content_page > div form p input[type=password],
#content_page > div form p input[type=checkbox],
#content_page > div form p textarea,
#content_page > div form p select {
  vertical-align:top;
}

#content_page > div strong {
	margin-bottom:10px;
	vertical-align:top;
}

/* FORM WITH MULTIPLE ENTRIES */

#content_page > div .form_multiple_entries {
  margin: 0 0 0 9px;
  padding: 0px;
}

#content_page > div .form_multiple_entries label:first-child {
  text-align: right;
	display:inline-block;
}

#content_page > div .form_multiple_entries .collection {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px 5px 0;
  text-indent: 0px;
}

#content_page > div .form_multiple_entries .object {
  margin-bottom: 10px;
}

#content_page > div .form_multiple_entries .object .object_details {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  -moz-border-radius: 0 0 6px 6px ;
  margin: 0 5px 5px 5px;
  padding: 0;
}

#content_page > div .form_multiple_entries .object .object_details p {
  margin: 0;
  padding: 3px 5px 3px 5px;
}

#content_page > div.presentation_large .form_multiple_entries label {
	width:350px;
}

#content_page > div.presentation_medium .form_multiple_entries label {
	width:200px;
}

#content_page > div.presentation_small .form_multiple_entries label {
	width:100px;
}

#content_page > div .form_multiple_entries .object label {
  width: auto;
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

/* /////////// */

/*
.scroll_checkboxes { 
	margin:15px 15px 15px 20px;
	//width:200px;
	height: 100px;
	padding: 5px;
	overflow: auto;
	border: 1px solid #ccc
}

.scroll_checkboxes p {
	width:100%;
	padding:0;
	margin:0;
	text-indent:0;
	height:20px;
}

.scroll_checkboxes p:hover {
	background-color: #f5c384;
}

.scroll_checkboxes ul {
	width:100%;
	padding:0;
	margin:0;
}

.scroll_checkboxes ul li {
	text-indent:0;
	height:20px;
}
*/

fieldset.no-style {
	background: none;
	border: none;
	margin-left:none;
	margin-bottom: none;
}

fieldset.no-style legend {
	margin-left:none;
	padding: none;
	text-indent:0;
	border: none;
	font-size: inherit;
	color: inherit;
	background:none;
}

/* /// auto-complete input text /// */
div.auto_complete {
  width: 350px;
  background: #fff;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
  margin:0;
  padding:0;
  background-color: inherit;
  font-weight: bold;
}

/*/////////////////LIST:HIERARCHICAL/////////////////*/
.hierarchic {
	margin-left:10px;
}

li.category_enable {
	color:#40445D !important;
}

li.category_disable {
	color:#aeaeae !important;
	font-style:italic;
}

li.reference_enable {
	color:#7E98CB !important;
}

li.reference_disable {
	font-style:italic;
	color:#A2B5D9 !important;
}

.hierarchic ul {
	border-left:1px solid gray;
	line-height:28px;
}

ul.parent {
	border-left:none;
}

ul.parent>li {
	list-style-image:none !important;
	list-style-type:none;
}

.hierarchic ul li {
	color:black;
	border-left:solid 1px black;
	border-bottom:solid 1px black;
	margin-bottom:-1px;
	margin-right:278px;
	height:25px;
	text-indent:5px;
	background-position:0 0;
	margin-left:-20px;
	list-style-image:url("/themes/emr/images/hierarchical_bullet.gif");	
}

.hierarchic ul li:hover {
	background: #f5c384;
}

.hierarchic ul li span{
	position:absolute;
	right:300px;
}

.hierarchic ul li a {
	color:#444;
	text-decoration:none;
}

.hierarchic ul li a:hover {
	text-decoration: underline;
	color:#EA972D;
}

.hierarchic ul li a>img {
	position:relative;
	top:2px;
}

.hierarchic ul li span>img {
	position:relative;
	top:2px;
}

.hierarchic img {
	margin-left:3px;
	margin-right:3px;
}

#catalog {
	margin:10px;
	text-indent:-1px;
	width:79.59%;
}

#catalog table {
	width:98.59%;
	margin:0 0 10px 0;
}

#catalog h2 {
	background:inherit;
	color:inherit;
	border:none;
	margin:5px 0 0 0;
	padding:0;
	text-indent:0;
	width:auto;
	border:1px solid #888;
	text-align:center;
	background:#eaeaea;
	width:98.59%;
}

#catalog_loading {
	text-align:right;
	vertical-align:middle;
}

#catalog_loading span {
	background: url("/loading_16x16.gif") no-repeat;
	background:#aeaeae;
	padding:5px 10px 5px 10px;
}

select.select_catalog {
	background: #f1f1f1;
	border:1px solid #888;
	margin-top:-1px;
	margin-bottom:-1px;
}

select.catalog_3_columns {
	width:32.6%;
	padding:0;
	margin:0;
}

/*/////////////////STEPS/////////////////*/
.ring_terminated,
.ring_in_progress,
.ring_unstarted,
.ring_uncomplete,
.feet_finish,
.feet_in_progress,
.feet_disable,
#technical_visit,
#survey,
#graphic_conception,
#estimate,
#sending_estimate,
#validation {
	background:url("/themes/emr/images/image-step.png") no-repeat;
}

.ring_terminated,
.ring_in_progress,
.ring_uncomplete,
.ring_unstarted {
	width:67px;
	height:67px;
	cursor:pointer;
	vertical-align:top;
}

.feet_finish,
.feet_in_progress,
.feet_disable,
#technical_visit,
#survey,
#graphic_conception,
#estimate,
#sending_estimate,
#validation {
	width:48px;
	height:48px;
}

.feet_finish,
.feet_in_progress,
.feet_disable {
	bottom:15px;
	padding:0 0px 0 20px;
}

.ring_uncomplete {
	background-position:-201px -96px;
}

.ring_terminated {
	background-position:-134px -96px;
}

.ring_in_progress {
	background-position:-67px -96px;
}

.ring_unstarted {
	background-position:0 -96px;
}

.feet_finish {
	background-position:-288px -96px;
}

.feet_in_progress {
	background-position:-288px -48px;
}

.feet_disable {
	background-position:-288px 0;
}

#technical_visit {
	background-position:0 -48px;
}

#survey {
	background-position:-48px -48px;
}

#graphic_conception {
	background-position:-96px -48px;
}

#estimate {
	background-position:-144px -48px;
}

#sending_estimate {
	background-position:-192px -48px;
}
	
#validation {
	background-position:-240px -48px;
}

#technical_visit:hover {
	background-position:0 0;
}

#survey:hover {
	background-position:-48px 0;
}

#graphic_conception:hover {
	background-position:-96px 0;
}

#estimate:hover {
	background-position:-144px 0;
}

#sending_estimate:hover {
	background-position:-192px 0;
}
	
#validation:hover {
	background-position:-240px 0;
}

#steps span {
	display:none;
}

#steps div {
	display:inline-block;
}

#steps div.ring_terminated,
#steps div.ring_in_progress,
#steps div.ring_uncomplete,
#steps div.ring_unstarted {
	margin:10px 19px 0px -4px;
}

#technical_visit,
#survey,
#graphic_conception,
#estimate,
#sending_estimate,
#validation,
.feet_finish,
.feet_in_progress,
.feet_disable {
	margin:9px 0px 9px 9px;
}


div.steps_text p {
	text-align: center;
	width:100px;
	margin:0 0 0 -17px;
	padding:0;
	text-indent:0px;
	font-size:0.8em;
}

#steps div.selected {
	background:#DBE2F0;
	-moz-border-radius:8px;
	padding-bottom:33px;
	margin-top:3px;
}

#steps div.selected p {
	font-weight:bold;
}

#steps {
	margin-left:10px;
}

#steps a {
	text-decoration:none;
	color:#444;
}

/*////////////BROWSING PAGE////////////*/
.browsing_page {
	text-align:center;
}

.browsing_page a.disable,
.browsing_page a.disable:hover {
	color:#888;
	cursor:default;
}

.browsing_page a.selected {
	color:#000;
}

.browsing_page a {
	text-decoration:none;
}

.browsing_page span a {
	text-decoration:none;
	color:#343434;
}

.browsing_page span a:hover {
	color:#747474;
}

.browsing_page p {
	display:inline;
	text-indent:0;
	margin-left:-20px;
	margin-right:30px;
	text-align:center;

}
/*/////////////////TIMELINE/////////////////*/
#timeline {
	margin:10px 0 10px 10px;
	text-align:center;
	padding:0;
	text-indent:0;
	width:700px;
	padding-bottom:1px;
	padding-right:2px;
	line-height:26px;
}

#timeline_head,
.timeline_body,
#timeline_footer {
	height:26px;
	width:inherit;
	margin-top:-1px;
	position:relative;
	top:1px;
}

.timeline_body.good,
#timeline_head.good {
	background:url("/themes/emr/images/timeline_framework_good.png") repeat-x;
	border-left:1px solid #63975E;
	border-right:1px solid #63975E;
}

#timeline_head.good .timeline_notice {
	background:url("/images/tick_16x16.png") no-repeat 0 6px;
}

.timeline_body.good .timeline_notice {
	background:url("/images/tick_16x16.png") no-repeat 0 6px;
}

.timeline_body.bad .timeline_notice {
	background:url("/themes/emr/images/warning_14x14.png") no-repeat 0 6px;
}

#timeline_head .timeline_date {
	background:url("/themes/emr/images/timeline_head.png") no-repeat 143px 6px;
}

.timeline_body.bad {
	background:url("/themes/emr/images/timeline_framework_bad.png") repeat-x;
	border-left:1px solid #FF7F7F;
	border-right:1px solid #FF7F7F;
}

.timeline_date {
	text-align:right;
	width:130px;
	padding-right:40px;
	float:left;
	overflow:hidden;
	height:26px;
}

.timeline_notice {
	text-align:left;
	width:510px;
	overflow:hidden;
	float:right;
	padding-left:18px;
	height:26px;
}

.timeline_body .timeline_date {
	background: url("/themes/emr/images/timeline_line.gif") repeat-y 152px 0;
}

.timeline_body {
	background: url("/themes/emr/images/timeline_line.gif") repeat-y 153px 0;
}

#timeline_footer {
	background:url("/themes/emr/images/timeline_footer_arrow.png") no-repeat 144px 0;
}

/*/////////////////HUMAN RESSOURCES/////////////////*/
td[title="Détails"] img,
td[title="Modifier"] img {
	position:relative;
	top:2px;
}

#content_page > div table + p a img {
	margin-top:-10px;
	margin-left:-20px;
	position:relative;
	top:4px;
}

/*/////////////////OTHER/////////////////*/

.link_to_closed {
	background:url("/themes/emr/images/lock_off_24x24.png") no-repeat 0px -1px;
	margin-left:10px;
	padding:5px 0 0px 28px;
	text-decoration:none !important;
}

.link_to_closed:hover {
	background:url("/themes/emr/images/lock_24x24.png") no-repeat 0px -1px;
}

object {
	margin:10px;
}

#test {
	background:black;
}

.formated_content * {
	background:inherit;
	color:inherit;
	border:none;
}

.formated_content hr {
	background:#666;
	height:1px;
}

.formated_content strong {
	color:rgb(234,136,28);
}

table .new_memorandum {
	color:rgb(234,136,28);
}

table .old_memorandum {
	color:#aeaeae;
}

table .not_published_memorandum {
	color:#B0383D;
}

.indent {
	margin-left:40px;
}

table.mceEditor {
	background:white;
}

#new_memorandum td[align=center] {
	background:white;
}

#new_memorandum td[align=center] {
	cursor:text;
}

.mceEditorIframe * {
	cursor:text;
}

/*/////////////////////////////////////////////////////
					FOOTER
////////////////////////////////////////////////////*/

#footer {
	text-align:center;
	background: url("/themes/emr/images/background_dark_stripe.jpg") repeat;
	border: solid 1px #444;
	width:auto;
	color:#FFFFFF;
	font-size:0.6em;
}

#footer span {
	font-variant: small-caps;
}

.bottom_icons {
	margin-top:5px;
	margin-bottom:-5px;
	border:none;
}
