/*	login.css--------------------------------------------------------
	----------	..::Par Oxydium::.

Création : Juillet/Octobre 2008
---------
Description : feuille de style de la page de login permettant à tout
utilisateur référencer de se logger dans l'intranet Osirails.
---------------------------------------------------------------------
				..::Powered by Oxydium::..
creation : July/October 2008
---------
Description: stylesheet of the login page that allow any
known user to log into the Osirails' intranet.
--------------------------------------------------------------------*/
/*
div {
	border: solid 1px black; 
}
*/
* { 
	margin: 0; padding: 0;
}

body {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

a {
	color: #f69825;
	font-size: 70%;
}

form {
	font-weight: bold;
}

a:hover {
	color: #f2c40f;
}

.fieldWithErrors label {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	color:#B0383D;
	text-align:left;
	width:171px;
	position:relative;
	right:40px;
}

.fieldWithErrors input[type=text],
.fieldWithErrors input[type=password] {
	background: url("/themes/emr/images/login/input_text.png") no-repeat bottom;
}

#errorExplanation p {
	width:350px ;
	text-align:center;
	margin-top:10px;
}

h2 {
	color:#B0383D;
}

strong {
	color: #888;
	font-weight:lighter;
}

p {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	color:#333;
	text-align:left;
	width:171px;
}

p.message {
	width:320px;
	text-align:justify;
	margin-left:15px;
}

input[type=text],
input[type=password] {
	color: #f69826;
	background: url("/themes/emr/images/login/input_text.png") no-repeat;
	border: none;
	width: 169px;/*171*/
	height: 25px;
	//padding-top:5px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-left:2px;
}

h1 {
	margin-top:146px;
	color: #f69826;
	font-weight: lighter;
	font-size:1.4em;
	text-align:center;
	width:700px;
	margin-left:auto;
	margin-right:auto;
}
/*/////////////////////////////////////////////////////
					BANNIERE
////////////////////////////////////////////////////*/
#banner {
	width: auto;
	height: 75px;
}

#logo {
	background-image: url("/themes/emr/images/login/banner.jpg");
	float: left;
	width: 330px;
	height: 75px;
}

#under_banner {
	background-image: url("/themes/emr/images/login/banner_repeat-x.jpg");
	width: auto;
	height: 75px;
	margin-left: 330px;
}
/*/////////////////////////////////////////////////////
					LOGIN CADRE
////////////////////////////////////////////////////*/

#login_content {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:351px;
	background:#eee;
	-moz-border-radius:5px;
	height:auto;
	margin-top:10px;
	padding-top:15px;
	border:1px solid #ddd;
}

span a,
div {
//	border:1px solid black;
}

span a {
//	width:171px;
	float:right;
	margin-right:3px;
	position:relative;
	bottom:13px;
}

a { /*Pour le msg d'erreur*/
//	width:171px;
	float:right;
//	margin-right:3px;
	position:relative;
	bottom:13px;
	
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\		::::::MESSAGE INFORMATIF:::::::			  /!\
/!\		::::::::[ERREUR/SIGNAL]::::::::			  /!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/

.flash_container {
	text-align:center;
	font-family: "courier new", sans-serif;
	padding: 5px 5px 0 5px;
	position: relative;
	top:80px;
}

.flash_container ul {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.flash_container ul li {
	text-align:left;
}

.flash_container div span {
	margin-left:20px;
	line-height:20px;
}

.flash_container div {
  display: inline-block;
	padding: 8px;
	margin: 0 0 5px 0;
	background-position: 7px 10px;
  background-repeat: no-repeat;
  -moz-border-radius: 8px;
}

.flash_container div.flash_error {
	background-image: url("/images/cross_16x16.png");
	color: red;
	-moz-box-shadow: inset 0 0 8px rgba(255,0,0,0.8);
}

.flash_container div.flash_notice {
	background-image: url("/images/tick_16x16.png");
	color: green;
	-moz-box-shadow: inset 0 0 8px rgba(0,255,0,0.8);
}

/**/
#login_content.error_login_content #errorExplanation,
#login_content.error_login_content .errorExplanation {
	margin-top:-40px;
	margin-bottom:10px;
	color:white;
	padding:0;
	background:#F1BD73;
	-moz-border-radius:3px 3px 0 0;
}
#errorExplanation ul li,
.errorExplanation ul li {
	position:relative;
	bottom:15px;
	background: url("/images/warning_14x14.png") no-repeat 0px 0;
	list-style-type:none;
	width:300px;
	margin-left:30px;
	text-indent:13tabspx;
}


/**/
/*////////////////////////////////////////////////////////////////////////////////////////*/
button.input-button { 																	/**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat top left;	/**/
	font-family: arial, verdana, sans-serif;											/**/
	font-size:85%;																		/**/
	height: 25px;																		/**/
	padding-left: 5px;																	/**/															/**/
	color:black;																		/**/
	border:none;																		/**/
	min-width:70px;																		/**/
	margin-top:0px;																		/**/
	margin-bottom:15px;																	/**/
	margin-right:auto;																	/**/
	margin-left:auto;																	/**/
	position:relative;																	/**/
	bottom:10px;																		/**/
}																						/**/
																						/**/
button.input-button span { 																/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat top right;	/**/
	display: block;																		/**/
	padding: 2px 12px 6px 0;                                                            /**/
	margin-top:-2px;                                                                    /**/
	border:none;                                                                        /**/
	line-height:18px;                                                                   /**/
}																					    /**/
																					    /**/
button.input-button:hover { 												           	 /**/
	background: transparent url("/themes/emr/images/button_default_generic_left_side.png") no-repeat 0 -26px; 	/**/
}																					    /**/
																					   	/**/
button.input-button:hover span {													   	/**/
	background: transparent url("/themes/emr/images/button_default_generic_right_side.png") no-repeat 100% -26px;  	/**/
	color:black;                                                                       	/**/
}																						/**/
/*////////////////////////////////////////////////////////////////////////////////////////*/
