/* TABULATION*/
.root_nav.standard {
  position: relative;
  margin-top: 2.65em !important;
}

.root_nav.standard > ul.tab_nav {
  position: absolute;
  top: -3.219em;
  left: -0.08em;
  list-style: none;
  padding: 0;
}

.root_nav.standard > ul.tab_nav li {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #989898;
  border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  padding: 0.25em 0.7em 0.25em 0.7em;
  margin-top: 0em;
  margin-right: -0.4em;
  box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
  -o-box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px -1px 1px rgba(0,0,0,0.3);
}

.root_nav.standard > ul.tab_nav li:not.disabled {
  cursor: pointer;
}

.root_nav.standard > ul.tab_nav li a {
  text-decoration: none;
  color: inherit;
}

.root_nav.standard > ul.tab_nav li:first-child {
  border-radius: 0px 10px 0 0;
  -o-border-radius: 0px 10px 0 0;
  -moz-border-radius: 0px 10px 0 0;
  -webkit-border-radius: 0px 10px 0 0;
  
  box-shadow: 0px -1px 1px rgba(0,0,0,0.3), -1px -2px 3px rgba(0,0,0,0.3);
  -o-box-shadow: 0px -1px 1px rgba(0,0,0,0.3), -1px -2px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -1px 1px rgba(0,0,0,0.3), -1px -2px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px -1px 1px rgba(0,0,0,0.3), -1px -2px 3px rgba(0,0,0,0.3);
}

.root_nav.standard > ul.tab_nav li:first-child.selected {
  box-shadow: -1px -2px 3px rgba(0,0,0,0.3);
  -o-box-shadow: -1px -2px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px -2px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: -1px -2px 3px rgba(0,0,0,0.3);
}

.root_nav.standard > ul.tab_nav li:hover {
  background-color: #ffefd0;
}

.root_nav.standard > ul.tab_nav li.selected {
  background-color: #ffe2ab;
  padding-top: 0.55em;
  padding-bottom: 0.336em;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  
  box-shadow: 0px -2px 2px rgba(0,0,0,0.3);
  -o-box-shadow: 0px -2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px -2px 2px rgba(0,0,0,0.3);
  font-weight: bold;
  margin-top: 0;
}

.root_nav.standard > ul.tab_nav li.disabled {
  background-color: #DDD;
  color: #777;
  font-style: italic;
}

.root_nav.standard > ul.tab_nav li.disabled a {
  cursor: default;
}

.root_nav.standard > ul.tab_nav li.disabled:hover {
  background-color: #DDD;
}

.root_nav.standard > ul.tab_nav li.hidden {
  display: none;
}

.root_nav.standard > ul.tab_nav li.errors {
  color: red;
  background-image: url('/themes/emr/images/warning_14x14.png');
  background-repeat: no-repeat;
  background-position: 7px 60%;
  padding-left: 28px;
}

.root_nav.standard > ul.tab_nav li.warning {
  color: red;
  box-shadow: inset 0px -1px 5px rgba(255,0,0,0.7);
  -o-box-shadow: inset 0px -1px 5px rgba(255,0,0,0.7);
  -moz-box-shadow: inset 0px -1px 5px rgba(255,0,0,0.7);
  -webkit-box-shadow: inset 0px -1px 5px rgba(255,0,0,0.7);
}

.root_nav.standard > ul.tab_nav li.warning.selected {
  box-shadow: none;
  -p-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.root_nav.standard div.content_nav {
  display: none;
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: left;
}

.root_nav.standard div.content_nav.selected {
  display: block;
}

.root_nav.standard div.tab_nav_header {
  background-color: #ffe2ab;
  border: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  padding: 5px 10px;
  margin: -5px -13px 0 -13px;
}

.root_nav.standard div.tab_nav_header p {
  font-size: 130%;
}

.root_nav.standard div.tab_nav_header strong {
  color: inherit;
}
