/* TABULATION*/
.root_nav {
  position: relative;
  margin-top: 34px !important;
}

.root_nav ul.tab_nav {
  position: absolute;
  top: -45px;
  left: -1px;
  list-style: none;
  padding: 0;
}

.root_nav ul.tab_nav li {
  display: inline-block;
  background-color: #fffcd6;
  border: 1px solid #737373;
  -moz-border-radius: 10px 10px 0 0;
  padding: 4px 11px 4px 11px;
  margin-top: 5px;
  margin-right: -6px;
  cursor: pointer;
  z-index: -1;
}

.root_nav ul.tab_nav li:first-child {
  -moz-border-radius: 0px 10px 0 0;
}

.root_nav ul.tab_nav li:hover {
  background-color: white;
}

.root_nav ul.tab_nav li.selected {
  background-color: white;
  padding: 8px 14px 4px 14px;
  border-bottom: 1px solid white;
  -moz-border-radius: 10px 10px 0 0;
  font-weight: bold;
  margin-top: 0;
}

.root_nav ul.tab_nav li.disabled {
  background-color: #DDD;
  color: #777;
  font-style: italic;
  cursor: inherit;
}

.root_nav ul.tab_nav li.disabled:hover {
  background-color: #DDD;
}

.root_nav ul.tab_nav li.errors {
  color: red;
  background-image: url('/themes/emr/images/warning_14x14.png');
  background-repeat: no-repeat;
  background-position: 7px 60%;
  padding-left: 28px;
}

.root_nav ul.tab_nav li.warning {
  color: red;
  -moz-box-shadow: inset 0px -1px 5px rgba(255,0,0,0.7);
}

.root_nav ul.tab_nav li.warning.selected {
  -moz-box-shadow: none;
}

.root_nav div.section_nav {
  display: none;
  padding: 8px;
  text-align: left;
}

.root_nav div.section_nav.selected {
  display: block;
}

.root_nav h2 {
  display: none;
}
