div.address textarea.street_name {
  width: 290px;
}

div.address label.city_label {
  width: auto !important;
  margin-left: 10px;
}

div.address input.city_name {
  width: 140px;
}

div.address input.zip_code {
  width: 50px;
}

div.address input.region_name, input.country_name {
  width: 150px;
}
