<% #celui pour bosser%>
<ul class="cities">
  <% for city in @cities do -%>
    <li>
      <div class="city_id" style="display:none;"><%=city.id -%></div>
      <div class="city_zip_code" style="display:none;"><%=city.zip_code -%></div>
      <div class="city_name"><%=city.name -%></div>
    </li>
  <% end -%>
</ul>