<% contextual_search_for_role %>

<% add_contextual_menu_item :useful_links do %>
	<%= roles_link %>
<% end %>

<h1>Cr&eacute;er un r&ocirc;le</h1>
<%= render :partial => @role, :locals => {:submit_button_name => "Ajouter"} %>
