<% secondary_menu USEFUL_LINKS do %>
	<%= link_to "Liste des rôles",roles_path%>
<% end %>
<h1>Cr&eacute;er un r&ocirc;le</h1>
<%= render :partial => @role, :locals => {:submit_button_name => "Ajouter"} %>
