<%= order_header %>

<% add_contextual_menu_item :graphic_document do %>
  <%= graphic_items_link(GraphicDocument) %>
<% end %>

<% display_user_spool_in_contextual_menu %>

<h1>Nouveau document graphique</h1>
<%= render :partial => "graphic_items/graphic_item", :object => @graphic_document %>
