<table>
  <thead>
    <tr>
      <th>Type d'article</th>
      <th>Article</th>
      <th>Quantit&eacute;</th>
      <% if stock_flows.first.is_a?(StockInput) %>
        <th>PU TTC</th>
      <% end %>
      <th>Identifiant</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "stock_flows/stock_flow_in_one_line", :collection => stock_flows %>
  </tbody>
</table>

<%= will_paginate stock_flows %>
