<% add_contextual_menu_item :possible_actions do %>
	<%= new_content_link %>
<% end %>

<h1>Liste des contenus</h1>

<div>
  <% unless @contents.empty? %>
    <table>
      <thead>
        <tr>
          <th>Titre du menu</th> 
          <th>Titre de la page</th>
          <th>Description de la page</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= show_contents(@contents) %>
      </tbody>
    </table>
    <%= will_paginate @contents %>
  <% else %>
    <p>Aucun contenu</p>
  <% end %>
</div>
