<% content_for :secondary_menu do %>
<%= show_add_button %>
<% end %>

<h1>Liste des contenus</h1>

<div class="frame">
<% unless @contents.empty? %>
  <table>
    <tr>
      <th>Titre du menu</th> 
      <th>Titre de la page</th>
      <th>Description de la page</th>
      <th>Actions</th>
    </tr>

      <%= show_contents(@contents) %>

  </table>
<% end %>


</div>
