<% contextual_menu POSSIBLE_ACTIONS do %>
	<%= new_content_link %>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
	<%= contents_link %>
<% end %>

<h1>Liste des contenus</h1>

<div>
<% unless @contents.empty? %>
  <table>
    <tr>
      <th>Titre du menu</th> 
      <th>Titre de la page</th>
      <th>Description de la page</th>
      <th>Actions</th>
    </tr>

      <%= show_contents(@contents) %>

  </table>
<% else %>
<p>Aucun contenu</p>
<% end %>

</div>
