<h1>Historique des primes</h1>

<div class="frame"%>
<table>
    <tr>
      <th>Montant</th>
      <th>Commentaire</th>
      <th>Date</th>
    </tr>
    <% for premium in @premia%>
    <tr>
      <td><%=h premium.premium%></td>
      <td><%=h premium.remark%></td>
      <td><%=h premium.date.strftime("%d/%m/%Y") unless premium.date.nil?%></td>
    </tr> 
    <%end%>
</table>

<%= link_to  'Retour', employee_path(@employee) %>
</div>
