<h1>Ajouter une Prime à <%=@employee.fullname%> </h1>

<% content_for :header do %>
     <%= javascript_include_tag 'rh/premium' %>
<% end %>

<div class="frame presentation_small">

  <%= render :partial => "premia/premia", :object => [@employee,@premia] %>

</div>
