<% add_contextual_menu_item :possible_actions do %>
  <%= new_service_delivery_link(:link_text => "Nouvelle prestation") %>
<% end %>

<% title_context "Produits" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
