<% add_contextual_menu_item :possible_actions do %>
  <%= new_service_delivery_link(:link_text => "Nouvelle prestation") %>
<% end %>

<h1><%= title_for_search %></h1> 

<div>
  <%= table_for_search %>
</div>
