  </tbody>
  <tfoot>
    <tr class='footer'>
      <td colspan='10'></td>
      <td colspan='3'>TOTAL TTC(&euro;)</td>
    </tr>
    <tr class='footer'>
      <td colspan='10'>
        <%= hidden_field_tag 'add_this_supply_reference_id' %>
        <%= custom_text_field_with_auto_complete( :supply, :reference,
                                                  { :value      => "Cherchez une fourniture dans la base",
                                                    :size       => 50,
                                                    :onkeydown  => "if (event.keyCode == 13) { return false; }"}, 
                                                  { :update_id  => 'add_this_supply_reference_id',
                                                    :url => auto_complete_for_supply_reference_path(:supplier_id => supplier.id)}) %>
        
        <%= link_to_remote "Ajouter une fourniture", :update => "purchase_order_supply_form",
                                      :with => "'supply_id='+$('add_this_supply_reference_id').value+'&supplier_id='+$('supplier_id').value", 
                                      :url => get_purchase_order_supply_in_one_line_path,
                                      :html => { :method => :get },
                                      :position => "bottom",
                                      :condition => "can_add_supply()",
                                      :complete => "$('add_this_supply_reference_id').value = null"   
        %>
      </td>
      <td colspan='3' id="all_total"><%= display_all_total_price_for_purchase_order_form(purchase_order) %></td>
    </tr>
  </tfoot>
</table>
