<h3>R&eacute;sultats de la recherche</h3>
<fieldset>Command : <strong><%= @query %></strong></fieldset>
<% if @collection.size>0%>
<table>
  <tr>
    <%= generate_table_headers(@columns) %>
  </tr>
  <%= generate_results_table_cells(@collection, @columns) %>
<% else %>
  <p><strong>Aucuns r&eacute;sultats</strong></p>
<% end %>  
  
</table>
