<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/logisctic/price_calculator.js"></script>
  <script type="text/javascript" src="/javascripts/logisctic/reduce.js"></script>
  <script type="text/javascript" src="/javascripts/logisctic/develop.js"></script>
  <script type="text/javascript" src="/javascripts/logisctic/total.js"></script>
<% end %>

<% content_for :secondary_menu do %>
  
  <h1>tutu</h1>
<span class='total'></span>
<span id='total_ttc'></span>
  <h1><span class='grey-color'>Actions</span></h1>
  <ul>
    <li><%= link_to("<img alt='Nouvelle Cat&eacute;gorie' src='/images/add_24x24.png?1220437164' title='Nouvelle Cat&eacute;gorie' />Nouvelle Cat&eacute;gorie", new_commodity_category_path) %></li>
    <li><%= @type != "show_all" ? link_to("Tout affich&eacute;", :action => "index", :type => "show_all") : link_to("Affich&eacute; Actifs", :action => "index") %></li>
  </ul>
<% end %>

<h1>Liste des Cat&eacute;gories de mati&egrave;res premi&egrave;res</h1>
<div class="frame">
  <table class="commodity">
    <tr>
      <th rowspan='2'>Cat&eacute;gorie</th>
      <th rowspan='2'>Sous cat&eacute;gorie</th>
      <th rowspan='2'>Fournisseur</th>
      <th rowspan='2'>D&eacute;signation</th>
      <th rowspan='2'>Unit&eacute;e de mesure/U</th>
      <th rowspan='2'>Masse/U (kg)</th>
      <th colspan='3'>Prix/U (&euro;)</th>
      <th rowspan='2'>Actions</th>
      <tr>
        <th>FOB</th>
        <th>Coef Taxe</th>
        <th>Prix</th>
      </tr>
    </tr>
    <%= @type != "show_all" ? get_structured : get_structured(nil) %>
  </table>
</div>