<h1>Liste des cat&eacute;gories et des r&eacute;f&eacute;rences</h1>
<%= get_structured_category %>

 <%= link_to( 'Ajouter une cat&eacute;gorie' , new_product_reference_category_path )%> &brvbar; <%= link_to( 'Ajouter une r&eacute;f&eacute;rence', :controller => 'product_references', :action => 'new' ) %>
