<% title_context "Administration" %>
<%= title "Configurer les permissions par menu" %>

<div>
  <h2>Les menus</h2>

  <div class='hierarchic'><%= get_structured_menus_links(get_all_menus_structured)%></div>
</div>
