<h1>Configurer les permissions</h1>

<div>
  <h2>Les menus</h2>
  <ul>
    <% for menu in @menus %>
      <li>
        <%= link_to menu.title, edit_menu_permission_path(menu) %>
      </li>	
    <% end %>
  </ul>
</div>
