<% add_contextual_menu_item :useful_links do %>
  <%= machines_link(:link_text => "Voir toutes les machines") %>
<% end %>

<h1>Nouvelle machine</h1>
<%= render :partial => "tools/tool" , :locals => {:tool => @machine}%>
