<% title_context "Administration" %>
<%= title "Configurer les permissions par type de document" %>

<div>
  <h2>Les types de document</h2>
  <ul>
    <% @document_types.each do |document_type| %>
      <li>
        <%= link_to document_type.title, edit_document_type_permission_path(document_type) %>
      </li>	
    <% end %>
  </ul>
</div>
