<% content_for :memorandums do %>
<div id="text_under_banner" style="overflow: hidden;">
  <div id="banner_memorandum_39" class="memorandums position_10">
    <span class='memorandum_date'>Le 24 Août 2008.</span> <span class='memorandum_title'>Note de service 3</span> : <span class='memorandum_subject'>Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Cou.rage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Cou.rage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Cou.</span> <strong>EMR Developper.</strong>
  </div>
</div>
<div id="block_button_under_banner">
  <input id="previous" class="previous_memorandum_9" type="button" title="Information précédente" alt="bouton précédent"/>
  <span class="number"> 1 </span>
  |
  <span class="number"> 10 </span>
  <input id="next" class="next_memorandum_1" type="button" title="Information suivante" alt="bouton suivant"/>
</div>
<% end %>

<% content_for :vertical_menu do %>
<ul>
  <li class="selected" title="Titre 1"><a href="#">Titre 1</a></li>
  <li title="Titre 2"><a href="#">Administration de l'intranet'</a></li>
  <li title="Titre 3"><a href="#">Titre 3</a></li>
</ul>
<% end %>

<% content_for :horizontal_menu do %>
<a href="#">
  <span title="Sous menu 3">Sous menu 3</span>
</a>
<a href="#">
  <span title="Sous menu 2">Sous menu 2</span>
</a>
<a href="#">
  <span title="Sous menu 1" class="selected" id="menu_horizontal_first">Sous menu 1</span>
</a>
<% end %>

<% content_for :secondary_menu do %>
<h1>
  <span class="gray_color">Recherche</span> <span class="blue_color">contextuelle</span>
</h1>
<p>
  <input id="input_help" type="text" value="Rechercher" style="color:grey;"/><a href="#"><img id="help_image" src="/images/view_12x12.png" alt="bouton de recherche" title="Rechercher" /></a><br />
  <a href="#" class="help">Recherche avancée</a>
</p>
<h1>
  <span class="gray_color">Liens</span> <span class="blue_color">utiles</span>
</h1>
<div id="link">
  <ul>
    <li><a href="#">Lien N°1</a></li>
    <li><a href="#">Lien N°2</a></li>
    <li><a href="#">Lien N°3</a></li>
  </ul>
</div>
<div id="footer_secondary_menu">&nbsp;</div>
<% end %>

<div class="frame">
  <h2>Vue de Documents</h2>
  <div class="document_view">
    <h1>Write Title here</h1>
    <div class="document_view_content">
      <img src="/images/file_extensions/doc_75x75.png" alt="image doc" title=""/>
      <p>
        <strong>Commande lambda</strong><br/>Enregistré le 23 Septembre 2008 à 11h01
      </p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/gif_75x75.png" alt="image gif" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/txt_75x75.png" alt="image text" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/pdf_75x75.png" alt="image pdf" title=""/><p>Write text here.</p>
    </div>
  </div>
  <div class="document_view">
    <h1>Write Title here</h1>
    <div class="document_view_content">
      <img src="/images/file_extensions/doc_75x75.png" alt="image doc" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/gif_75x75.png" alt="image gif" title=""/><p>Write text here.</p>
    </div>
  </div>
  <div class="document_view">
    <h1>Write Title here</h1>
    <div class="document_view_content">
      <img src="/images/file_extensions/doc_75x75.png" alt="image doc" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
  </div>
</div>
<div class="frame">
  <h2>Test de ...</h2>
  <h3>...frise ...</h3>
  <div id="timeline">
    <div id="timeline_head" class="good"><span class="timeline_date">20 Avril 2008</span><span class="timeline_notice">Création de dossier</span></div>
    <div class="timeline_body good"><span class="timeline_date">23 Avril 2008</span><span class="timeline_notice">SAS de production</span></div>
    <div class="timeline_body"></div>
    <div class="timeline_body good"><span class="timeline_date">30 Avril 2008</span><span class="timeline_notice">Production</span></div>
    <div class="timeline_body bad"><span class="timeline_date">3 Mai 2008</span><span class="timeline_notice">Echéance</span></div>
    <div class="timeline_body"></div><div class="timeline_body"></div>
    <div class="timeline_body bad"><span class="timeline_date">10 Mai 2008</span><span class="timeline_notice">Livraison (retard)</span></div>
    <div class="timeline_body good"><span class="timeline_date">12 Mai 2008</span><span class="timeline_notice">SAS de facturation</span></div>
    <div class="timeline_body"></div><div class="timeline_body"></div><div class="timeline_body"></div>
    <div class="timeline_body good"><span class="timeline_date">20 Septembre 2008</span><span class="timeline_notice">Règlement</span></div>
    <div class="timeline_body good"><span class="timeline_date" title="25 Novembh ihi huhi hu ire 2008">25 Novembh ihi huhi hu ire 2008</span><span class="timeline_notice">Clôture</span></div>
    <div id="timeline_footer"></div>
  </div>
  <h2>Test d'intégration d'une image SVG</h2>
  <object type="image/svg+xml" data="/images/test.svg">
    <img src="/images/test.svg" alt="test d'intégration d'image en svg" title="test d'intégration d'image en svg" />
  </object >
  <div id="test">
    <object type="image/svg+xml" data="/images/test.svg">
      <img src="/images/test.svg" alt="test d'intégration d'image en svg" title="test d'intégration d'image en svg" />
    </object >
  </div>
</div>