<% content_for :memorandums do %>
<div id="text_under_banner" style="overflow: hidden;">
  <div id="banner_memorandum_39" class="memorandums position_10">
    <span class='memorandum_date'>Le 24 Août 2008.</span> <span class='memorandum_title'>Note de service 3</span> : <span class='memorandum_subject'>Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Cou.rage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Cou.rage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Courage les mecs, Cou.</span> <strong>EMR Developper.</strong>
  </div>
</div>
<div id="block_button_under_banner">
  <input id="previous" class="previous_memorandum_9" type="button" title="Information précédente" alt="bouton précédent"/>
  <span class="number"> 1 </span>
  |
  <span class="number"> 10 </span>
  <input id="next" class="next_memorandum_1" type="button" title="Information suivante" alt="bouton suivant"/>
</div>
<% end %>

<% content_for :vertical_menu do %>
<ul>
  <li title="Gestion de l'entreprise">					<a href="#">Gestion de l'entreprise</a>			</li>
  <li class="selected" title="L'entreprise">		<a href="#">L'entreprise</a>								</li>
  <li title="Ressources Humaines">							<a href="#">Ressources Humaines</a>					</li>
	<li title="Ventes">														<a href="#">Ventes</a>											</li>
	<li title="Production">												<a href="#">Production</a>									</li>
	<li title="Achats">														<a href="#">Achats</a>											</li>
	<li title="Equipements">											<a href="#">Equipements</a>									</li>
	<li title="Finances">													<a href="#">Finances</a>										</li>
	<li title="Bibliothèque">											<a href="#">Bibliothèque</a>								</li>
	<li title="Administration de l'intranet">			<a href="#">Administration de l'intranet</a></li>
</ul>
<% end %>

<% content_for :horizontal_menu do %>
<a href="#">
  <span title="Etude commercial" class="selected" id="menu_horizontal_first">Etude commercial</span>
</a>
<a href="#">
  <span title="SAS de production">SAS de production</span>
</a>
<a href="#">
  <span title="Production">Production</span>
</a>
<a href="#">
  <span title="SAS de facturation">SAS de facturation</span>
</a>
<a href="#">
  <span title="Facturation">Facturation</span>
</a>
<a href="#">
  <span title="Cloturé recemment">Cloturé recemment</span>
</a>
<a href="#">
  <span title="Cloturé recemment">Cloturé recemment</span>
</a>
<a href="#">
  <span title="Cloturé recemment">Cloturé recemment</span>
</a>
<a href="#">
  <span title="Cloturé recemment">Cloturé recemment</span>
</a>
<a href="#">
  <span title="Cloturé recemment">Cloturé recemment</span>
</a>

<% end %>

<% content_for :secondary_menu do %>
<h1>
  <span class="gray_color">Recherche</span> <span class="blue_color">contextuelle</span>
</h1>
<p>
  <input id="input_help" type="text" value="Rechercher" style="color:grey;"/><a href="#"><img id="help_image" src="/images/view_12x12.png" alt="bouton de recherche" title="Rechercher" /></a><br />
  <a href="#" class="help">Recherche avancée</a>
</p>
<h1>
  <span class="gray_color">Liens</span> in<span class="blue_color">utiles</span>
</h1>
<div id="link">
  <ul>
    <li><a href="#">Lien N°1</a></li>
    <li><a href="#">Lien N°2</a></li>
    <li><a href="#">Lien N°3</a></li>
  </ul>
  <ul>
    <li><a href="#">Lien N°1</a></li>
    <li><a href="#">Lien N°2</a></li>
    <li><a href="#">Lien N°3</a></li>
  </ul>
  <ul>
    <li><a href="#">Lien N°1</a></li>
    <li><a href="#">Lien N°2</a></li>
    <li><a href="#">Lien N°3</a></li>
  </ul>
	<h1>
		<span class="gray_color">Action</span> <span class="blue_color">possible</span></h1>
	<ul>
		<li><a href="/sended_memorandums/new"><img src="/images/add_16x16.png" alt="Ajouter" title="Ajouter"> Nouvelle note de service</a></li>
	</ul>
	<h1><span class="gray_color">Lien</span> <span class="blue_color">Utile</span></h1>	
	<ul>
		<li><a href="/received_memorandums">Voir la liste des notes de service reçu</a></li>
	</ul>
	<h1><span class="gray_color">Liens</span> avec <span class="blue_color">icones</span></h1>
  <ul>
    <li><a href="#">Lien N°1</a></li>
    <li><a href="#">Lien N°2</a></li>
    <li><a href="#">Lien N°3</a></li>
  </ul>
</div>
<div id="footer_secondary_menu">&nbsp;</div>
<% end %>
<h1>Titre h1 hors frame</h1>
<div class="frame presentation_medium">
	<h2>Titre h2 dans Frame</h2>
	<h3>Informations</h3>
	<p><label>Nom :</label><strong>MAREBAM (<a>voir fiche complète</a>) ejfezjfijezo ejiojeozjfoz ejfezjfijezo ejiojeozjfoz ejfezjfijezo ejiojeozjfoz ejfezjfijezo ejiojeozjfoz </strong></p>
	<p><label>Secteur d'activité ayant un très long text juste pour m'embêter : </label><strong>Commerce</strong></p>
	<p><label>Activité : </label><strong>Vendeur d'articles de sport en magasin spécialisé</strong></p>
	<p><label>Enseignes : </label><strong>Décathlon, GO Sport</strong></p>
	<p><label>Etablissements : </label><strong>10</strong></p>
	<h3>Statistiques</h3>
	<p><label>Nombre de ventes réalisées au total : </label><strong>30</strong></p>
	<p><label>Client depuis : </label><strong>2ans et 3mois</strong></p>
	<p><label>Note :</label>	<strong><img src="/themes/osirails-green/images/green_star.png" alt="étoile positive" />
																<img src="/themes/osirails-green/images/green_star.png" alt="étoile positive" />
																<img src="/themes/osirails-green/images/green_star.png" alt="étoile positive" />
																<img src="/themes/osirails-green/images/black_star.png" alt="étoile négative" />
																<img src="/themes/osirails-green/images/black_star.png" alt="étoile négative" />
															</strong></p>
	<h3>Historiques des dernières ventes</h3>
	<table>
		<tr>
			<th>Date de facturation</th>
			<th>&Eacute;tablissement</th>
			<th>Produits</th>
			<th>Prix total de vente</th>
			<th>Ratio de la marge réalisée</th>
		</tr>
		<tr>
			<td>22 Mai 2008</td>
			<td>Décathlon Sainte Suzanne</td>
			<td>Totem 6m, bandeaux lumineux ...</td>
			<td>10.000€</td>
			<td>30%</td>
		</tr>
		<tr>
			<td>14 Mars 2008</td>
			<td>Décathlon Sainte Suzanne</td>
			<td>Totem 6m, bandeaux lumineux ...</td>
			<td>10.000€</td>
			<td>30%</td>
		</tr>
		<tr>
			<td>05 Janvier 2008</td>
			<td>Décathlon Sainte Suzanne</td>
			<td>Totem 6m, bandeaux lumineux ...</td>
			<td>10.000€</td>
			<td>30%</td>
		</tr>
		<tr>
			<td>21 Mai 2007</td>
			<td>Décathlon Sainte Suzanne</td>
			<td>Totem 6m, bandeaux lumineux ...</td>
			<td>10.000€</td>
			<td>30%</td>
		</tr>
		<tr>
			<td>10 Mars 2007</td>
			<td>Décathlon Sainte Suzanne</td>
			<td>Totem 6m, bandeaux lumineux ...</td>
			<td>10.000€</td>
			<td>30%</td>
		</tr>
	</table>
</div>
	<div class="frame presentation_medium">
	<h2>Titre h2 dans Frame</h2>
	<h3>Informations</h3>
	<p><label>Nom : </label><strong>MAREBAM (<a>voir fiche complète</a>)</strong></p>
	<p><label>Secteur d'activité ayant un très long text juste pour m'embêter : </label><strong>Commerce</strong></p>
	<p><label>Activité : </label><strong>Vendeur d'articles de sport en magasin spécialisé</strong></p>
	<p><label>Enseignes : </label><strong>Décathlon, GO Sport</strong></p>
	<p><label>Etablissements : </label><strong>10</strong></p>
	</div>
	<div class="frame">
		<h2>Test de text autogénéré</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce ipsum diam, viverra porta, semper eget, ullamcorper sed, ligula. Ut consectetuer, odio vulputate pulvinar consectetuer, justo nunc vulputate lacus, sed egestas diam neque quis neque. Nullam pharetra, sollicitudin accumsan, tellus mi rutrum metus, eget suscipit risus lorem vel mi. Praesent suscipit. Cras tincidunt pellentesque leo. Donec orci quam, consequat eu, pulvinar auctor, vehicula sodales, risus. Duis molestie semper nisi. Suspendisse potenti. Suspendisse justo magna, sagittis et, adipiscing eleifend, pellentesque ac, augue. Curabitur ante. Cras vel nibh ac ante cursus tincidunt.</p>

		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non dui at sapien pretium pellentesque. In lacinia felis eu tellus. Maecenas rhoncus cursus arcu. Maecenas sit amet mauris vel risus tempus dictum. Sed in erat nec justo volutpat consectetuer. Duis eleifend, diam quis lacinia varius, mauris turpis congue purus, quis blandit libero quam ut nisi. Etiam cursus sagittis purus. Fusce ullamcorper quam vel dui. Nullam dolor. Integer accumsan dui sed nisi. Donec blandit.</p>

		<p>Phasellus vitae libero. Integer fermentum tristique felis. Morbi imperdiet. Pellentesque pede magna, tempus blandit, eleifend non, vestibulum sed, pede. Curabitur elit lorem, vestibulum sit amet, interdum ac, elementum et, mi. Suspendisse potenti. Integer fringilla nunc sit amet elit. Vestibulum ac nibh et quam condimentum pulvinar. Ut eu leo ut quam dictum malesuada. Vivamus sollicitudin quam vel justo aliquam varius. Nunc dapibus mi rutrum nisi. Integer varius neque. Nulla facilisi. Mauris mollis fermentum neque. Duis a mi.</p>

		<p>Sed molestie luctus lorem. Vestibulum lobortis. Vivamus nec orci ac metus convallis ultricies. Quisque erat turpis, pretium et, eleifend et, rutrum sit amet, nisi. Proin fringilla suscipit libero. Aenean bibendum laoreet sem. Quisque adipiscing magna eu purus. Donec feugiat hendrerit tortor. Cras laoreet purus at pede. Suspendisse tincidunt, neque vitae venenatis bibendum, pede libero laoreet lacus, vitae consectetuer metus tellus et risus. Donec eget ipsum. Donec tincidunt sapien sit amet nibh. Ut urna. Fusce sem velit, ultrices at, fermentum lacinia, posuere ut, leo. Cras aliquet varius purus. Nullam quis massa a est viverra convallis.</p>

		<p>Mauris placerat odio. Aenean est urna, aliquam non, accumsan posuere, suscipit sed, nunc. Aliquam rutrum mi eget mi. Integer ultricies pulvinar mi. Vivamus vestibulum. Mauris quis mauris at purus tempus bibendum. Aenean risus leo, malesuada quis, dapibus vitae, ultricies quis, magna. Vivamus vitae libero ut augue tristique vestibulum. Sed dui justo, venenatis eleifend, cursus et, tempor non, risus. In hac habitasse platea dictumst. Ut blandit dui id purus. In pede. Quisque vel nibh. Curabitur tincidunt. Donec neque metus, accumsan non, feugiat sit amet, adipiscing quis, nunc. Nullam varius, nisl vel feugiat auctor, massa enim mattis risus, id ultrices lacus pede eu ligula. Nam orci.</p>
	</div>
	<div class="frame presentation_medium">
	<h3>Titre h3 dans Frame</h3>
  <div class="document_view half">
    <h1>Write Title here</h1>
    <div class="document_view_content">
      <img src="/images/file_extensions/doc_75x75.png" alt="image doc" title=""/>
      <p>
        <strong>Commande lambda</strong><br/>Enregistré le 23 Septembre 2008 à 11h01
      </p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/gif_75x75.png" alt="image gif" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/txt_75x75.png" alt="image text" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/pdf_75x75.png" alt="image pdf" title=""/><p>Write text here.</p>
    </div>
  </div>
  <div class="document_view half">
    <h1>Write Title here</h1>
    <div class="document_view_content">
      <img src="/images/file_extensions/doc_75x75.png" alt="image doc" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/gif_75x75.png" alt="image gif" title=""/><p>Write text here.</p>
    </div>
  </div>
  <div class="document_view">
    <h1>Write Title here</h1>
    <div class="document_view_content">
      <img src="/images/file_extensions/doc_75x75.png" alt="image doc" title=""/><p>Write text here.</p>
    </div>
    <div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
		<div class="document_view_content">
      <img src="/images/file_extensions/jpg_75x75.png" alt="image jpg" title=""/><p>Write text here.</p>
    </div>
  </div>
</div>
<div class="frame">
  <h2>Test de ...</h2>
  <h3>...frise ...</h3>
  <div id="timeline">
    <div id="timeline_head" class="good"><span class="timeline_date">20 Avril 2008</span><span class="timeline_notice">Création de dossier</span></div>
    <div class="timeline_body good"><span class="timeline_date">23 Avril 2008</span><span class="timeline_notice">SAS de production</span></div>
    <div class="timeline_body"></div>
    <div class="timeline_body good"><span class="timeline_date">30 Avril 2008</span><span class="timeline_notice">Production</span></div>
    <div class="timeline_body bad"><span class="timeline_date">3 Mai 2008</span><span class="timeline_notice">Echéance</span></div>
    <div class="timeline_body"></div><div class="timeline_body"></div>
    <div class="timeline_body bad"><span class="timeline_date">10 Mai 2008</span><span class="timeline_notice">Livraison (retard)</span></div>
    <div class="timeline_body good"><span class="timeline_date">12 Mai 2008</span><span class="timeline_notice">SAS de facturation</span></div>
    <div class="timeline_body"></div><div class="timeline_body"></div><div class="timeline_body"></div>
    <div class="timeline_body good"><span class="timeline_date">20 Septembre 2008</span><span class="timeline_notice">Règlement</span></div>
    <div class="timeline_body good"><span class="timeline_date" title="25 Novembh ihi huhi hu ire 2008">25 Novembh ihi huhi hu ire 2008</span><span class="timeline_notice">Clôture</span></div>
    <div id="timeline_footer"></div>
  </div>
  <h2>Test d'intégration d'une image SVG</h2>
  <object type="image/svg+xml" data="/images/test.svg">
    <img src="/images/test.svg" alt="test d'intégration d'image en svg" title="test d'intégration d'image en svg" />
  </object >
  <div id="test">
    <object type="image/svg+xml" data="/images/test.svg">
      <img src="/images/test.svg" alt="test d'intégration d'image en svg" title="test d'intégration d'image en svg" />
    </object >
  </div>
</div>
