<h1>Historique des salaires</h1>

<div class="frame"%>
<table>
    <tr>
      <th>Montant brut</th>
      <th>Montant net</th>
      <th>Date de modification</th>
    </tr>
    <% for salary in @salaries%>
    <tr>
      <td><%=h salary.salary%></td>
      <td><%=h net(salary.salary)%></td>
      <td><%=h salary.created_at.strftime("%d/%m/%Y")%></td>
    </tr> 
    <%end%>
</table>

<%= link_to  'Retour', employee_path(@employee) %>
</div>
