<h1>Permissions</h1>
<%= link_to "Gerer les roles", role_permissions_path %>
| <%= link_to "Gerer les business objects", business_object_permissions_path %>
| <%= link_to "Gerer les menus", menu_permissions_path %>