<% add_contextual_menu_item :possible_actions do %>
  <%= new_device_link(:link_text => "Nouveau périphérique") %>
<% end %>

<h1>Les p&eacute;riph&eacute;riques</h1>
<%= render :partial => 'tools/index', :locals => {:tools => @devices}%>
