<% add_contextual_menu_item :possible_actions do %>
  <%= new_device_link %>
<% end %>

<h1>Liste des p&eacute;riph&eacute;riques</h1>
<%= render :partial => 'tools/index', :locals => {:tools => @devices}%>
