<% add_contextual_menu_item :useful_links do %>
  <%= devices_link(:link_text => "Voir tous les périphériques") %>
<% end %>

<h1>Nouveau p&eacute;riph&eacute;rique</h1>
<%= render :partial => "tools/tool" , :locals => {:tool => @device}%>
