<h4>Nouvelle Static_Page</h4>


<% form_for(@static_page) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %><br/><br/>
  <%= f.submit "Ajouter" %>
<% end %>

<%= link_to 'Retour', :action => 'index' %>