/* DELIVERY NOTES LIST */
table tr.confirmed_delivery_note td.status {
  color: #e99727;
}

table tr.cancelled_delivery_note td.status {
  color: #ff3528;
}

table tr.signed_delivery_note td.status {
  color: #60bc00;
  font-weight: bold;
}

table tr.delivery_note td.realized_at.undelivered {
  color: #ff3528;
}

table tr.delivery_note td.realized_at.postponed {
  color: #ff3528;
}

table tr.delivery_note td.realized_at.delivered {
  color: #60bc00;
}

/* DELIVERY NOTE HEADER */
#delivery_note_header {
  text-align: left;
  text-indent: 0;
}

#delivery_note_header > div {
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
  margin: 5px 7px 5px 7px;
}

#delivery_note_header > div label {
  width: 100px !important;
  vertical-align: top;
}

#delivery_note_header > div h4 {
  text-align: center;
  margin: 0px;
  padding: 2px;
  background-color: #DDD;
  border: 1px solid #A7A7A7;
}

#delivery_note_header #contact_container label {
  width: auto !important;
}

#delivery_note_items tr.empty_line {
  background-color: #EAEAEA;
  font-style: italic;
  color: #898989;
}
