#order_search_customer {
  margin: 7px 10px 7px 10px;
}

#order_progress {
  text-align: center;
}

/* ORDER HEADER */
#order_header {
  text-align: left;
  text-indent: 0;
}

#order_header p {
  text-align: left;
  text-indent: 0;
  padding: 0 0 0 8px;
  margin-bottom: 0;
}

#order_header .first_column {
  display: inline-block;
  vertical-align: top;
}

#order_header .first_column label {
  width: 200px;
}

#order_header .second_column {
  display: inline-block;
  //max-width: 340px;
  vertical-align: top;
}

#order_header .second_column label {
  width: 200px;
}

/* CHECKLISTS */
#checklists {
  text-align: left;
  text-indent: 0;
  padding: 10px;
}

#checklists p.checklist {
  display: inline-block;
  vertical-align: top;
  text-indent: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#checklists label {
  vertical-align: middle;
  text-align: left;
  width: auto;
}

p.order_deadline {
  text-align: center !important;
  margin: 0;
  padding: 0;
}

p.order_deadline span:first-child:after {
  content: "\A";
  white-space: pre;
}

p.order_deadline.far {
  color: blue;
  text-decoration: underline;
}

p.order_deadline.soon,
p.order_deadline.today {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

p.order_deadline.late,
p.order_deadline.critical {
  font-weight: bold;
  color: red;
  text-decoration: blink;
}

.order_header_extra {
  display: none;
}

#order_header_more {
  text-align: center;
}

/* QUOTES LIST */
table tr.quote.confirmed_quote {
  background-color: #e99727;
  color: white;
}

table tr.quote.cancelled_quote,
.invalidated_quote {
  background-color: #ff3528;
  color: white;
}

table tr.quote.sended_quote,
.sended_quote {
  background-color: #e99727;
  color: white;
  font-weight: bold;
}

table tr.quote.signed_quote,
.signed_quote {
  background-color: #60bc00;
  color: white;
  font-weight: bold;
}

table tr.quote td.actions {
  background-color: white;
}

table tr.quote_send_form {
  text-align: right;
}

table tr.quote_send_form p input[type=submit] {
  margin: 0 !important;
}

ul.quote_caption {
  list-style: none;
  padding-left: 25px;
  margin-top: 5px;
}

/* QUOTES */
.new_quote_item {
  text-align: left;
}

table#quote_items td,
table#quote_items span {
  vertical-align: top;
}

table#quote_items td.description {
  text-align: left;
}

table#quote_items td.description p {
  margin: 0;
  padding: 0;
}

table#quote_items td.description strong {
  color: inherit;
  font-weight: bold;
}

table#quote_items td.description img,
table#quote_items td.unit_price img {
  vertical-align: middle;
}

table#quote_items td.description input,
table#quote_items td.description textarea {
  width: 400px;
}

table#quote_items span.fieldWithErrors {
  display: inline-block;
}

table#quote_items span.fieldWithErrors:after {
  color: red;
  vertical-align: top;
  content: " *"
}

table#quote_items tr.aggregates td {
  text-align: left;
  border-top: none;
  border-bottom: none;
}

table#quote_items tr.aggregates td.aggregate_label {
  border-right: none;
}

table#quote_items tr.aggregates td.aggregate_amount {
  border-left: none;
  text-align: right;
}

table#quote_items tr.aggregates td.aggregate_amount input {
  text-align: right;
}

table#quote_items tr.aggregates.global {
  font-weight: bold;
  background-color: #CCC;
  border-top: 1px solid black;
}

/* QUOTE HEADER */
#quote_header {
  text-align: left;
  text-indent: 0;
}

#quote_header > p {
  text-align: left;
  text-indent: 0;
  padding: 0 0 0 8px;
  margin-bottom: 0;
}

#quote_header > div {
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
  width: 400px;
  margin: 5px 7px 5px 7px;
}

#quote_header > div label {
  width: 100px !important;
  vertical-align: top;
}

#quote_header > div h3 {
  text-align: center;
}

#quote_header #contact_container {
  min-width: 814px;
}

#quote_header #contact_container label {
  width: auto !important;
}

#quote_header #contact_container #order_preview_contacts {
  margin-left: 110px;
}

/* DELIVERY NOTE HEADER */
#delivery_note_header {
  text-align: left;
  text-indent: 0;
}

#delivery_note_header > div {
  display: inline-block;
  vertical-align: top;
  min-width: 400px;
  margin: 5px 7px 5px 7px;
}

#delivery_note_header > div label {
  width: 100px !important;
  vertical-align: top;
}

#delivery_note_header > div h3 {
  text-align: center;
}

#delivery_note_header #contact_container label {
  width: auto !important;
}

/* REMARKS */
#remarks {
}

#remarks .remark {
  border: 1px solid grey;
  -moz-border-radius: 0 5px 0 5px;
  margin: 10px 10px 7px 10px;
}

#remarks .remark .remark_counter {
  border: 1px solid grey;
  -moz-border-radius: 10px;
  padding: 0 4px 0 4px;
}

#remarks .remark.style1 .remark_header {
  background-color: #c3d8ff;
}

#remarks .remark.style2 .remark_header {
  background-color: #ffe3bb;
}

#remarks .remark .remark_header {
  border-bottom: 1px solid grey;
  padding: 4px;
  margin: 0;
}

#remarks .remark .remark_header strong {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

#remarks .remark .remark_body strong {
  color: black;
  font-weight: bold;
}

/* SHIP TO ADDRESSES */
#preview_establishments .resource {
  padding-right: 25px;
}

#preview_establishments .resources a.establishment_actions {
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
}

/* TABULATION FOR SURVEY STEP */
.root_nav {
  position: relative;
  margin-top: 34px !important;
}

.root_nav ul.tab_nav {
  position: absolute;
  top: -46px;
  left: -1px;
  list-style: none;
  padding: 0;
}

.root_nav ul.tab_nav li {
  display: inline-block;
  background-color: #fffcd6;
  border: 1px solid #737373;
  -moz-border-radius: 10px 10px 0 0;
  padding: 4px 11px 4px 11px;
  margin-top: 5px;
  margin-right: -6px;
  cursor: pointer;
  z-index: -1;
}

.root_nav ul.tab_nav li:first-child {
  -moz-border-radius: 0px 10px 0 0;
}

.root_nav ul.tab_nav li:hover {
  background-color: white;
}

.root_nav ul.tab_nav li.selected {
  background-color: white;
  padding: 8px 14px 4px 14px;
  border-bottom: 1px solid white;
  -moz-border-radius: 10px 10px 0 0;
  font-weight: bold;
  margin-top: 0;
}

.root_nav ul.tab_nav li.errors {
  color: red;
  background-image: url('/themes/emr/images/warning_14x14.png');
  background-repeat: no-repeat;
  background-position: 7px 50%;
  padding-left: 28px;
}

.root_nav div.section_nav {
  display: none;
  padding: 8px;
  text-align: left;
}

.root_nav div.section_nav.selected {
  display: block;
}

.root_nav h2 {
  display: none;
}

//.survey_step {
//  position: relative;
//  margin-top: 34px !important;
//}
//
//.survey_step ul.survey_step_nav {
//  position: absolute;
//  top: -46px;
//  left: -1px;
//  list-style: none;
//  padding: 0;
//}
//
//.survey_step ul.survey_step_nav li {
//  display: inline-block;
//  background-color: #fffcd6;
//  border: 1px solid #737373;
//  -moz-border-radius: 10px 10px 0 0;
//  padding: 4px 11px 4px 11px;
//  margin-top: 5px;
//  margin-right: -6px;
//  cursor: pointer;
//  z-index: -1;
//}
//
//.survey_step ul.survey_step_nav li:first-child {
//  -moz-border-radius: 0px 10px 0 0;
//}
//
//.survey_step ul.survey_step_nav li:hover {
//  background-color: white;
//}
//
//.survey_step ul.survey_step_nav li.selected {
//  background-color: white;
//  padding: 8px 14px 4px 14px;
//  border-bottom: 1px solid white;
//  -moz-border-radius: 10px 10px 0 0;
//  font-weight: bold;
//  margin-top: 0;
//}
//
//.survey_step ul.survey_step_nav li.errors {
//  color: red;
//  background-image: url('/themes/emr/images/warning_14x14.png');
//  background-repeat: no-repeat;
//  background-position: 7px 50%;
//  padding-left: 28px;
//}
//
//.survey_step div.section_nav {
//  display: none;
//  padding: 8px;
//  text-align: left;
//}
//
//.survey_step div.section_nav.selected {
//  display: block;
//}
//
//.survey_step h2 {
//  display: none;
//}

/* TABULATION FOR PRODUCTS IN SURVEY STEP */
.product.resource {
  display: block;
  position: relative;
  border: 1px solid #737373 !important;
  margin: 38px 7px 7px 7px !important;
  padding: 0;
  vertical-align: inherit;
}

.product.resource .product_details > p {
  margin: inherit;
  padding: 5px 0 5px 0;
  text-indent: inherit;
}

.product.resource .product_details > p input[type=text],
.product.resource .product_details > p input[type=password],
.product.resource .product_details > p input[type=checkbox],
.product.resource .product_details > p textarea,
.product.resource .product_details > p select {
  vertical-align: inherit;
  width: inherit;
}

.product > ul {
  position: absolute;
  top: -44px;
  left: 20px;
  list-style: none;
  padding: 0;
}

.product > ul li {
  display: inline-block;
  background-color: #fffcd6;
  border: 1px solid #737373;
  -moz-border-radius: 10px 10px 0 0;
  padding: 3px 9px 3px 9px;
  margin-top: 5px;
  margin-right: -6px;
  cursor: pointer;
}

.product > ul li:first-child {
  -moz-border-radius: 0px 10px 0 0;
}

.product > ul li:hover {
  background-color: #ffdd60;
}

.product > ul li.selected {
  background-color: #ffdd60;
  padding: 8px 8px 3px 8px;
  border-bottom: 1px solid #ffdd60;
  -moz-border-radius: 10px 10px 0 0;
  font-weight: bold;
  margin-top: 0;
}

.product > ul li.disabled {
  background-color: #CCC;
  color: #777;
  font-style: italic;
  cursor: inherit;
}

.product > ul li.errors {
  color: red;
  background-image: url('/themes/emr/images/warning_14x14.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-left: 24px;
}

.product .product_summary {
  background-color: #ffdd60; //#fff8a4;
  padding: 0;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #737373;
  margin-bottom: -1px;
}

.product .product_summary > span {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 7px 5px 0;
}

.product .product_summary > span.product_label {
  font-weight: inherit;
  text-decoration: underline;
}

.product .product_summary .product_position {
  margin: 3px 5px 3px -5px;
  padding: 4px 6px 4px 6px;
  border: 1px solid #737373;
  -moz-border-radius: 20px;
}

.product .product_summary .product_name {
  width: 450px;
}

.product .product_summary .product_dimensions {
  min-width: 200px;
}

.product .product_summary .product_quantity {
  min-width: 50px;
}

.product .product_summary .product_new {
  color: red;
  font-style: italic;
}

.product > h3 {
  display: none;
}

.product > div {
  display: none;
}

.product > div.selected {
  display: block;
}

.product table thead tr {
  font-weight: bold;
  background-color: #CECECE;
}

.product table tbody tr {
  vertical-align: top;
}

.survey_step_search_product_reference {
  padding: 7px;
}

.survey_step_search_product_reference label {
  width: auto !important;
}

.survey_step_search_product_reference input {
  margin-left: 5px;
  padding-right: 20px;
}

/* SURVEY INTERVENTION IN SURVEY STEP */
div.resource.survey_intervention input,
div.resource.survey_intervention select,
div.resource.survey_intervention textarea {
  width: inherit !important;
}

/* SUBCONTRACTORS REQUESTS IN SURVEY STEP */
div.resource.subcontractor_request input,
div.resource.subcontractor_request select,
div.resource.subcontractor_request textarea {
  width: inherit !important;
}
