<h2>Fiche d&eacute;taill&eacute;e du Produit</h2>

<p>
  <%= label_tag "Nom du produit :" %>
  <strong><%= @product.name %></strong>
</p>
<p>
  <%= label_tag "Description du produit :" %>
  <strong><%= @product.description %></strong>
</p>
