<% add_contextual_menu_item :possible_actions do %>
	<%= new_memorandum_link(:link_text => "Nouvelle note de service") %>
	<%= memorandum_link(@sended_memorandum, :link_text => "Voir la note de service envoyée" ) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= memorandums_link(:link_text => "Voir toutes les notes de service envoyées") %> 
<% end %>

<h1>Modifier la note de service</h1>
<%= render :partial => "memorandum" %>
