<% add_contextual_menu_item :possible_actions do %>
	<%= new_memorandum_link %>
	<%= memorandum_link(@sended_memorandum) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= memorandums_link(:link_text => "List all sended memorandums") %> 
<% end %>

<h1>Modifier une note de service</h1>
<%= render :partial => "memorandum", :locals => { :submit_button_name => "Modifier"} %>
