<% content_for :secondary_menu do %>
  
  <%= show_add_button %>
  
 <%= show_received_memorandums %>
  
<% end %>

<h1>Notes de services envoy&eacute;s</h1>
<% unless @sended_memorandums.size == 0 or (!Memorandum.can_list?(current_user) and controller.can_list?(current_user))%>
  <div class='frame'>
    <%= show_memorandum(@sended_memorandums) %>
    <%= will_paginate @sended_memorandums, :param_name => :memorandum, :prev_label => " << pr&eacute;c&eacute;dent", :next_label => "suivant >>" %>
  </div>
<% end %>