<% content_for :secondary_menu do %>

<%= show_add_button %>

<h1><span class="gray_color">Lien</span> <span class="blue_color">Utile</span></h1>
<ul>
  <li><%= link_to("Voir la liste des notes de service re&ccedil;u", received_memorandums_path) %></li>
</ul>

<% end %>

<h1>Notes de services envoy&eacute;s</h1>

<%= show_sended_memorandum %>
