<% add_contextual_menu_item :possible_actions do %>
 <%= new_memorandum_link(:link_text => "Nouvelle note de service") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
 <%= received_memorandums_link %>
<% end %>

<h1>Les notes de services envoy&eacute;es</h1>

<div>
<% if Memorandum.can_list?(current_user) and !@sended_memorandums.empty?%>
  <%= show_sended_memorandums(@sended_memorandums) %>
  <%= will_paginate @sended_memorandums, :param_name => :memorandum %>
<% else %>
  <p>Aucune note de service n'a été trouvée.</p>
<% end %>
</div>
