<% add_contextual_menu_item :useful_links do %>
	<%= memorandums_link(:link_text => "Voir toutes les notes de service envoyées") %> 
<% end %>

<h1>Nouvelle note de service</h1>
<%= render :partial => "memorandum" %>
