<% secondary_menu USEFUL_LINKS do %>
	<%= memorandums_link("View all sended memorandums") %> 
	<%= received_memorandums_link %>
<% end %>
<h1>Nouvelle note de service</h1>
<%= render :partial => "memorandum", :locals => { :submit_button_name => "Enregistrer"} %>
