<h1>Note de service</h1>

<div class='frame'>
<h2 style='text-align: center;'><%= @sended_memorandum.title %></h2>

<div class='formated_content'>
  <fieldset>
    <%= view_memorandum(@sended_memorandum) %>
  </fieldset>
</div>

<%= link_to("Modifier", edit_sended_memorandum_path(@sended_memorandum)) if @sended_memorandum.published_at.nil? %> <%= link_to("Retour", sended_memorandums_path) %>
</div>