<h1>Configurer les permissions</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
  <h2>Les calendriers</h2>
  <ul>
    <% for calendar in @calendar_permissions %>
    <li><%= link_to calendar.name, edit_calendar_permission_path(calendar) %></li>	
    <% end %>
  </ul>

  <%= link_to "Retour", permissions_path %>
</div>