<h1>Rechercher</h1>

<div class="frame presentation_medium">
  <h2>Cat&eacute;gorie</h2>
  <div class="scroll_checkboxes">
  </div>
  
  <h2>Crit&egrave;re</h2>
  <div id="criteria_list">
  </div>
</div>
