<% supplier_owner ||= nil %>
<% supplier_choice_only ||= nil %>
<% supplier ||= nil %>
<% form ||= nil %>

<% unless params['supplier_id'] %>
  <% supplier_owner = supplier_choice %>
    <% if params[:action] == "send_to_another_supplier_form" %>
      <p>
        Vous êtes sur le point de cr&eacute;er une copie d'une demande de devis pour la soumettre &agrave; un autre fournisseur.<br />
        Pour cr&eacute;er cette copie vous devez choisir le fournisseur qui sera associ&eacute; &agrave; cette demande.
      </p>
    <% else %>
      <p>
        Vous &ecirc;tes sur la page de cr&eacute;ation de demande de devis.<br/>
        Pour cr&eacute;er une nouvelle demande de devis, vous devez choisir le fournisseur qui sera associ&eacute; &agrave; cette demande.
      </p>
    <% end %>
    <p>Avez-vous affaire &agrave; un fournisseur connu OU &agrave; un nouveau fournisseur ? Si vous ne savez pas, n'h&eacute;sitez pas &agrave; faire une recherche.</p>
    <%= render :partial => 'quotation_requests/supplier_choice_form', :object => supplier_owner, :locals => { :supplier => supplier, :supplier_choice_only => supplier_choice_only, :form => form, :supplier_owner => supplier_owner } %>
<% end %>
