<h1>Configurer les permissions</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
  <h2>Les objets m&eacute;tiers</h2>
  <ul>
    <% for business_object in @business_objects %>
    <li><%= link_to business_object.name, edit_business_object_permission_path(business_object) %></li>	
    <% end %>
  </ul>

  <%= link_to "Retour", permissions_path %>
</div>
