<% title_context "Administration" %>
<%= title "Configurer les permissions par objet métier" %>

<div>
  <h2>Les objets m&eacute;tiers</h2>
  <ul>
    <% for business_object in @business_objects %>
      <li>
        <%= link_to business_object.name, edit_business_object_permission_path(business_object) %>
      </li>	
    <% end %>
  </ul>
</div>
