<p>
<button class="input-button" onClick="ajax_link(link_get_events);"><span>Télécharger les événements</span></button> | 
<%= link_to "Aujourd'hui", :id => params[:id],  :period => params[:period], :year => Date::today.year, :month => Date::today.month, :day => Date::today.day %>
</p>