<p>
<button class="input-button" type="submit" onClick="<%= get_events_function %>"><span>Télécharger les événements</span></button> | 
<%= link_to "Aujourd'hui", :id => params[:id],  :period => params[:period], :year => Date::today.year, :month => Date::today.month, :day => Date::today.day %>
</p>