<div id="timeline">
	<div id="timeline_head" class="good"><span class="timeline_date"><%= @order.created_at.strftime("%C %B %Y") %></span><span class="timeline_notice">Création de dossier</span></div>
	<div class="timeline_body good"><span class="timeline_date">23 Avril 2008</span><span class="timeline_notice">SAS de production</span></div>
	<div class="timeline_body"></div>
	<div class="timeline_body good"><span class="timeline_date">30 Avril 2008</span><span class="timeline_notice">Production</span></div>
	<div class="timeline_body bad"><span class="timeline_date">3 Mai 2008</span><span class="timeline_notice">Echéance</span></div>

	<div class="timeline_body"></div><div class="timeline_body"></div>
	<div class="timeline_body bad"><span class="timeline_date">10 Mai 2008</span><span class="timeline_notice">Livraison (retard)</span></div>
	<div class="timeline_body good"><span class="timeline_date">12 Mai 2008</span><span class="timeline_notice">SAS de facturation</span></div>
	<div class="timeline_body"></div><div class="timeline_body"></div><div class="timeline_body"></div>
	<div class="timeline_body good"><span class="timeline_date">20 Septembre 2008</span><span class="timeline_notice">Règlement</span></div>
	<div class="timeline_body good"><span class="timeline_date" title="25 Novembh ihi huhi hu ire 2008">25 Novembh ihi huhi hu ire 2008</span><span class="timeline_notice">Clôture</span></div>

	<div id="timeline_footer"></div>
</div>