<%= order_header %>

<div class="frame tabulation">
	<h2>Avancement global</h2>
  <%= render :partial => 'orders/order_timeline', :object => @order %>

	<h2>Contacts</h2>
  <div class="form_multiple_entries">
    <div class="collection">
      <%= render :partial => 'contacts/contact_chooser', :collection => @order.contacts, :locals => { :contacts_owner => @order } %>
    </div>
  </div>
	<h2>Remarques</h2>
</div>