<%= order_header %>

<div>
	<h2>Avancement global</h2>
  <%= render :partial => 'orders/order_timeline', :object => @order %>

	<h2 id="contacts_section">Contacts</h2>
	<%= display_contacts_list(@order) %>
	
	<h2>Toutes les remarques</h2>
	
	<h2>Tous les documents</h2>
</div>
