<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
<% end %>

<%= order_header %>

<h1>Fiche détaillée du dossier</h1>

<div class='presentation_medium'>
	<h2>Avancement global</h2>
  <%= render :partial => 'orders/order_timeline', :object => @order %>

	<h2 id="contacts_section">Contacts</h2>
	<%= display_all_contacts(@order) %>
	
	<h2>Toutes les remarques</h2>
	
	<h2>Tous les documents</h2>
</div>
