<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_add_button("Ajouter une fiche de poste")%>
  <%= show_view_button(@job,"Voir cette fiche de poste")%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
  <%= link_to "Liste des fiches de poste",jobs_path%>
<% end %>

<h1>Modification de la fiche de poste</h1>

<%= render :partial => @job, :object => @job, :locals =>{:submit_button_name => "Modifier"}%>
