<% add_contextual_menu_item :possible_actions do %>
  <%= new_job_link(:link_text => "Nouvelle fiche de poste") %>
<% end %>

<h1><%= title_for_search %></h1><!--Tous les employ&eacute;s--> 

<div>
  <%= table_for_search %>
</div>
