<% add_contextual_menu_item :possible_actions do %>
  <%= new_job_link(:link_text => "Nouvelle fiche de poste") %>
<% end %>

<% title_context "Ressources Humaines" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
