<% contextual_menu USEFUL_LINKS do %>
  <%= jobs_link %>
<% end %>

<h1>Ajout d&apos;une fiche de poste</h1>

<%= render :partial => @job, :object => @job, :locals =>{:submit_button_name => "Ajouter"}%>
