div.resources {
  //padding: 0 10px 6px 10px;
  text-align: left;
}

div.resource_group {
  display: block;
  -moz-border-radius: 0 0 10px 10px;
  border: 1px solid #7E98CB;
  padding: 4px;
  margin: 0px 0px 8px 0px;
  text-align: left;
}

div.resource_group.new_records {
  display: block;
  //margin: 0 15px 0 15px;
}

div.resource_group h1 {
  background-color: #afc2ea;
  color: rgb(70,94,142);
  border:0;
  margin: -4px -4px 0 -4px;
  height: auto;
  padding: 3px 0 3px 0;
  text-indent: 7px;
	font-size: 0.9em;
	font-weight: bold;
}

div.resource {
  display: inline-block;
  position: relative;
  border: 1px dashed #ddd;
  margin: 4px;
  padding: 2px;
  vertical-align: top;
}

div.resource:hover {
  border: 1px dashed grey;
}

div.resource .thumb {
  display: inline-block;
  margin: 3px;
  padding: 0;
}

div.resource .thumb img {
  max-height: 100px;
  max-width: 100px;
}

div.resource .details {
  display: inline-block;
  text-align: left;
  vertical-align: top;
//  background-color: #eaeaea;
  margin: 3px 3px 3px 0;
  padding: 0 5px 4px 5px;
  min-width: 300px;
  max-width: 500px;
  min-height: 100px; /* thumb height*/
}

div.resource .details h1 {
  background:inherit;
  color:inherit;
	border:0;
	margin:0;
	padding:0;
  font-size: large;
  font-weight: bold;
	font-variant: inherit;
  text-align:left; 
  text-indent: 0;
}

div.resource .details em {
  color: gray;
  font-style: italic; 
}

div.resource div.preview {
  position: absolute;
}

div.resource img.preview {
  border: 1px solid red;
  margin 0;
  padding: 0;
  left: 0;
}

form div.resource p {
  margin: 0;
  padding: 2px 0 2px 0;
  text-indent: 0;
}

form div.resource p input[type=text],
form div.resource p input[type=password],
form div.resource p input[type=checkbox],
form div.resource p textarea,
form div.resource p select {
  vertical-align:top;
  //width: 220px;
}

div.resource #errorExplanation {
	width: 370px;
}

div.resource #errorExplanation h2 {
	font-size: medium;
  font-weight: bold;
  word-spacing: normal;
  letter-spacing: normal;
}

div.resource #errorExplanation p {
	margin: inherit;
	padding: inherit;
}
