<h1>Gestion de l'entreprise</h1>
<%= link_to "Pagneau de configuration de l'entreprise", :controller => 'society_identity_configuration', :action => 'index' %> <% #TODO A optimiser  %>
| <%= link_to "Gerer les secteurs d'activitée.", activity_sectors_path %>
| <%= link_to "Gerer les services", services_path %>