<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<div class="cadre">
<%= link_to "Panneau de configuration de l'entreprise", :controller => 'society_identity_configuration', :action => 'index' %> <% #TODO A optimiser  %>
| <%= link_to "G&eacute;rer les secteurs d'activit&eacute;s.", society_activity_sectors_path %>
| <%= link_to "G&eacute;rer les services", services_path %>
</div>