<h1>Gestion de l'entreprise</h1>
<%= link_to "Panneau de configuration de l'entreprise", :controller => 'society_identity_configuration', :action => 'index' %> <% #TODO A optimiser  %>
| <%= link_to "G&eacute;rer les secteurs d'activit&eacute;s.", activity_sectors_path %>
| <%= link_to "G&eacute;rer les services", services_path %>