<%
require_locals form
graphic_item = graphic_item_additional_infos
%>

<p>
  <%= form.label :created_at %>
  <%= form.strong(graphic_item.created_at.humanize) if graphic_item.created_at %>
</p>
<p>
  <%= form.label :creator %>
  <%= link_to(graphic_item.creator.employee_name, graphic_item.creator.employee ? employee_path(graphic_item.creator.employee) : user_path(graphic_item.creator)) %>
</p>
