<% invoices = invoices_list %>

<div class="autoscroll">
  <table>
    <thead>
      <tr>
        <th>Réf.</th>
        <th>Émise&nbsp;le</th>
        <th>Type</th>
        <th>Montant&nbsp;total<br/>TTC&nbsp;(&euro;)</th>
        <th>Nb<br/>échéances</th>
        <th>Prochaine échéance</th>
        <th>Montant&nbsp;échéance<br/>TTC&nbsp;(&euro;)</th>
        <th>Envoyée&nbsp;au&nbsp;client&nbsp;le</th>
        <% if @order.customer.factorised? %>
          <th>Règlement&nbsp;Factor</th>
        <% end %>
        <th>Règlement&nbsp;Total</th>
        <th>État</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'invoices/invoice_in_one_line', :collection => invoices %>
    </tbody>
  </table>
</div>
