<% invoices = invoices_list %>

<div class="autoscroll">
  <table>
    <tr>
      <th>Réf.</th>
      <th>Émise&nbsp;le</th>
      <th>Type</th>
      <th>Montant&nbsp;total<br/>TTC&nbsp;(&euro;)</th>
      <th>Prochaine échéance</th>
      <th>Montant&nbsp;échéance<br/>TTC&nbsp;(&euro;)</th>
      <th>Envoyée&nbsp;au&nbsp;client&nbsp;le</th>
      <% if @order.customer.factorised? %>
        <th>Règlement&nbsp;Factor</th>
      <% end %>
      <th>Règlement&nbsp;Total</th>
      <th>État relance</th>
      <th>Actions</th>
    </tr>
    <% for invoice in invoices %>
      <%= render :partial => 'invoices/invoice_in_one_line', :object => invoice %>
    <% end %>
  </table>
</div>
