<% invoices = invoices_list %>

<table>
  <tr>
    <th>Réf.</th>
    <th>Émise le</th>
    <th>Type</th>
    <th>Montant total<br/>TTC (&euro;)</th>
    <th>Prochaine échéance</th>
    <th>Montant échéance<br/>TTC (&euro;)</th>
    <th>Envoyée au client le</th>
    <% if @order.customer.factorised? %>
      <th>Règlement Factor</th>
    <% end %>
    <th>Règlement Total</th>
    <th>État relance</th>
    <th>Actions</th>
  </tr>
  <% for invoice in invoices %>
    <%= render :partial => 'invoices/invoice_in_one_line', :object => invoice %>
  <% end %>
</table>
