<h1>Configurer les permissions</h1>

<div>
  <h2>Les calendriers</h2>
  <ul>
    <% for calendar in @calendars %>
      <li>
        <%= link_to calendar.title || calendar.name, edit_calendar_permission_path(calendar) %>
      </li>	
    <% end %>
  </ul>
</div>
