<%
require_locals form
delivery_intervention = delivery_intervention_outdated
delivery_note = delivery_intervention.delivery_note
order = delivery_note.order
%>

<p>
  <span class="warning">Attention ! L'intervention avait été prévue à une date antérieure à aujourd'hui</span>
</p>
<p>Vous devez soit <%= link_to "signaler la réalisation", order_delivering_step_delivery_step_delivery_note_realize_form_path(order, delivery_note) %> de l'intervention, soit cliquer sur le bouton ci-dessous pour signaler le "report" de cette intervention et en créer une nouvelle.</p>

<p>
  <%= form.hidden_field :postponed, :value => "true" %>
  <%= form.submit "Je souhaite planifier une nouvelle intervention" %>
</p>
