<h1>Nouveau fournisseur</h1>
<div class="frame presentation_medium">
<% form_for(@supplier) do |supplier| %>
  <% @iban = @supplier.iban %>
  <%= supplier.error_messages %>
  <%= render :partial => 'thirds/third', :locals => {:third => supplier, :third_ => @supplier, :activity_sector_name => nil, :iban_ => Iban.new()} %>
  <%= supplier.submit  'Créer' %> 

<% end %>
<%= link_to "Retour a l'accueil", :action => 'index' %>
</div>