<table>
  <tr>
    <th>Titre du lien</th>
    <th>url de la page</th>
    <th>Titre de la page</th>
  </tr>
<% for page in @static_pages%>
  <tr>
    <td><%= page.title_link %></td>
<td><%= page.url %></td>
    <td><%= page.title%></td>
    </tr>
  <% end%>
  
  <%=puts "plouf"%>
</table>