/*	default.css------------------------------------------------------
	----------	..::Par Oxydium::..

Création : Juillet/Octobre 2008
---------
Description : feuille de style de la page d'index par default [Osirails] contenant la mise
en forme du site (menus, en-têtes, pied de page...). design Osirails
---------------------------------------------------------------------
				..::Powered by Oxydium::..
creation : July/October 2008
---------
Description: stylesheet of the default's index page [Osirails] containing the layout's site 
(menus, headers, footers ...).
--------------------------------------------------------------------*/
/*
div {
	border: solid 1px black; 
}
*/										/*--------------------------------------*/
html { 									/* Table of proportionality em => px	*/
	font-size:100%; /*Equal to 16px*/	/* Initialization : 100% = 16px = 1em	*/
}										/* So : 1.2em = 19.2px		=> 120%		*/
										/* 		0.9em = 14.4px		=> 90%		*/
html, body { 							/*		0.8em = 12.8px		=> 80%		*/
	margin: 0;							/*--------------------------------------*/
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: helvetica, Arial, sans-serif;
	cursor: default;
	min-width: 1250px;
	color:#333;
}

body {
	font-size:0.8em;
}

#all_page { /*<==TO EXPAND THE CORE MENU*/
	background:#DDD;
	border-left:solid 1px white;
}

a {
	text-decoration:underline;
}

a:hover {
	color:#558800;
	cursor:pointer;
}

a, strong {
	color:#86CE00;
	font-weight:lighter;
}

a>img {
	border:none;
}

/*:::::::::TABLE:::::::::*/
caption {
}

table {
	border-collapse:collapse;
	border:solid 1px #aeaeae;
	margin:5px 0 5px 0;
	width:100%;
}

table a {
}

table a:hover {
}

table th {
	background:#eaeaea;
}

table th,
table td{
	padding:3px 5px 3px 5px;
	border:solid 1px #aeaeae;
}

table td{
	text-align:center;
}

table img {
	vertical-align:middle;
}

tr:hover > td {
	background:#CF9;
	color:#555;
}

tr:hover > td > a {
}

/*/////////////////////////////
			TITLE
/////////////////////////////*/

h1 {
	font-size:2em;
	color:#252525;
	text-indent:2px;
	background:url("/themes/osirails-green/images/icon_h1a.png") no-repeat 5px 6px;
	text-indent:25px;
}

h2 {
	font-weight:lighter;
	text-transform:uppercase;
	color: #558800;
	background:url("/themes/osirails-green/images/shadow_h2.jpg") repeat-x 0 28px;
	margin:0 -5px 0 -5px;
	padding:0;
	font-size:1.6em;
	text-indent:9px;
	padding-top:1px;
	padding-bottom:2px;
	height:35px;
}

h3 {
	border-bottom:dashed 1px #ccc;
	text-indent:17px;
	font-size:1.4em;
	color:#86CE00;
	font-weight:lighter;
	margin:10px -5px 10px -5px;
}

h2+h3{
	margin-top:0;
}

h3:after {
	content:" : ";
}

h6 {
/*useless in this design*/
}


p {
	margin:0;
	padding:0;
}
/*/////////////END OF GENERICS TAGS////////////////////*/
/*/////////////////////////////////////////////////////
					BANNER
////////////////////////////////////////////////////*/
#banner {
	width:auto;
	height:75px;
	border-bottom:solid 9px #86CE00;/*#71D800;*/
}

#logo {
	background: url("/themes/osirails-green/images/banner_logo.jpg");
	float: left;
	width: 347px;
	height: 75px;
}

#welcome_message {
	position:absolute;
	right:10px;
	top:12px;
	color:#558800;
	font-weight:lighter;
	background:url("/themes/osirails-green/images/avatar.png") no-repeat;
	height:25px;
	padding-left:25px;
	line-height:28px;
}

#background_banner {
	background: url("/themes/osirails-green/images/banner_repeat-x.jpg");
	width: auto;
	height: 75px;
	margin-left:347px;
}

/*/////////////////////////////////////////////////////
				BANNER > BUTTONS
////////////////////////////////////////////////////*/

#block_button_banner {
	float:right;
	margin-top:55px;
}

#banner_datetime {
	position:absolute;
	top:55px;
	left:350px;
	color: #333;
}

a.button_banner {
	text-decoration:none;
	color:#444;
	font-family: arial, verdana, sans-serif;
	background: #CCC;
	-moz-border-radius:7px 7px 0 0;
	margin: 0 0 0 5px;
	padding:5px 8px 2px 8px;
	text-align:center;
	font-size:1.2em;
	text-transform:uppercase;
}

a:link.button_banner,
a:visited.button_banner,
a:active.button_banner {
/*useless in this design*/
}

a.button_banner span {
/*useless in this design*/
}

a.button_banner:hover {
	color:black;
	background: #86CE00;
}

a.button_banner:hover span {
 /*useless in this design*/
}

#button_on_banner {
 /*useless in this design*/
}

/*/////////////////////////////////////////////////////
					UNDER-BANNER
////////////////////////////////////////////////////*/

#under_banner {
	background:#9CD622;
	color:white;
	padding:5px;
	min-height: 40px;
	margin:0;
}

#text_under_banner {
	width:93%;
	height:30px;
	overflow:hidden;
	font-size:1.1em;
	margin-top:5px;
}

#text_under_banner strong {
	color:#252525;
}

#block_button_under_banner {
	width:auto;
	position:absolute;
	top:99px;
	right:10px;
}

#previous,
#previous:hover,
#next,
#next:hover {
	background: url("/themes/osirails-green/images/arrows.png") no-repeat;
	width:15px;
	height:17px;
	border:none;
}

#previous {
	background-position:0 0;	
}

#previous:hover {
	background-position:0 -17px;
	cursor:pointer;
}

#next {
	background-position:-15px 0;
}

#next:hover {
	background-position:-15px -17px;
	cursor:pointer;
}

.number {
	color:black;
}

.memorandum_date{

}

.memorandum_title {

}

#under_banner strong {

}

#not_employee_reference {

}

/*////////////////////////////////////////////////////////
					BODY OF THE WEBSITE
////////////////////////////////////////////////////////*/
/*REGROUPS THE WHOLE OF THE WEBSITE WITH THE EXCEPTION 
					OF BANNERS							*/
#block_body {

}

/*/////////////////////////////////////////////////////
			BODY OF THE WEBSITE > CORE MENU
////////////////////////////////////////////////////*/
#menu {
	display:block;
	float:left;
	background:#D5D5D5;
	margin:0;
	padding:0;
	width:203px;
}

#menu ul {
	margin:0;
	padding:0;
	display:block;
	height:100%;
}

#menu ul li {
	border-top:solid 1px white;
	border-bottom:solid 1px #9C9C9C;
	background: #DDD url("/themes/osirails-green/images/background_core_menu.jpg") repeat-x;
}

#menu ul li:hover,
#menu ul li.selected {
	background: #86CE00 url("/themes/osirails-green/images/background_core_menu_hover.jpg") repeat-x;
	cursor:pointer;
}

#menu ul li a {
	display:block;
	text-decoration:none;
	color:#535353;
	font-size:1.1em;
	padding:12px 10px 8px 32px;
	line-height:21px;
	cursor:pointer;
	background:url("/themes/osirails-green/images/arrow_list_unselected.png") no-repeat 6px 14px;
}

#menu ul li a:hover,
#menu ul li.selected a {
	color:black;
	background:url("/themes/osirails-green/images/arrow_list_selected.png") no-repeat 4px 10px;
}

#menu ul li a:active {
	color:white;
}

/*/////////////////////////////////////////////////////
			BODY OF THE WEBSITE > PAGE OF WEBSITE
////////////////////////////////////////////////////*/
#page {

}

/*/////////////////////////////////////////////////////////
	BODY OF THE WEBSITE > PAGE OF WEBSITE > SECONDARY-MENU
/////////////////////////////////////////////////////////*/
#secondary_menu {
	position:absolute;
	top:169px;
	right:6px;
/*	right:-206px; For hide the menu*/
	margin-left:10px;
	border: 1px solid #A4D671;
	-moz-border-radius: 10px 0 0 10px;
	background: white;
	width: 200px;
	text-indent:0px;
	font-size:0.8em;
	z-index:1;
}
/*						...:::|> Not operational yet <|:::...			*/
.hidden_secondary_menu,
.shown_secondary_menu {
/*	text-align:right;
	white-space:nowrap;*/
	display:none; /*To escape some errors*/
}

/*						...:::|> Not operational yet <|:::...
.hidden_secondary_menu #status_background_secondary_menu,
.shown_secondary_menu #status_background_secondary_menu {
	background: url("/themes/osirails-green/images/base_hidden-shown_secondary_menu.png") no-repeat 27px 6px;
	width:6px;
	height:45px;
//	border:solid red 1px;
	position:relative;
	right:37px;
	top:35px;
	color:#86CE00;
}
*/
/*						...:::|> Not operational yet <|:::...
.hidden_secondary_menu #status_background_secondary_menu:hover,
.shown_secondary_menu #status_background_secondary_menu:hover {
	width:auto;
	cursor:pointer;
	float:left;
}
*/
/*						...:::|> Not operational yet <|:::...
.shown_secondary_menu span:hover,
.hidden_secondary_menu span:hover {
	
}
						...:::|> Not operational yet <|:::...
.shown_secondary_menu span,
.hidden_secondary_menu span {
	background:url("/themes/osirails-green/images/background_hidden-shown_secondary_menu.png") no-repeat top left;
	padding-top:14px;
	padding-bottom:12px;
	padding-left:20px;
	padding-right:10px;	
	max-width:205px;
	float:left;
	font-size:1.1em;
	overflow:hidden;
	border:solid 1px red;
}

.hidden_secondary_menu span {
//	display:none; Temporary
}
*/
#shadow_secondary_menu {
 /*useless in this design*/
}
/*						...:::|> Not operational yet <|:::...
#content_secondary_menu {
	clear:both;
	position:relative;
	bottom:26px;
	margin-bottom:-26px;
}
*/
#content_secondary_menu h1 {
	font-size:1.3em;
	font-family:arial, sans-serif;
	font-weight:lighter;
	margin:0;
	padding:6px 0 6px 0;
	text-indent:0;
	text-align:center;
	background: #86CE00 url("/themes/osirails-green/images/background_secondary_menu_header.jpg") repeat-x;
	border-top:solid 1px #C7E39A;
	border-bottom:solid 1px #A6D42C;
	line-height:15px;
	text-transform:capitalize;
}

#content_secondary_menu h1:before {
	content:"..:: ";
}

#content_secondary_menu h1:after {
	content:" ::..";
}

#content_secondary_menu h1>a {
	text-decoration:none;
	cursor:pointer;
}

#content_secondary_menu h1:first-child {
	-moz-border-radius:7px 0 0 0;
	border-top:none;
}

#search {

}

#content_secondary_menu ul {
	list-style-type:none;
	padding:0;
	margin:10px;
	font-size:1.2em;
}

#content_secondary_menu ul li {
	margin-top:15px;
	margin-bottom:15px;
}

#content_secondary_menu ul li a {
	text-decoration:none;
	color:#252525;
}

#content_secondary_menu ul li a:hover {
	color:#558800;
}

ul.center_list {
	text-align:center;
	text-indent:0;
}

ul.center_list li {
	padding-left:6px;
}

.secondary_menu_statistic {

}

#content_secondary_menu a:hover {

}

#content_secondary_menu ul li a img {
	position:relative;
	top:2px;
}

#content_secondary_menu p {
	margin-left:10px;
	margin-right:10px;
	text-align:justify;
}

#footer_secondary_menu { 
	display:none;
}

#secondary_menu input[type=text] {
	margin:8px 2px 6px 15px;
	border:solid 1px #252525;
	font-family:sans-serif;
	font-size:0.9em;
	color:#444;
	width:16em;
	padding-top:3px;
}

button.contextual_search_button {/*button in the input type text [secondary_menu]*/
	background:url("/images/view_12x12.png");
	position:relative;
	right:20px;
	bottom:3px;
	border:none;
	width:12px;
	height:12px;
}

button.contextual_search_button:hover {
	cursor:pointer;
}

#input_search {
	
}

#input_search:focus {
	color:black !important;
}

.help {
	text-align:right;
	position:relative;
	left:73px;
	bottom:6px;
	font-size:0.9em;
}

.gray_color {

}

.blue_color {
	color:#444;
}

#secondary_menu a.default-button {

}

/*////////////////////////////////////////////////////////////////////////////////////////*/
/*::::::::::::::::::::::::::::::::DEFAULT BUTTONS:::::::::::::::::::::::::::::::::::::::::*/
a.default-button {           
                             
}							 
							 
a.default-button span { 	 
							 
}							 
							 
a.default-button:hover { 	 
							 
}							 
							 
a.default-button:hover span {
							 
}	 						 
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
button.input-button { 			
								
}								
								
button.input-button span { 		
	                            
}								
								
button.input-button:hover { 	
	
}								
								
button.input-button:hover span {
}								
/*:::::::::::::::::::::::::::::::BUTTON PREVIOUS-NEXT:::::::::::::::::::::::::::::::::::::*/
a.next-button,
a.previous-button {

}

a.next-button span,
a.previous-button span {

}

a.next-button span:after {
	content:" >";
}

a.previous-button span:before {
	content:"< ";
}

a.next-button:hover,
a.previous-button:hover { 															 

}

a.next-button:hover span,
a.previous-button:hover span {						

}	 		

/*//////////////////////////////////////////////////////////
BODY OF WEBSITE > PAGE OF WEBSITE > CONTENT OF THE PAGE
//////////////////////////////////////////////////////////*/
#content_page {
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
	margin-left:203px;
	border:solid 1px white;
	background:white url("/themes/osirails-green/images/background_content_page.gif") repeat-x 0 41px;
	min-height:600px;
}

/*//////////////////////////////////////////////////////////////////
CORPS DU SITE > PAGE DU SITE > CONTENU DE LA PAGE > MENU HORIZONTAL
//////////////////////////////////////////////////////////////////*/
#horizontal_menu {
	border-bottom:solid 1px white;
	height:auto; /*42px*//*3.3em*/
	background:#CCFF99;
	padding:0px 5px 0px 5px;
	width:auto;
}

#horizontal_menu a {
	display:inline-block;
	vertical-align:middle;
	margin:0px 5px 0px 5px;
	padding:7px;
	text-decoration:none;
	position:relative;
	bottom:1px;
	line-height:30px;
}

#horizontal_menu a span.selected,
#horizontal_menu a span.selected:hover {
	border:solid 1px #7FD300;
	background:url("/themes/osirails-green/images/background_selected_horizontal_menu.jpg") repeat-x;
	color:black;
}

#horizontal_menu a span {
	border:solid 1px #A9BF82;
	padding:7px 10px 7px 10px;
	margin-left:-8px;
	margin-right:-12px;
	background: #E9F3D1 url("/themes/osirails-green/images/background_unselected_horizontal_menu.jpg") repeat-x;
	color:#819F4C;
	white-space:nowrap;
}

#menu_horizontal_first {

}

#horizontal_menu a span:hover {
	background: #C6E16E url("/themes/osirails-green/images/background_hover_horizontal_menu.jpg") repeat-x;
	color:#68B200;
	border:solid 1px #8DD20A;
}

#empty {
	display:none;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\			::::::::INATIVE MESSAGE::::::::				  /!\
/!\			::::::::[ERREUR/SIGNAL]::::::::				  /!\
/!\/!\/!\/!\/!\/!\/!/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/

/*/!\/!\/!\/!\/!\/!\::::::::ERROR:::::::/!\/!\/!\/!\/!\/!\*/
.flash_error {
	background: url("/images/cross_16x16.png") no-repeat;
	color: #B0383D;
}

/*/!\/!\/!\/!\/!\:::::::NOTICE:::::::/!\/!\/!\/!\/!\*/
.flash_notice {
	background: url("/images/tick_16x16.png") no-repeat;
	color: green;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\:::::::CONFIG IN COMMON : ERROR & NOTICE:::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.flash_container {
	background:#eaeaea;
	border: solid 1px #aeaeae;
	text-align:center;
	line-height:10px;
	height:auto;
	padding:10px 20px 10px 20px;
	text-indent:0px;
	font-family: "courier new", sans-serif;
	margin:5px;
}

.flash_container ul {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

.flash_container ul li {
	text-align:left;
}

.flash_container span span,
.flash_container span span {
	margin-left:20px;
	line-height:20px;
}

.flash_error,
.flash_notice {
	background-position:center left;
	width:9px;
	height:9px;
}


/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\::::::::::::::::GENERAL ERRORS:::::::::::::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.fieldWithErrors input,
.fieldWithErrors select {
	border:solid 2px #CC0033 !important;
	color:#CC0033;
	margin-left: 10px;
	vertical-align:top;
}

div.fieldWithErrors {
	display:inline;
}

div.fieldWithErrors label {
	color:#CC0033 !important;
	margin-left:5px;
	text-align:right;
	position:relative;
	left:10px;	
}

#errorExplanation {
	border:solid 1px #CC0033;
	-moz-border-radius:7px 0 7px 0;
	background:#FFFAFA;
	margin: 5px 0 20px 5px;
	width:530px;
}

#errorExplanation ul li,
.errorExplanation ul li {
	background: url("/themes/osirails-green/images/warning_14x14.png") no-repeat 0 2px;
	list-style-type:none;
	text-indent:25px;
	margin:3px 3px 7px 0px;
	color:#333;
	font-weight:bold;
}

#errorExplanation ul,
.errorExplanation ul {
	padding-left: 30px;
}


#errorExplanation > h2,
.errorExplanation > h2 {
	-moz-border-radius:9px 0 0 0;
	border-top:solid 1px white;
	border-right:solid 1px white;
	border-bottom:solid 1px #CC0033;
	color:#CC0033;
	text-align:left;
	text-indent:0;
	background:inherit;
	background-color:#FFCCCC;
	padding:10px 0 0 0;
	margin:0 0 10px 0;
	text-align:center;
}

#errorExplanation p,
.errorExplanation p {
	margin:0;
	padding:0 0 0 5px;
	text-indent:0;
}


/*/////////////////////////////
		FRAME & CONTENT
/////////////////////////////*/

p+h2,
img+h2 {
	margin-top:20px;
}

table.presentation {

}

table.presentation a {

}

table.presentation a:hover {

}

table.presentation tr td{

}

td.left_cell {

}

td.right_cell {

}

table.presentation tr:hover > td{

}

/*::::::::::::TABLE "COMMODITY"::::::::::::*/

table.commodity {

}

table.commodity th {

}


table.commodity td {

} 

table.commodity img[title="Enrouler"] + span,
table.commodity img[title="Dérouler"] + span {
	text-align:left;
}

.commodity tr.disable > td {

}

.commodity tr.enable > td {

}

.commodity td.sub_commodity_category {

}

.commodity td.commodity_category {

}

tr.current_inventory {

}

/*:::::::::TABLE WITHOUT STYLE:::::::::*/
caption.no-style {

}

table.no-style {

}

table.no-style a {

}

table.no-style a:hover {

}

table.no-style th{

}

table.no-style td{

}

table.no-style tr:hover > td{

}

table.no-style tr:hover > td > a {

}

/*/////////////////////////////
		IN_PLACE_EDITOR
/////////////////////////////*/

.inplaceeditor-form input {

}

/* SUBMIT BUTTON */
.editor_ok_button {

}

/* a (LINKS) */
.editor_cancel {

}

.editor_cancel span {

}

.frame {
	border:solid 1px #BEBEBE;
	-moz-border-radius:15px 0 15px 0;
	margin:5px 10px 15px 10px;
	padding:5px;
	background:white;
}

.frame p {
	padding: 2px 0 2px 0;
	text-indent:15px;
}

/*/////////////////////////////
			FORM
/////////////////////////////*/
/*///////////////////////*/
/*// FIELDSET & LEGEND //*/
.frame fieldset {

}

.frame fieldset legend {

}

.alignment {

}

.date_days {

}

.frame form p textarea {

}

.frame form p select {

}

.frame form p input:focus,
.frame form p textarea:focus {

}

/*LAYOUTS' FORM*/
.frame.presentation_small label,
.frame.presentation_medium label,
.frame.presentation_large label {
	display:inline-block;
	text-align:left;
	color:#333;
	text-indent:0;
	text-align:right;
	padding-right:3px;
}

.frame.presentation_small label {
	width:150px;
}

.frame.presentation_medium label {
	width:200px;
}

.frame.presentation_large label {
	width:250px;
}

.frame label {
	width:auto;
}

.frame.presentation_small strong,
.frame.presentation_medium strong,
.frame.presentation_large strong {
	vertical-align:top;
}

.frame form p input[type=text],
.frame form p input[type=password],
.frame form p input[type=checkbox],
.frame form p textarea {
	border:solid 1px #BEBEBE;
	color:#669900;
}

.frame form p select {
	color:#669900;
}

.frame strong {

}

.scroll_checkboxes { 

}

.scroll_checkboxes p {

}

.scroll_checkboxes ul {

}

.scroll_checkboxes ul li {

}

fieldset.no-style {

}

fieldset.no-style legend {

}

/*/////////////////LIST:HIERARCHICAL/////////////////*/
.hierarchic {
	margin-left:10px;
}

li.category_enable {
	color:#40445D !important;
}

li.category_disable {
	color:#aeaeae !important;
	font-style:italic;
}

li.reference_enable {
	color:#87CE8E !important;
}

li.reference_disable {
	font-style:italic;
	color:#aeaeae !important;
}

.hierarchic ul {
border-left:1px solid #669900;
line-height:28px;
}

ul.parent {
	border-left:none;
}

ul.parent>li {
	list-style-image:none !important;
	list-style-type:none;
}

.hierarchic ul li {
	color:#333;
	border-left:solid 1px #669900;
	border-bottom:solid 1px #669900;
	margin-bottom:-1px;
	margin-right:278px;
	height:25px;
	text-indent:5px;
	background-position:0 0;
	margin-left:-20px;
	list-style-image:url("/themes/osirails-green/images/hierarchical_bullet.gif");	
}

.hierarchic ul li:hover {
	background:#CF9;
}

.hierarchic ul li span{
	position:absolute;
	right:300px;
}

.hierarchic ul li a {
	color:#444;
	text-decoration:none;
}
/*
.hierarchic ul li a:hover {
	text-decoration: underline;
	color:#EA972D;
}
*/
.hierarchic ul li a>img {
	position:relative;
	top:2px;
}

.hierarchic ul li span>img {
	position:relative;
	top:2px;
}

.hierarchic img {
	margin-left:3px;
	margin-right:3px;
}
/*/////////////////TABS/////////////////*/
.frame.tabulation {
	margin-top:44px;
}

.frame.tabulation>h1 {
	background:inherit;
	margin:0 0 5px 0;
	text-indent:0;
	text-align:center;
}

.frame.tabulation>h2,
.frame.tabulation>form>h2 {
//	background:#FFBC5E;
//	color:white;
//	text-align:left;
//	margin-bottom:0px;
//	margin-top:-1px;
//	border:white 1px solid;
//	height:24px;
//	line-height:24px;
//	font-size:1.15em;
}

.frame.tabulation>form>h2 {
	border-top:#FFBC5E;
	height:25px;
	line-height:25px;
	margin-top:0;
}

.frame.tabulation>h3 {
//	background:#FFD191;
//	color:white;
//	border:white solid 1px;
}

div.tabs ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

div.tabs ul li {
	float: left;
	margin-left: 1px;
	background: url("/themes/osirails-green/images/background_tabs.png") repeat-x 0 -7px;
	height:22px;
	line-height:0px;
	cursor:pointer;
	border-right:solid 1px #BEBEBE;
	border-left:solid 1px #BEBEBE;
	border-top:solid 1px #BEBEBE;
	position:relative;
	top:5px;
	left:30px;
	padding:0 10px 0 10px;
	-moz-border-radius:9px 9px 0 0;
}

div.tabs ul li.selected {
	background-position:bottom;
	border-bottom:none;
	border-right:solid 1px #BEBEBE;
	border-left:solid 1px #BEBEBE;
	height:30px;
	line-height:10px;
	position:relative;
	top:-3px;
}

div.tabs ul li a {
	float: left;
	display: block;
	text-align: center;
	color: #000;
	font-size: 11px;
	padding: 12px 0px 0 0px;
	font-weight: bold;
	text-decoration:none;
	font-weight: lighter;
}

div.tabs ul li a:hover {
	text-decoration:underline;
}

#catalog {

}

#catalog table {

}

#catalog h2 {

}

select.select_catalog {

}

select.catalog_3_columns {

}

/*/////////////////STEPS/////////////////*/
.ring_terminated,
.ring_in_progress,
.ring_unstarted,
.ring_uncomplete,
.feet_finish,
.feet_in_progress,
.feet_disable,
#technical_visit,
#survey,
#graphic_conception,
#estimate,
#sending_estimate,
#validation {

}

.ring_terminated,
.ring_in_progress,
.ring_uncomplete,
.ring_unstarted {
	width:67px;
	height:67px;
	cursor:pointer;
}

.feet_finish,
.feet_in_progress,
.feet_disable,
#technical_visit,
#survey,
#graphic_conception,
#estimate,
#sending_estimate,
#validation {
	width:48px;
	height:48px;
}

.feet_finish,
.feet_in_progress,
.feet_disable {
	position:relative;
	bottom:15px;
	padding:0 0px 0 20px;
}

.ring_uncomplete {
	background-position:-201px -96px;
}

.ring_terminated {
	background-position:-134px -96px;
}

.ring_in_progress {
	background-position:-67px -96px;
}

.ring_unstarted {
	background-position:0 -96px;
}

.feet_finish {
	background-position:-288px -96px;
}

.feet_in_progress {
	background-position:-288px -48px;
}

.feet_disable {
	background-position:-288px 0;
}

#technical_visit {
	background-position:0 -48px;
}

#survey {
	background-position:-48px -48px;
}

#graphic_conception {
	background-position:-96px -48px;
}

#estimate {
	background-position:-144px -48px;
}

#sending_estimate {
	background-position:-192px -48px;
}
	
#validation {
	background-position:-240px -48px;
}

#technical_visit:hover {
	background-position:0 0;
}

#survey:hover {
	background-position:-48px 0;
}

#graphic_conception:hover {
	background-position:-96px 0;
}

#estimate:hover {
	background-position:-144px 0;
}

#sending_estimate:hover {
	background-position:-192px 0;
}
	
#validation:hover {
	background-position:-240px 0;
}

#steps span {
	display:none;
}

#steps div {
	display:inline-block;

}

#steps div.ring_terminated,
#steps div.ring_in_progress,
#steps div.ring_uncomplete,
#steps div.ring_unstarted {
	margin:10px 19px 0px -4px;
}

#technical_visit,
#survey,
#graphic_conception,
#estimate,
#sending_estimate,
#validation,
.feet_finish,
.feet_in_progress,
.feet_disable {
	margin:9px 0px 9px 9px;
}


div.steps_text p {
	text-align: center;
	width:100px;
	margin:0 0 0 -16px;
	padding:0;
	text-indent:0px;
	// font-size:0.8em;
	text-align:center;
}

#steps div.selected {
	background:#DBE2F0;
	-moz-border-radius:8px;
	padding-bottom:10px;
}

#steps div.selected p {
	font-weight:bold;
}

#steps {
	margin-left:10px;
}


#steps a {
	text-decoration:none;
	color:#444;
}

div.frame>#steps {

}

/*////////////BROWSING PAGE////////////*/
.browsing_page {
	
}

.browsing_page a.disable,
.browsing_page a.disable:hover {

}

.browsing_page a.selected {

}

.browsing_page a {
	
}

.browsing_page span a {

}

.browsing_page span a:hover {

}

.browsing_page p {

}
/*/////////////////TIMELINE/////////////////*/
#timeline {

}

#timeline div {

}

#timeline_head,
.timeline_body,
#timeline_footer {

}

.timeline_body.good,
#timeline_head.good {

}

#timeline_head.good .timeline_notice {

}

.timeline_body.good .timeline_notice {

}

.timeline_body.bad .timeline_notice {

}

#timeline_head .timeline_date {

}

.timeline_body.bad {

}

.timeline_date {

}

.timeline_notice {

}

.timeline_body .timeline_date {

}

.timeline_body {

}

#timeline_footer {

}
/*/////////////////DOCUMENT VIEW/////////////////*/

.document_view {
	border:1px solid #ccc;
	-moz-border-radius:7px 0 7px 0;
	margin:10px 0.1% 10px 0.4%;
	background:#eaeaea;
	text-indent:0;
	text-align:left;
	display:inline-block;
	vertical-align:top;
}

.document_view.half {
	width:49%;
}

.document_view h1 {
	background:inherit;
	color:inherit;
	border:0;
	margin:5px 0 1px 0;
	padding:0;
	text-align:center;
	font-size:1.5em;
	text-transform:uppercase;
}

.document_view_content {
	width:237px;
	display:inline-block;
	margin:3px;
	border:dashed 1px #ccc;
	background:#fafafa;
	-moz-border-radius:4px 0 4px 0;
}

.document_view_content:hover {
	border:dashed 1px #ccc;
	background:#cf9;
	-moz-border-radius:4px 0 4px 0;
	cursor:pointer;
	border:dashed 1px white;
}

.document_view_content img {
	width:75px;
	height:75px;
	margin: 4px 0 4px 2px;
}

.document_view_content p {
	vertical-align:top;
	width:150px;
	height:67px;
	overflow:hidden;
	text-indent:0;
	font-size:0.8em;
	padding:5px;
	text-align:left;
	margin-left:79px;
	margin-top:-80px;
}

.document_view_content strong {
	font-weight:bold;
	color:#333;
	font-size:1.05em;
	text-decoration:underline;
}
/*/////////////////HUMAN RESSOURCES/////////////////*/
td[title="Détails"] img,
td[title="Modifier"] img {

}

.frame table + p a img {

}

/*/////////////////OTHER/////////////////*/

.link_to_closed {

}

.link_to_closed:hover {

}

object {

}

#test {
	background:black;
	padding:10px;
}

.formated_content * {

}

.formated_content hr {
	border-top:1px solid #ABDD46;
	border-bottom:1px solid #86CE00;
	border-left:none;
	border-right:none;
}

.formated_content strong {

}

table .new_memorandum {

}

table .old_memorandum {

}

table .not_published_memorandum {

}

/*/////////////////////////////////////////////////////
					FOOTER
////////////////////////////////////////////////////*/

#bottom_core_menu {
 /*useless in this design*/
}

#footer_page {
	background:#9C9C9C;
	margin:0;
	padding:1px;
	text-align:center;
	color:white;
	font-size:0.8em;
	border-top:1px solid white;
	border-right:1px solid white;
	clear:both;
}

#footer_page p {
	margin-top:0.9em;
	margin-bottom:0.9em;
}

#footer {

}

#footer_content {

}

#footer_page span {
	color:#333;
}

.bottom_icons {
	margin-top:5px;
	margin-bottom:-5px;
	border:none;
}