/*	login.css--------------------------------------------------------
	----------	::Par Oxydium::.

Création : Juillet/Octobre 2008
---------
Description : feuille de style de la page de login permettant à tout
utilisateur référencer de se logger dans l'intranet Osirails.
---------------------------------------------------------------------
				::Powered by Oxydium::
creation : July/October 2008
---------
Description: stylesheet of the login page that allow any
known user to log into the Osirails' intranet.
--------------------------------------------------------------------*/
* { 
	margin: 0; padding: 0;
}

body {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	min-width:500px;
}

a {
	color: #5F792A;
	font-size: 70%;
}

form {
	font-weight: bold;
}

a:hover {
	color: #252525;
}

.fieldWithErrors label {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	color:#B0383D;
	text-align:left;
	width:171px;
	position:relative;
	right:40px;
}

.fieldWithErrors input[type=text],
.fieldWithErrors input[type=password] {
	background: url("/themes/osirails-green/images/login/input_text.png") no-repeat bottom;
}

#errorExplanation p {
	width:350px ;
	text-align:center;
	margin-top:10px;
}

h2 {
	color:#5F792A;
}

strong {
	color: #888;
	font-weight:lighter;
}

abbr {
	cursor:;
}

p {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	color:#333;
	text-align:left;
	width:171px;
}

p.message {
	width:320px;
	text-align:justify;
	margin-left:15px;
}

input[type=text],
input[type=password] {
	color: #4D6A14;
	background: url("/themes/osirails-green/images/login/input_text.png") no-repeat;
	border: none;
	width: 169px;/*171*/
	height: 22px;
	padding-top:5px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-left:2px;
}

h1 {
	margin-top:146px;
	color: #5F792A;
	font-weight: lighter;
	font-size:1.4em;
	text-align:center;
	width:700px;
	margin-left:auto;
	margin-right:auto;
}
/*/////////////////////////////////////////////////////
					BANNIERE
////////////////////////////////////////////////////*/
/*#banner {
	width: auto;
	height: 75px;
}

#logo {
	background-image: url("/themes/osirails-green/images/login/banner_logo.jpg");
	float: left;
	width: 347px;
	height: 75px;
}

#under_banner {
	background-image: url("/themes/osirails-green/images/login/banner_repeat-x.jpg");
	width: auto;
	height: 75px;
	margin-left: 330px;
}*/
/*/////////////////////////////////////////////////////
					LOGIN CADRE
////////////////////////////////////////////////////*/

#login_content {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:351px;
	background:#eaeaea url("/themes/osirails-green/images/login/logo.png") -50px 0 no-repeat;
	-moz-border-radius:5px;
	height:auto;
	margin-top:10px;
	padding-top:15px;
	border:1px solid #ccc;
}

span a,
div {
//	border:1px solid black;
}

span a {
//	width:171px;
	float:right;
	margin-right:3px;
	position:relative;
	bottom:13px;
}

a { /*Pour le msg d'erreur*/
//	width:171px;
	float:right;
//	margin-right:3px;
	position:relative;
	bottom:13px;
	
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\		::::::MESSAGE INFORMATIF:::::::			  /!\
/!\		::::::::[ERREUR/SIGNAL]::::::::			  /!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/

/*/!\/!\/!\/!\/!\::::::::ERROR:::::::/!\/!\/!\/!\/!\*/
.flash_error {
	border: solid 1px #cacaca;
	background:#ddd url("/themes/osirails-green/images/cross_16x16.png") no-repeat;
	color: red;
	padding: 10px 10px 10px 5px;
}

/*/!\/!\/!\/!\/!\:::::::SIGNAL:::::::/!\/!\/!\/!\/!\*/
.flash_notice {
	border: solid 1px #cacaca;
	background:#ddd url("/themes/osirails-green/images/tick_16x16.png") no-repeat;
	color: green;
	padding: 10px 10px 10px 5px;
}

/*/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\
/!\:::::::Config en commun : ERROR & SIGNAL:::::::/!\
/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\/!\*/
.flash_container {
//	background:#C7C7C7;
//	border: solid 1px #E4E4E4;
	text-align:center;
	line-height:10px;
	height:auto;
	padding:10px 20px 10px 20px;
	width:auto;
	text-indent:0px;
	font-family: "courier new", sans-serif;
	font-size:14px;
	position:relative;
	top:80px;
}

.flash_container span span,
.flash_container span span {
	margin-left:20px;
	line-height:20px;
}

.flash_error,
.flash_notice {
	background-position:center left;
	width:9px;
	height:9px;
}

/**/
#login_content.error_login_content #errorExplanation,
#login_content.error_login_content .errorExplanation {
	margin-top:-40px;
	margin-bottom:10px;
	color:white;
	padding:0;
	background:#F1BD73;
	-moz-border-radius:3px 3px 0 0;
}
#errorExplanation ul li,
.errorExplanation ul li {
	position:relative;
	bottom:15px;
	background: url("/themes/osirails-green/images/warning_14x14.png") no-repeat 0px 0;
	list-style-type:none;
	width:300px;
	margin-left:30px;
	text-indent:13tabspx;
}


/**/
/*////////////////////////////////////////////////////////////////////////////////////////*/
button.input-button { 																	/**/
	background: #A1C536;
	-moz-border-radius:2px;
	border:solid 1px #446227;
	font-family: arial, verdana, sans-serif;											/**/
	font-size:0.85em;																		/**/
	height: 25px;
	color:white;
	min-width:70px;																		/**/
	margin-top:0px;																		/**/
	margin-bottom:15px;																	/**/
	margin-right:auto;																	/**/
	margin-left:auto;																	/**/
	position:relative;																	/**/
	bottom:10px;																		/**/
}
button.input-button span {
	background:#79A222;
	padding:5px 10px 4px 10px;
	margin-left:-3px;
	margin-right:-3px;
	}																						/**/
button.input-button:hover { 												           	 /**/
	background: #eaeaea;
	cursor:pointer;	/**/
}																					    /**/
/*////////////////////////////////////////////////////////////////////////////////////////*/
