<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
		<link rel="stylesheet" media="screen" type="text/css" title="Design" href="/stylesheets/default.css"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>
<div id="all_page">
									<!-- BANNIERE -->
		<div id="banniere">
			<div id="logo"> 
				<span id="msg_accueil">Bonjour, Mathieu Fontaine</span>
			</div>	
			<div id="banniere_fond">
				<div id="boutons">
					<div id="button_on_banner">
						<a class="button_banner" href="rechercher/rechercher.html">
							<span>Rechercher</span>
						</a>
						<a class="button_banner" href="rechercher/rechercher.html">
							<span>Se déconnecter</span>
						</a>
						<a class="button_banner" href="rechercher/rechercher.html">
							<span>Ma page d'accueil</span>
						</a>
					</div>
				</div>
			</div>
		</div>						<!-- SOUS-BANNIERE -->
		<div id="sous_banniere">
			<div id="txt_sous_banniere">	<!-- Limiter le texte à 297 caractères !! [Sous risque de bug] -->
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse semper, arcu non rhoncus fermentum,
				nisl odio semper pede, a pellentesque erat dui sit amet elit. Sed pede est, tempus a, fringilla eu, suscipit eget,
				lorem. In feugiat suscipit dolor. Lorem ipsum dolor sit amet, consectetuer. AA
			</div>
			<div id="bouton-ban">
				<input type="button" id="precedent" alt="bouton précédent" title="Information précédente"/>
				<span class="number">02</span>|<span class="number">10</span>
				<input type="button" id="suivant" alt="bouton suivant" title="Information suivante"/>
			</div>
		</div>
		
	<div id="corps"><!-- Regroupe la TOTALITE de la page web à l'exception des bannières-->	
		<div id="menu">				<!-- MENU PRINCIPAL-->	
				<ul>		
					<li><a href="menu_liens/gestion_entreprise.html">Gestion de l'entreprise</a></li>
					<li><a href="menu_liens/entreprise.html">L'entreprise</a></li>
					<li><a href="menu_liens/ressource_humaine.html">Ressources Humaines</a></li>
					<li><a href="menu_liens/ventes.html">Ventes</a></li>
					<li><a href="menu_liens/productions.html">Productions</a></li>
					<li><a href="menu_liens/achats.html">Achats</a></li>
					<li><a href="menu_liens/equipements.html">Equipements</a></li>
					<li><a href="menu_liens/finances.html">Finances</a></li>
					<li><a href="menu_liens/bibliotheque.html">Bibliothèque</a></li>
					<li><a href="menu_liens/administration_intranet.html">Administration de l'Intranet</a></li>
				</ul>
		</div>

		<div id="page">			<!-- CONTENU DE LA PAGE -->
								<!-- MENU SECONDAIRE 	-->
			<div id="menu_secondaire">
			<div id="ombre">
					<div id="menu_secondaire_contenu">
						<h4 id="menu_secondaire_header"><span class="gris">Second</span> <span class="bleu">Menu</span></h4>
						<p>	<span id="recherche">Recherche :</span><br />
							<input type="text" /><br />
							<input type="button" class="bouton_defaut" value="rechercher" />&nbsp;<a href="#" class="help">Rechercher avancée</a> <br />
							<a class="default-button" href="#">
								<span>un bouton par defaut</span>
							</a>
						</p>
						<h4><span class="gris">Liens</span> <span class="bleu">utile</span></h4>
						<div id="lien">
							<ul>
								<li><a href="#">Lien N°1</a></li>
								<li><a href="#">Lien N°2</a></li>
								<li><a href="#">Lien N°3</a></li>
							</ul>
						</div>
						<h4><span class="gris">Action</span> <span class="bleu">possibles</span></h4>
						<ul>
							<li id="view"><a href="#">Voir</a></li>
							<li id="add"><a href="#">Ajouter</a></li>
							<li id="modif"><a href="#">Modifier</a></li>
							<li id="del"><a href="#">Supprimer</a></li>
						</ul>
					</div>
			</div>
			</div>
			<div id="page_contenu">

						<!-- MENU HORIZONTAL -->
<!--Conseil :____________________________________________
			écrire le menu de bas en haut pour avoir	|
			un ordre hiérarchique de gauche à droite    |
			____________________________________________|-->
				<div id="menu_horizontal">
					<a class="bouton_menu_x" href="">
						<span>Clôturé récemment</span>
					</a>
					<a class="bouton_menu_x" href="">
						<span>Facturation</span>
					</a>
					<a class="bouton_menu_x" href="">
						<span>SAS de facturation</span>
					</a>
					<a class="bouton_menu_x" href="">
						<span>Production</span>
					</a>
					<a class="bouton_menu_x" href="">
						<span>SAS de production</span>
					</a>
					<a class="bouton_menu_x" href="">
						<span id="bouton_menu_x_debut">Etude commercial</span>
					</a>					

				</div>
				
				<h1>Page d'accueil (H1)</h1>
<!--				<div id="error_container">
						<span id="message_error">
							<span>Une ou plusieur erreurs ont été détéctées !<br />
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi sem dui, vehicula non, viverra id,
							adipiscing sit amet, dolor. Mauris vel nibh. Pellentesque dictum magna nec orci. Donec est.
							Suspendisse non magna. Curabitur egestas nisi sed lacus. Cum sociis natoque penatibus et magnis dis
							parturient montes, nascetur ridiculus mus.</span>
						</span>
				</div>	 -->
<!-- -->				<div id="exclamation_container">
						<span id="exclamation_error"><span>Votre demande a été pris en compte !</span></span>
						</div>	<!-- -->
				<div class="frame">
					<h2>Titre H2</h2>
					<h3>Sous-titre H3</h3>
							<table class="matable">
								<tr>
									<td>Nom</td>
									<td> : <strong>MAREBAM <a href="">(voir la fiche complète)</a></strong></td>
									<td>Forme Juridique&nbsp;</td>
									<td> : <strong>SAS</strong></td>
								</tr>
								<tr>
									<td>Secteur d'activité&nbsp;</td>
									<td> : <strong>Commerce</strong></td>
									<td>N° Sirret</td>
									<td> : <strong>42136250000025</strong></td>
								</tr>
								<tr>
									<td>Activité</td>
									<td> : <strong>Vendeur d'articles de sport en magazin spécialisé&nbsp;&nbsp;&nbsp;</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Enseignes</td>
									<td> : <strong>Décathlon, GO Sport</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>Etablissement</td>
									<td> : <strong>10</strong></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						
						<h3>Statistiques</h3>
							<table class="matable">
								<tr>
									<td>Nombre de ventes réalisées au total&nbsp;</td>
									<td> : <strong>5</strong></td>
								</tr>
								<tr>
									<td>client depuis</td>
									<td> : <strong>2 ans et 3 mois</strong></td>
								</tr>
								<tr>
									<td>Note</td>
									<td> : <img alt="star" src="images/star.png" />
									<img alt="star" src="images/star.png" />
									<img alt="star" src="images/star.png" />
									<img alt="star black" src="images/star_black.png" />
									<img alt="star black" src="images/star_black.png" /></td>
								</tr>
							</table>
					</div>
					<div class="frame">
						<!-- FORMULAIRE -->
						<h2>Formulaire</h2>
						<h3>Exemple de Formulaire :</h3>
						<form id="monForm" action="#" method="post">
						    <fieldset>
						        <legend>Informations personnelles</legend>
						        <p>
						            <label for="form_firstname">Prénom : </label>
						            <input type="text" id="form_firstname" name="firstname" tabindex="10" />
						        </p>
						        <p>
						            <label for="form_lastname">Nom : </label>
						            <input type="text" id="form_lastname" name="lastname" tabindex="20" />
						        </p>
						        <p>
						            <label for="form_gender">Sexe : </label>
						            <input type="text" id="form_gender" name="gender" tabindex="30" />
						        </p>
							<div id="birth">
								<p>
						            <label for="form_birthday">Date de naissance : </label>
										<input type="text" id="form_birthday" name="day" tabindex="40" />/
										<input type="text" name="month" tabindex="50" />/
										<input type="text" name="year" tabindex="60" />
										<span class="under_form">(DD/MM/YYYY)</span>
						        </p>
							</div>
						        <p>
						            <label for="form_address">Adresse : </label>
						            <input type="text" id="form_address" name="address" tabindex="70" />
						        </p>
						        <p>
						            <label for="form_postal_code">Code postal : </label>
						            <input type="text" id="form_postal_code" name="postal_code" tabindex="80" />
						        </p>
						        <p>
						            <label for="form_city">Ville : </label>
						            <input type="text" id="form_city" name="city" tabindex="90" />
						        </p>
						        <p><span class="fieldWithErrors">
						            <label for="form_country">Pays : </label>
						            <select id="form_country" name="country">
						                <optgroup label="Amérique">
						                    <option value="ca">Canada</option>
						                    <option value="us">États-Unis</option>
						                </optgroup>
						                <optgroup label="Europe">
											<option value="al">Allemagne</option>
											<option value="en">Angleterre</option>
						                    <option value="be">Belgique</option>
						                    <option value="es">Espagne</option>
											<option value="fr">France</option>
											<option value="it">Italie</option>
										</optgroup>
										<optgroup label="Autre">
											<option value="re">Réunion (île de la)</option>
						                </optgroup>
						            </select>
									</span>
						        </p>
						    </fieldset>

						    <fieldset>
						    <legend>Compte</legend>
						        <p>	<span class="fieldWithErrors">
						            <label for="form_login">Identifiant : </label>
						            <input type="text" id="form_login" name="login" tabindex="100" />
						        	</span>
								</p>
						        <p>
						            <label for="form_password">Mot de passe : </label>
						            <input type="password" id="form_password" name="password" tabindex="110" />
						        </p>
						        <p>
						            <label for="form_password2">Confirmer le mot de passe : </label>
						            <input type="password" id="form_password2" name="password2" tabindex="120" />
						        </p>
						        <p>
						            <label for="form_question">Question secrète : </label>
						            <input type="text" id="form_question" name="question" tabindex="130" />
						        </p>
						        <p>
						            <label for="form_response">Réponse : </label>
						            <input type="text" id="form_response" name="response" tabindex="140" />
						        </p>
						        <p>
						            <label for="form_mail">Adresse email : </label>
						            <input type="text" id="form_mail" name="mail" tabindex="150" />
						        </p>
						    </fieldset>
						    	<p>
						        	<input type="submit" class="bouton_defaut" name="submit" />
							       	<input type="reset" class="bouton_defaut" name="reset" />
						    	</p>
						</form>
					</div>
					<div class="frame">
						<h2>Tableau</h2>
						<h3>exemple de tableau :</h3>
						<div id="tab01">
							<table>
								<caption>Historique des dernières ventes</caption>
								<tr>
									<th class="impair">Date de facturation</th>
									<th class="impair">Etablissement</th>
									<th class="impair">Produit</th>
									<th class="impair">Prix total de vente</th>
									<th class="impair">Ratio de la marge réalisée</th>
								</tr>
								<tr>
									<td class="pair">22 Mai 2008</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
								<tr>
									<td class="impair">14 Mars 2008</td>
									<td class="impair">Décathlon Sainte Suzanne</td>
									<td class="impair">Totem 6m, bandeaux lumineux ...</td>
									<td class="impair">10.000€</td>
									<td class="impair">30%</td>
								</tr>
								<tr>
									<td class="pair">05 Janvier 2008</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
								<tr>
									<td class="impair">22 Mai 2007</td>
									<td class="impair">Décathlon Sainte Suzanne</td>
									<td class="impair">Totem 6m, bandeaux lumineux ...</td>
									<td class="impair">10.000€</td>
									<td class="impair">30%</td>
								</tr>
								<tr>
									<td class="pair">10 Mars 2007</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
								<tr>
									<td class="pair">...</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
								<tr>
									<td class="pair">...</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
								<tr>
									<td class="pair">...</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
								<tr>
									<td class="pair">...</td>
									<td class="pair">Décathlon Sainte Suzanne</td>
									<td class="pair">Totem 6m, bandeaux lumineux ...</td>
									<td class="pair">10.000€</td>
									<td class="pair">30%</td>
								</tr>
							</table>
						</div>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi sem dui, vehicula non, viverra id,
							adipiscing sit amet, dolor. Mauris vel nibh. Pellentesque dictum magna nec orci. Donec est.
							Suspendisse non magna. Curabitur egestas nisi sed lacus. Cum sociis natoque penatibus et magnis dis
							parturient montes, nascetur ridiculus mus. In vel orci ut neque blandit elementum. Integer sit amet
							dolor in turpis sagittis dapibus. Suspendisse augue diam, volutpat a, cursus lacinia, faucibus vel,
							ipsum. Ut turpis ante, semper non, pellentesque vitae, iaculis vel, odio. Ut pulvinar dolor quis nisi.
							Suspendisse vel lectus. Donec ornare augue at mauris. Proin quam ipsum, scelerisque eu, vulputate non,
							faucibus vitae, orci. Vestibulum at erat. Class aptent taciti sociosqu ad litora torquent per conubia
							nostra, per inceptos himenaeos. Integer risus sem, porta id, sollicitudin et, malesuada ac, urna.
							Donec ultricies. Suspendisse potenti.
						</p>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>	Cras tempus euismod turpis. Nullam est nibh, rhoncus quis, cursus non, tincidunt luctus, enim. Ut
							sodales consequat elit. Fusce orci risus, laoreet vel, sagittis ut, porttitor eget, turpis. Nunc orci
							tortor, ultrices dictum, tempor sed, commodo et, augue. Mauris sem nunc, imperdiet at, faucibus
							laoreet, congue vel, massa. Nam molestie turpis vitae purus. Curabitur arcu dui, accumsan eget,
							pharetra ut, fermentum vitae, nisi. Maecenas quis leo. Fusce mattis ornare orci.
						</p>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>	Suspendisse volutpat luctus augue. Aliquam mollis. In elit nibh, aliquam tincidunt, hendrerit non,
							tincidunt quis, urna. Praesent mauris sapien, tincidunt non, adipiscing sit amet, lacinia sit amet,
							nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
							Praesent posuere, risus vel tempus iaculis, est urna dignissim tellus, vel lobortis arcu arcu
							tristique nulla. Sed libero. Mauris urna. Vestibulum a libero. In tellus libero, varius ac, fringilla
							non, aliquam tempor, metus. Nullam ullamcorper purus at lacus. Proin gravida nisl in turpis. Quisque
							erat erat, adipiscing ut, bibendum nec, laoreet sit amet, neque. Nulla ac pede. Vestibulum ante ipsum
							primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin nec mi.
						</p>
					</div>
					<div class="frame"><!-- CADRE -->
						<h2>Lorem ipsum dolor sit amet</h2>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>	Vivamus quis elit. Suspendisse commodo libero vel lacus. Aliquam vulputate tortor ac ipsum. Sed
							laoreet mollis justo. Fusce non mauris. Nulla laoreet. Ut luctus placerat sapien. Vestibulum tristique
							volutpat metus. Proin quis ante. Proin vulputate. Morbi et massa. Vivamus cursus porta metus. Nam erat
							ligula, bibendum ac, porttitor sed, porttitor in, orci. Vestibulum molestie interdum metus. Aliquam
							erat volutpat. Mauris tempor erat ut leo. In nulla orci, pretium ac, viverra id, sodales eget, velit.
							Suspendisse sit amet arcu.
						</p>
						<h2>Boutons</h2>
						<h3>test de bouton extensible (2 images : capuchon à gauche, zone extensible à droite)</h3>
						<p>	Voici un <strong>test</strong> de bouton : <br />
							Trop tard, il n'y a plus rien :p <br />
							Le <strong>jeudi 7 Aout à 16h34</strong>, Oxydium à terminer le design du site.
						</p>
					</div> <!-- CADRE : FIN -->
				</div> <!-- PAGE_CONTENU : FIN -->
			</div> <!-- PAGE : FIN -->
			<div id="pied_de_page">
				<div id="footer">
					<div id="menu_principal_bottom">
						<div id="footer_containt">
							<p>
								Coordonnées : <span>pae la mare - ilot 7 - n°48 - 97438 sainte-marie - la réunion </span> | 
								tél. +262 (0)2 62 53 12 89 - Fax +262 (0)2 62 53 16 42 <br />
								&copy; Tous droits réservés 2008 <br />
								<a href="http://validator.w3.org/check?uri=referer">
									<img	class="bottom_icons"
											src="images/valid-xhtml.png"
											alt="Valid XHTML 1.0 Strict" height="15" width="80" />
								</a>&nbsp;
								<img	class="bottom_icons" 
										src="images/plume-cms-powered.png"
										alt="powered by Oxydium" height="15" width="80"/>&nbsp;&nbsp;
								<img 	class="bottom_icons"
										src="images/madeonamac.png"
										alt="Made On a Mac" height="15" width="80"/>
							</p>
						</div><!--FOOTER_CONTAIN : FIN  -->
					</div><!-- MENU_PRINCIPAL_BOTTOM : FIN -->
				</div><!-- FOOTER : FIN-->
			</div><!-- PIED_DE_PAGE : FIN -->
	</div> <!-- CORPS : FIN -->
</div><!-- ALL PAGE : FIN-->
	</body>
</html>