<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
		<link rel="stylesheet" media="screen" type="text/css" title="Design" href="/stylesheets/default.css"/>
     <%= javascript_include_tag :defaults %>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>

<div id="all_page">
									<!-- BANNIERE -->
		<div id="banniere">
			<div id="logo"> 
				<span id="msg_accueil">Bonjour, Mathieu Fontaine</span>
			</div>	
			<div id="banniere_fond">
				<div id="boutons">
          <div id="button_on_banner">
            <a class="button_banner" href="rechercher/rechercher.html">
              <span>Ma page d'accueil</span>
						</a>
            <a class="button_banner" href="rechercher/rechercher.html">
							<span>Rechercher</span>
						</a>
						<a class="button_banner" href="rechercher/rechercher.html">
							<span>Se déconnecter</span>
						</a>
					</div>
				</div>
			</div>
		</div>						<!-- SOUS-BANNIERE -->
		<div id="sous_banniere">
			<div id="txt_sous_banniere">	<!-- Limiter le texte à 297 caractères !! [Sous risque de bug] -->
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse semper, arcu non rhoncus fermentum,
				nisl odio semper pede, a pellentesque erat dui sit amet elit. Sed pede est, tempus a, fringilla eu, suscipit eget,
				lorem. In feugiat suscipit dolor. Lorem ipsum dolor sit amet, consectetuer. AA
			</div>
			<div id="bouton-ban">
				<input type="button" id="precedent" alt="bouton précédent" title="Information précédente"/>
				<span class="number">02</span>|<span class="number">10</span>
				<input type="button" id="suivant" alt="bouton suivant" title="Information suivante"/>
			</div>
		</div>
		
	<div id="corps"><!-- Regroupe la TOTALITE de la page web à l'exception des bannières-->	
		<div id="menu">				<!-- MENU PRINCIPAL-->	
				<ul>
          <%= display_main_menu %>
					<!--<li><a href="menu_liens/gestion_entreprise.html">Gestion de l'entreprise</a></li>
					<li><a href="menu_liens/entreprise.html">L'entreprise</a></li>
					<li><a href="menu_liens/ressource_humaine.html">Ressources Humaines</a></li>
					<li><a href="menu_liens/ventes.html">Ventes</a></li>
					<li><a href="menu_liens/productions.html">Productions</a></li>
					<li><a href="menu_liens/achats.html">Achats</a></li>
					<li><a href="menu_liens/equipements.html">Equipements</a></li>
					<li><a href="menu_liens/finances.html">Finances</a></li>
					<li><a href="menu_liens/bibliotheque.html">Bibliothèque</a></li>
					<li><a href="menu_liens/administration_intranet.html">Administration de l'Intranet</a></li>-->
				</ul>
		</div>

		<div id="page">			<!-- CONTENU DE LA PAGE -->
								<!-- MENU SECONDAIRE 	-->
		<div id="menu_secondaire">
			<div id="ombre">
				<div id="menu_secondaire_contenu">
					<h4 id="menu_secondaire_header"><span class="gris">Second</span> <span class="bleu">Menu</span></h4>
					<p>	<span id="recherche">Recherche :</span><br />
						<input type="text" /><br />
						<a class="default-button" href="#">
							<span>Rechercher</span>
						</a>&nbsp;<a href="#" class="help">Rechercher avancée</a>
					</p>
					<h4><span class="gris">Liens</span> <span class="bleu">utile</span></h4>
					<div id="lien">
						<ul>
							<li><a href="#">Lien N°1</a></li>
							<li><a href="#">Lien N°2</a></li>
							<li><a href="#">Lien N°3</a></li>
						</ul>
					</div>
					<h4><span class="gris">Action</span> <span class="bleu">possibles</span></h4>
					<ul>
						<li class="icons_link"><a href="#"><img src="../images/view.png" alt="voir" title="voir" class="view_icon" />Voir</a></li>
						<li class="icons_link"><a href="#"><img src="../images/add.png" alt="ajouter" title="ajouter" class="add_icon" />Ajouter</a></li>
						<li class="icons_link"><a href="#"><img src="../images/modif.png" alt="modifier" title="modifier" class="modif_icon" />Modifier</a></li>
						<li class="icons_link"><a href="#"><img src="../images/del.png" alt="supprimer" title="supprimer" class="del_icon" />Supprimer</a></li>
					</ul>
					<div id="bottom_menu_secondaire">&nbsp;</div>
				</div>
			</div>
		</div>
		<div id="page_contenu">

						<!-- MENU HORIZONTAL -->
<!--Conseil :____________________________________________
			écrire le menu de bas en haut pour avoir	|
			un ordre hiérarchique de gauche à droite    |
			____________________________________________|-->
				<div id="menu_horizontal">
          <%= display_second_menu %>
				</div>
        <%= yield %>
				<div class="cadre">
					<h2>Test</h2>
					<h3>Test de bouton</h3>
					<p>
						à quel page voulez vous retourner ? <br /><br />
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/prec.png" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/suiv.png" alt="" />
					</p>
					<hr />
					<p>
					modifier un élément : <br />
					modifier une catégorie <img src="../images/folder_add_24x24.png"  alt=""/><br />
					modifier une catégorie <img src="../images/folder_add_16x16.png"  alt=""/><br />
					modifier une référence <img src="../images/feed_source_24x24.png"  alt="" />	
					</p>
				</div>
			</div> <!-- PAGE_CONTENU : FIN -->
		</div> <!-- PAGE : FIN -->
		<div id="pied_de_page">
			<div id="footer">
				<div id="menu_principal_bottom">
					<div id="footer_containt">
						<p>
							Coordonnées : <span>pae la mare - ilot 7 - n°48 - 97438 sainte-marie - la réunion </span> | 
							tél. +262 (0)2 62 53 12 89 - Fax +262 (0)2 62 53 16 42 <br />
							&copy; Tous droits réservés 2008 <br />
							<a href="http://validator.w3.org/check?uri=referer">
								<img	class="bottom_icons"
										src="images/valid-xhtml.png"
										alt="Valid XHTML 1.0 Strict" height="15" width="80" />
							</a>&nbsp;
							<img	class="bottom_icons" 
									src="images/plume-cms-powered.png"
									alt="powered by Oxydium" height="15" width="80"/>&nbsp;&nbsp;
							<img 	class="bottom_icons"
									src="images/madeonamac.png"
									alt="Made On a Mac" height="15" width="80"/>
						</p>
					</div><!--FOOTER_CONTAIN : FIN  -->
				</div><!-- MENU_PRINCIPAL_BOTTOM : FIN -->
			</div><!-- FOOTER : FIN-->
		</div><!-- PIED_DE_PAGE : FIN -->
	</div> <!-- CORPS : FIN -->
</div><!-- ALL PAGE : FIN-->
	</body>
</html>