<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
		<link rel="stylesheet" media="screen" type="text/css" title="Design" href="fichier_css/style_login.css"/>
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
		<title>Espace Login - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>
		<div id="banniere">
			<div id="logo"></div>	
			<div id="sous-banniere"></div>
		</div>

		<div id="login_cadre">
			<div id="cadre_up">
				<div id="gauche-haut"></div>
				<div id="milieu-haut">
					<h4>Bienvenue dans l'administration de l'intranet <abbr title="Enseigne, Maintenance Réunion">EMR</abbr>.</h4>
				</div>
				<div id="droit-haut"></div>
				
			</div>
			<div id="cadre_middle">
				<div id="gauche-milieu"></div>
				<div id="milieu-milieu">
					<div id="cadre_contenu">
						<br/> <span class="champs">Nom d'utilisateur&nbsp;&nbsp;:</span>
						<input type="text" name="username" value="Login"/>
						<br/> <input class="submit" type="submit" alt="submit button" title="s'enregistrer" value="login"/>
						<br/> <span class="champs">Mot de passe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
						<input type="password" name="password" value="password"/>
					</div>
				</div>
				<div id="droit-milieu"></div>
			</div>
			<div id="cadre_down">
				<div id="gauche-bas"></div>
				<div id="milieu-bas">
					<br/> <a href="adresse_renvoyant_mdp" title="Cliquez ici en cas de perte de mot de passe.">mot de passe oublié ?</a>
				</div>
				<div id="droit-bas"></div>
			</div>
		</div>
		<div id="pied_de_page">
		</div>
	</body>
</html>

