<%= generate_purchase_order_contextual_menu_partial %>
<% cancelled = params['filter'] == PurchaseOrder::STATUS_CANCELLED %>

<h1>Liste des ordres d'achats terminés</h1>
<div>
  <% if @closed_purchase_orders.empty? %>
    <p>Aucun ordre d'achats terminés</p>
  <% else %>
    <table class="no_nth">
      <thead>
        <%= render :partial => "array_head" %>
      </thead>
      <tbody>
        <%= render :partial => "closed_purchase_order_in_one_line", :collection => @closed_purchase_orders  %>
      </tbody>
    </table>
    <%= will_paginate @pending_purchase_orders %>
  <% end %>
</div>
