<%= generate_pending_purchase_order_contextual_menu_partial %>

<h1>Liste des ordres d'achats en cours</h1>
<div>
  <% if @pending_purchase_orders.empty? %>
    <p>Aucun ordre d'achats en cours</p>
  <% else %>
  <table class="no_nth">
    <thead>
      <tr>
        <th rowspan = "2">R&eacute;f&eacute;rence</th>
        <th rowspan = "2">Date de cr&eacute;ation</th>
        <th rowspan = "2">Status</th>
        <th rowspan = "2">Depuis le</th>
        <th rowspan = "2">Achat</th>
        <th rowspan = "2">Origine</th>
        <th rowspan = "2">Fournisseur</th>
        <th colspan = "4">Colis</th>
        <th rowspan = "2">Demandes associ&eacute;es</th>
        <th rowspan = "2">Prix total</th>
        <th rowspan = "2">Pay&eacute;</th>
        <th rowspan = "2">Action</th>
      </tr>
      <tr>
        <th>R&eacute;f&eacute;rence</th>
        <th>Livraison prévue le</th>
        <th>Statut</th>
        <th>Depuis le</th>
      <tr>
    </thead>
      <tbody>
        <%= render :partial => "pending_purchase_order_in_one_line", :collection => @pending_purchase_orders  %>
        <%= will_paginate @pending_purchase_orders %>
      </tbody>
  </table>
  <% end %>
</div>
